[2018-11-22 15:00] cmyr commented on #458
@eyelash 👍

[2018-11-23 02:31] cmyr commented on #826
Pardon the delay, and thanks for continuing to refine this! I've been thinking about this a bunch this week, because I've fallen down a bit of a rabbit hole thinking about selections and how they interact with undo.

I think you're right that finding a perfect abstraction here isn't really that feasible.

I also think that the 'destination' concept is interesting, but I'm not sure if it offers us

[2018-11-24 23:31] cmyr commented on #883
Oops yea those look awfully familiar. Not sure how relevant they are for this, but certainly interesting.

[2018-11-25 00:38] sjoshid commented on #922
@cmyr
Latest commit (will remove `info!`s before PR) will give you a brief idea of how Im doing this. If I have not followed Rust/xi rules please point them out.

One issue Im still working on: Xi tails even when I run without notify. This condition `if cfg!(feature = "notify")` is always true no matter I run xi with or without notify. Looks like some compile magic I dont know but Im looking into

[2018-11-25 00:50] ryanbloom commented on #883
The way I currently have it set up, a `xiTheme` is just a`tmTheme` run through a plist-to-JSON converter. Is that what you meant by "preserve the rest of the theme's structure"?

Xi parses the file as JSON, then converts it to a `syntect::highlighting::Theme` with [`syntect::highlighting::Theme::parse_setttings`](https://github.com/trishume/syntect/blob/master/src/highlighting/theme.rs#L418), whic

[2018-11-25 01:31] jansol commented on #922
I'm somewhat surprised that even compiles as I've only ever seen `cfg()`  in attributes. But yes, that refers to cargo features which are enabled or disabled at build time, not xi's configuration file.

[2018-11-25 16:46] cmyr commented on #883
Yea that's what I meant, and yea the terms are confusing. Keeping 'settings' as a raw dict is a reasonable approach I think, and/or we can define a new type for that in core.

[2018-11-25 16:50] cmyr commented on #922
@sjoshid Can you open a PR with this, and then I'll take a look?

[2018-11-26 00:04] sjoshid commented on #922
I created a PR but it is failing because of rustfmt. So I tried formatting using that but ran into another issue.
_Error: Decoding config file failed:
invalid type: string "Max", expected a boolean for key `use_small_heuristics`
Please check your config file._

[Rustfmt config](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#use_small_heuristics) documentation is correct. Looks

[2018-11-26 00:10] cmyr commented on #922
I suspect this is related to the version of rust you're running; we run `1.29.2` in CI, you can set this for the project with `rustup override set 1.29.2`

[2018-11-26 00:46] sjoshid commented on #922
That was it. Thanks.

[2018-11-26 01:10] cmyr commented on #922
@sjoshid Okay, so I think that for now it makes more sense to have 'tail' be something that we can turn on for already-open files; this should be simpler to implement and test; I'd just add a `debug_toggle_tail` RPC, and use that to enable/disable the feature.

I'm not sure what's going on with notify, however I wouldn't use that feature to determine whether this is enabled; `notify` should be set

[2018-11-26 02:51] sjoshid commented on #922
Sounds good.
Some responses below:

I did fiddle with notify initially, but later realized notify is turned on by default. Main reason why im checking if it's on/off is to make sure I don't break things I dont know about (like fuchsia). Im referring to `open` method in file.rs where if I dont do the check will give unexpected results in fuchsia.

Valid point. Im on Linux using xi-gtk so behavior I

[2018-11-26 02:52] sjoshid commented on #922
Ohh and I just remembered, I already had something similar to debug option you are talking about. It's in struct TailDetails called `is_tail_mode_on` .

[2018-11-26 04:35] cmyr commented on #922
Ah okay I didn't realize you were on xi-gtk. You're correct that if you edit the file tail will get 'cancel'ed (it will still try to reload but will abort when it sees there are unsaved changes) so maybe this is reasonable behaviour.

When I talk about a 'debug' setting I mean an RPC, prefixed with 'debug', that we can test the feature with. This is an internal convention for things that are still

[2018-11-26 12:51] sjoshid commented on #922
Sounds good. Will make necessary changes in same PR.

On Sun, Nov 25, 2018 at 11:35 PM Colin Rofls <notifications@github.com>
wrote:

--
Thank you.
- Sujit Joshi.

[2018-11-26 17:48] cmyr opened #1015 "Deprecate `CancelOperation`, add `CollapseSelection` and `UnsetFind` RPCs"
Currently `CancelOperation` is a general purpose RPC that corresponds to the user pressing <kbd>esc</kbd>. This is tricky, because the correct behaviour is very dependent on other state, such as the presence of find highlights etc.

I think that this should be replaced with specific commands for specific pieces of behaviour. The first two obvious ones would be `UnsetFind`, and `CollapseSelection`.

[2018-11-26 23:58] scholtzan commented on #1015
I was wondering what the behaviour of `UnsetFind` actually should be. Is it just that the search string gets deleted or should additionally all settings (regex, case-sensitvity, ...) get reset? `CancelOperation` is currently doing the latter.
Usually, <kbd>esc</kbd> in combination with find seems to only hide the search bar. But maybe having `UnsetFind` might be useful in some context.

[2018-11-27 00:01] cmyr commented on #1015
I think we probably want to persist those other settings in general, and mostly just clear the highlights and the active search string? I think we should just try to match the behaviour of existing editors at this point. If I were implementing I would just go and look at existing editors and try to match whatever felt best. 🤷‍♂️

[2018-11-27 00:05] scholtzan commented on #1015
Okay, in this case I think we won't need `UnsetFind`. The behaviour can easily reproduced with the existing `find` or `multi_find` RPCs for which we'd just remove the search strings.

[2018-11-27 00:07] cmyr commented on #1015
Okay great, I wasn't sure how that worked.

[2018-11-27 04:54] #1015 closed

[2018-11-29 20:47] #993 closed

[2018-11-29 23:40] #795 closed

[2018-11-30 12:37] skyne98 commented on #659
@cmyr, hey, any progress? What is the state of LSP support in Xi? Thanks!

[2018-11-30 12:42] jansol commented on #659
Many (most?) bits have PRs that at least were in a relatively working state. However they got kind of stuck in a discussion of how these things should be communicated to the client... The annotations PR (#1010) is one step towards specifying that.

[2018-12-01 02:52] #925 closed

[2018-12-01 20:37] cmyr commented on #659
@skyne98 there was a bunch of exploratory work on this this summer, but the conclusion of that was that we should step back and work on incrementally adding support for the features that will _enable_ LSP support in the future. The issue linked above is a first step there.

[2018-12-05 21:56] cmyr commented on #1022
On further exploration, this is a bug in how core handles the last soft break before a hard break.

[2018-12-06 02:15] #1022 closed

[2018-12-06 17:13] cmyr opened #1024 "Add is_empty fn to xi_rope::Node<N>"
I've wanted this at various times, and should be easy enough? This should be pat of the generic implementation.

[2018-12-08 19:31] cmyr opened #1028 "replace Engine::delta_rev_head with try_delta_rev_head return a Result"
This function can crash trivially, and is exposed publicly. It should be treated like how we treat `try_edit_rev` as of #993, returning a result that can be handled as appropriate by the caller.

Closing this issues closes #455.

[2018-12-08 22:36] cmyr opened #1030 "adopt Rust 2018"
We'll want to do this eventually, and I don't see any real reason to wait. 🤷‍♀️

[2018-12-10 07:05] #650 closed

[2018-12-12 17:22] mninja commented on #302
I'm currently working on a vi-like frontend for xi and would like to echo some of the thoughts brought up in this issue.

Mainly, I don't think it's scalable for xi-core to handle modal editing or vi commands, unless the intent is for xi-core to be a vi clone and for all frontends to support it. Here are some of the problems I see, most of these have been brought up already:
* xi-core itself will

[2018-12-13 04:19] #1030 closed

[2018-12-13 04:28] scholtzan opened #1035 "Make `get_line_range` in view return `RangeInclusive` instead of `Range`"
Rust 2018 adds support for [inclusive ranges](https://rust-lang-nursery.github.io/edition-guide/rust-2018/data-types/inclusive-ranges.html). Currently, [`get_line_range` returns `Range`](https://github.com/xi-editor/xi-editor/blob/eeefad4fd6fb357f0e99c6c0cd78cb73e1a17617/rust/core-lib/src/view.rs#L1120), however it should be possible to change this to `RangeInclusive`. Changing this would also all

[2018-12-13 05:14] tmandry commented on #302
I would be concerned if changing particular how an editor command behaved required a change to the primitive in xi-core.

Talking about vi emulation specifically, these nuances of how a particular motion/action works in specific contexts are what I've seen many vi emulations wrestle with. These are what create the "uncanny valley" that someone referenced earlier. In my opinion, tweaking this has t

[2018-12-13 18:02] mninja commented on #302
I'm not sure that changing primitives would be necessary. Are there so many different possible meanings of "move left" that it's not feasible to provide all of them as primitives? Or do you mean if someone wants to make arbitrary changes to their keybinds?

I think composing make sense overall, but I'm not sure how you would compose something like "move one character directly down, including word

[2018-12-14 05:51] tzvipm commented on #1024
I'd love to take a stab at this one. Could be a good starting point for me to get the repo set up locally, run tests, etc.

[2018-12-14 06:22] tzvipm opened #1036 "run_all_checks failing on master"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

## Expected vs Actual

Expected `xi-editor/rust/run_all_checks` to exit with `0` status.

Actual: errors via `rustfmt` and `clippy` prevent test suite from running (unit test pass with `cargo test --all`)
[code]

[2018-12-14 06:33] tzvipm commented on #1036
looks like the fix is to simply:
1. run `rustfmt` on the file mentioned
2. apply https://rust-lang.github.io/rust-clippy/master/index.html#deprecated_cfg_attr via global find/replace

PR coming up shortly

[2018-12-14 06:54] tzvipm commented on #1002
@cmyr would this perhaps better fall under a more generic `reformat` command that would communicate with a language service? I'm thinking this sounds a lot like `rustfmt` / `prettier` only a bit more simplistic.

[2018-12-14 07:02] tzvipm opened #1039 "Performance metrics and regression tracking"
From the October 2018 Roadmap in #937:

[2018-12-14 07:09] tzvipm commented on #1039
From the README:

[2018-12-14 17:04] jansol commented on #1039
What are you trying to say?

[2018-12-14 17:06] tzvipm commented on #1039
Sorry, @jansol, I am trying to say that I'd like to take a stab at some performance benchmarks. Unfortunately, there wasn't any issue for that, so I made one.

[2018-12-14 17:30] jansol commented on #1039
Yes.

[2018-12-14 17:30] #1039 closed

[2018-12-14 20:15] scholtzan commented on #1004
Fixed (or added) in https://github.com/xi-editor/xi-editor/pull/1040

[2018-12-15 11:15] maxnordlund commented on #302
I believe what is needed is some form of transactions. "Change these ranges to XYZ and move the cursor(s) to these ranges"

[2018-12-15 20:43] cmyr opened #1043 "add 'BaseMetric' associated type to NodeInfo"
Currently metrics are always passed explicitly, even though the base metric for a given tree type doesn't change. Currently, for instance, measuring the number of lines in the first 1000 bytes of a rope requires:

[code]

This gets verbose, and makes certain kinds of API hard to write, without expecting the user to pass around numerous metric types. If a given tree impl had a known base metric, we

[2018-12-15 20:45] cmyr commented on #1002
@tzvipm I think these are separate but related. This is specifically about running the existing indent rules against a batch of lines, but not doing any fancy formatting; it would be more general purpose. Those other tools definitely have their place as well (and where they exist they may make this irrelevant) but I still think this is a useful independent feature.

[2018-12-15 20:46] cmyr commented on #1039
@tzvipm I think this is a great project, and am happy to chat about it!

[2018-12-15 21:15] cmyr opened #1045 "Plugin events can arrive before view setup completes"
During #1041, I noticed a race condition I hadn't encountered before: plugins can theoretically send events to core that are addressed to a view that has been created but hasn't finished initializing (view initialization, for complicated reasons, is a two-part process.)

The only event that this is ever likely to happen with is `plugin_exit`, since that's the only event that can happen immediately

[2018-12-15 21:29] cmyr opened #1046 "Fix compiler warnings on 1.31"
Currently on 1.31 I'm seeing a few new compiler warnings in `rope/src/engine.rs` and `trace-dump/src/lib.rs`; these should show up if you `cargo test --all`. It would be nice to make the suggested changes.

[2018-12-15 21:47] fominok commented on #1035
Tried to return `RangeInclusive`, but `ExactSizeIterator<usize>` is not implemented for it, while on `editor.rs:474` it is required for a `.len()` method.

[2018-12-15 23:01] cmyr commented on #1035
@fominok hm, okay cool, thanks for looking into this!

[2018-12-15 23:01] #1035 closed

[2018-12-16 01:11] #1045 closed

[2018-12-16 15:40] #1046 closed

[2018-12-16 16:45] cmyr commented on #302
Firstly: I think the `xi-vi-mode` component is very similar to the approach I've been thinking about, where raw input can optionally be handled by some class of 'input plugin', that handles mapping events and tracking other mode-specific state.

Secondly: This touches on one of the major untouched corners of the project, which is keybindings and key mapping in general. To date, we've really punted

[2018-12-16 20:03] tzvipm commented on #1036
@cmyr, it prompted me to download the nightly versions of rustfmt and clippy when they weren’t installed initially. I was trying to downgrade to the stable versions, but couldn’t figure out how.

[2018-12-16 22:00] cmyr commented on #1036
Want to ping me on zulip when you have a chance and we can walk through this together?

[2018-12-17 00:11] cmyr opened #1050 "Cursor should not return `Some` at end of tree if not a boundary?"
Although it is [documented](https://github.com/xi-editor/xi-editor/blob/master/rust/rope/src/tree.rs#L632), I think the current behaviour is unexpected and likely to cause bugs.

`next` takes a metric; it seems reasonable to me that the EOF case is handled by checking whether EOF is a boundary in the given metric.

cc @raphlinus

[2018-12-17 02:35] #455 closed

[2018-12-17 02:35] #1028 closed

[2018-12-17 03:11] cmyr commented on #666
this is less relevant now that we're mostly using zulip.

[2018-12-17 03:11] #666 closed, assigned to nobody

[2018-12-17 03:12] cmyr commented on #249
🐍🔫

[2018-12-17 03:12] #249 closed

[2018-12-17 03:19] cmyr commented on #328
closed by #906

[2018-12-17 03:19] #328 closed

[2018-12-17 03:20] #377 closed

[2018-12-17 04:46] jansol commented on #1050
Seems like a custom enum could make sense there. Say,
[code]

[2018-12-17 04:51] cmyr commented on #1050
I think the way the cursor API is presented (`next` is specific to a given metric) means it makes sense to only include results that are boundaries in that metric.

[2018-12-17 05:13] tzvipm commented on #1036
Turns out the issues I encountered were due to me using nightly rust. The script works as expected on the stable channel.

[2018-12-17 05:13] #1036 closed

[2018-12-17 06:26] jansol opened #1051 "Create necessary infrastructure for benchmarking in CI"
As per our new roadmap (#937), we want to keep track of performance and thus need some setup for easily creating and running benchmarks. As suggested in the roadmap, the first step would be to create a xi-bench crate that has access to all necessary subcrates for end-to-end benchmarking and a basic test harness that deals with launching a core etc.

[2018-12-17 06:33] jansol commented on #844
@LiHRaM what's the status of this?

[2018-12-17 06:38] jansol commented on #763
Hmm actually this seems like mostly a client issue? Handling drag gestures and sending new cursor requests to core.

[2018-12-17 06:39] jansol commented on #647
Should this be closed in favor of #933?

[2018-12-17 06:42] jansol commented on #193
Related to #1051

[2018-12-17 06:55] jansol commented on #852
Does stable rustfmt have the fix yet?

[2018-12-17 07:08] jansol commented on #503
@mpcm tbh I'm not familiar at all with jsonrpc, would you mind opening a PR with your suggested wordings? (Sorry to have let this go unnoticed for so long)

[2018-12-17 08:57] tzvipm commented on #1051
I’d love to start investigating this, and take a stab at it. I’m still new to the project, so it might take me a little longer to ramp up with it.

[2018-12-17 09:37] LiHRaM commented on #844
@jansol I'd sort of considered this a done deal when you added support for Windows on Travis, as it is the ideal solution right now. (Turns out the MSVC tools are subject to license in docker containers, see [here](https://blogs.msdn.microsoft.com/vcblog/2018/08/13/using-msvc-in-a-docker-container-for-your-c-projects/).)

Anyway, the official rust team is still working out some kinks with supporti

[2018-12-17 11:46] jansol commented on #844
Let's close this then. We can open a new issue once we know we can do better.

[2018-12-17 11:46] #844 closed

[2018-12-17 15:40] ryanbloom commented on #763
I think of this feature as a special case of rectangle selection (where you can option+drag horizontally as well as vertically). Rectangle selection looks kind of tricky; it'll probably require some width-measurement stuff that I haven't figured out yet. But at some point I think we'll want it to be a type of gesture in the core.

[2018-12-17 17:36] #1004 closed

[2018-12-17 19:40] cmyr opened #1053 "incremental line breaking follow-up"
I'm going to merge #1041 shortly, but there are definitely some rough edges. This is a list of things I'd like to look into improving about the current behaviour:

- [ ] Figure out how not to make things jitter during rewrap. The main problem, here, is that when we rewrap above the visible region we're changing the total number of lines in the linecache, without changing what the frontend believes

[2018-12-17 21:38] #610 closed

[2018-12-18 03:00] #962 closed

[2018-12-18 03:16] #1001 closed

[2018-12-18 07:20] scholtzan commented on #1002
I think this should do it: https://github.com/xi-editor/xi-editor/pull/1057

[2018-12-18 16:38] euclio commented on #974
I don't think so, I think the RPC and the vim motion have different concepts of paragraph. The vim motion will essentially move to the next blank line, while I think the RPC will move to the new newline?

[2018-12-18 16:58] jansol commented on #93
Closing in favor of #302

[2018-12-18 16:58] #93 closed

[2018-12-18 17:43] #184 closed

[2018-12-18 18:19] scholtzan opened #1058 "Incremental find"
Using find in large files is very slow. To get better performance, it would make sense to make search incremental.

https://github.com/xi-editor/xi-editor/issues/504

[2018-12-18 18:24] jansol opened #1059 "Crash in rewrap"
I was playing around and decided to load the example file linked in the OP of xi-editor/xi-mac#20 and turns out this reliably crashes xi-core:
[code]

[2018-12-18 19:53] #1002 closed

[2018-12-20 03:43] cmyr opened #1061 "Fix Cursor::prev calling compute_info unnecessarily"
In certain pathological cases (a large number of nodes and a small number of boundaries in a given metric) `Cursor::prev` can exhibit very poor performance because it calls `compute_info` on each node. This came up when I was looking into #1059; unrelated to the crash, wrapping really long lines was visibly slow, and this came up in the profiler.

There's a TODO in the code, so this is mostly just

[2018-12-20 03:49] cmyr opened #1062 "Cursor::next with pos == 0 returns None unexpectedly"
The current behaviour for Cursor::next is to always return `Some(len)` (where `len` is the length of the tree) when reaching the end of the tree. Whether or not this is the best behaviour is up for debate, but in any case the current behaviour can fail unexpectedly in some cases. The following test case is an illustration,  using as input the file linked in https://github.com/xi-editor/xi-mac/issu

[2018-12-20 16:15] cmyr opened #1063 "Docs are unclear about adjusting logical line numbers during update"
See this comment:
https://github.com/xi-editor/xi-editor/pull/1056#discussion_r243215672

[2018-12-20 19:16] scholtzan commented on #1003
Would it make sense to add some helper methods checking if a line is a block or line comment in syntect. Something similar to `decrease_indent`/`increase_indent`. Or should this better be done only in the plugin by using the comment regexes that `metadata` provides?

[2018-12-21 02:50] cmyr commented on #1003
Good question. My policy has been to touch syntect as little as possible with this work; so my inclination would be to implement these helpers in the plugin first, and then if they're really useful we can think about PRing them upstream? AFAIK we're the only user of this metadata feature, so I don't want to add a bunch of code to syntect that we end up being the only user of, because it's harder f

[2018-12-21 21:00] #1062 closed

[2018-12-21 21:01] cmyr commented on #1059
closed by #1064

[2018-12-21 21:01] #1059 closed

[2018-12-22 09:29] eyelash opened #1067 "Inform the front-end about the total number of logical lines"
Right now the front-end has no way of knowing the total number of logical lines. This information is needed for example to compute the correct gutter width.

[2018-12-22 14:46] eyelash opened #1068 "Add custom syntax support"
Similar to #637 but for syntaxes instead of themes.

I also noticed that syntax highlighting is missing for *.toml and *.xiconfig files which should probably be working out of the box.

[2018-12-22 20:09] mpcm commented on #503
No worries, I think I only ended up here because someone pointed it out somewhere else in another context. I'll open a PR once I can update the text...

[2018-12-22 21:55] cmyr commented on #1067
Yep good call. I'll add this along with 'width of the widest line' as the next batch of this work.

[2018-12-23 16:33] daubaris commented on #975
Could you please elaborate on this issue? I would love to work on this one :+1:

[2018-12-23 17:03] cmyr commented on #1068
Yea, I think we're about ready for this. It would also be nice to ship with our own set of default syntaxes; in particular I'd like syntaxes for git stuff (commit messages in particular) and toml is a clear omission.

If someone is interested in working on this, I'm happy to mentor; the main thing to do is go look at how syntect handles loading syntax files.

[2018-12-23 17:10] cmyr commented on #975
@daubaris sure!

We have a mechanism whereby we can watch certain directories and files to receive notifications when they change. You can take a look at how this currently works by starting in `tabs.rs`, with the `handle_fs_events` function. Basically we register to receive notifications for some group of files/directories, and for each registration we associate a token; then we get a callback wi

[2018-12-23 18:06] euclio opened #1069 "Collect code coverage statistics"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

It would be nice to collect code coverage statistics for the project and upload them to codecov, so we could see where we're lacking in code coverage. I don't have access to my Linux box right now so I can't test how good the reporting is, but https://github.com/xd

[2018-12-23 18:16] daubaris commented on #975
@cmyr sure! I'll sniff around first.

Also, I want to find out more about the expected end goal of this task as the title is a bit confusing (sorry about the inconvenience):
`watch plugin dir for new files` - (not quite sure what is expected)
`load/reload new or changed plugins` - think about how to load and reload the plugins?

[2018-12-23 22:39] cmyr commented on #1069
Yea, I think this would be a useful addition; if you're interested in trying to get this working let me know if there's any admin-ing I need to do.

[2018-12-24 14:48] SundarTM commented on #826
Folks, am proposing a new set of apis to handle the selections. These apis are not tightly coupled with mouse based input methods and are generic enough to handle vim/kakoune style input methods.
Comments are welcome.

**Apis that control the selection area**
- create_selection
- modify_selection
- clear_selection

**Apis that act on the selected contents**
All the edit apis like copy, delete, cut

[2018-12-24 15:45] #1050 closed

[2018-12-25 18:30] mninja commented on #302
This clarifies a lot, especially with regards of where xi is intended to sit on this. The approach makes more sense in that light but I'm still wary, especially when it comes to handling buffers that don't represent plain text.

Are there any short term plans for this? I'm currently hacking with a local xi-core that has a couple of extra movement primitives which feels like a quick win.

[2018-12-25 22:44] cmyr commented on #302
There aren't any immediate term plans. This ties into a bunch of other questions that we've had about the overall architecture of the project, and I think we'll really need a sense of that bigger picture before we can start implementing this.

That said, if you would like to PR new movement commands, we're totally receptive to that.

[2018-12-26 13:43] rtfeldman commented on #302
It's worth revisiting @palango's [comment](https://github.com/xi-editor/xi-editor/issues/302#issuecomment-302539140) about [kakoune](http://kakoune.org/) in this context.

Kakoune has a ton of overlap with vim (modal commands, movement, etc) but it uses multiple selections as a primitive.

My intuition is that implementing movement commands that facilitate nice Kakoune support would be suficient p

[2018-12-28 17:34] kanishkarj commented on #1068
@cmyr I would like to check this out.

[2018-12-30 01:38] ryanbloom commented on #835
The blog is now online at https://xi-editor.io/updates.html.

[2018-12-30 01:38] #835 closed

[2018-12-30 21:41] ryanbloom commented on #826
@SundarTM thanks for your comments. I'm in the middle of working on this at the moment, so soon we'll have some actual code to discuss. But for now:

I'm no longer convinced that "Unify selection commands" is the way to go. A little while ago I tried writing a function to handle generic changes to the selection, and it added a bunch of `match` statements without clarifying much. So I think there's

[2019-01-04 12:49] matkoniecz commented on #816
Yes, it would be nice to have explicit "It is in early stage and this editor is not ready for daily use as the main editor".

Readme has many hints leading in this direction that I now see, but making it clear would be a good idea.

[2019-01-05 04:07] #643 closed

[2019-01-05 06:43] kanishkarj commented on #1068
Hey, I have figured out how to load custom syntaxes using syntect. What should I do next @eyelash @cmyr ?

[2019-01-06 21:15] acheronfail opened #1074 "xi-syntect-plugin: incorrect `exec_path` on windows"
When building `xi-core` and `xi-syntect-plugin` on Windows, `xi-core` cannot find the `xi-syntect-plugin` and generates a File Not Found error.

I believe the cause is because of this generated manifest: https://github.com/xi-editor/xi-editor/blob/c8dbc7bde3354b2432918d643dc1ba70e57abc0b/rust/syntect-plugin/manifest.toml#L4

This fixes it and everything works:

[code]

---

Could we perhaps genera

[2019-01-07 18:18] cmyr commented on #1068
So there are at least two things I think we'll want to do. The first one is to have our own default syntax set that we support, so that we aren't relying on whatever is bundled with syntect. The second one is to have some way that the user can add additional syntaxes that will be loaded by syntect.

The first of these is easier; I think we will want to create a new repository where we keep syntax

[2019-01-07 18:30] cmyr commented on #1074
@acheronfail Maybe another solution would be to append `.exe` to all plugin paths when we're on windows? We should be able to do this when loading the manifest without much main.

We _could_ put this in `make_manifest.rs`, but that would only work for syntect; we'll need something that works for all plugins.

[2019-01-07 22:07] acheronfail commented on #1074
Would something as simple as this suffice? I didn't spend a lot of time going through the code, so I'm not sure if this is the right/only place:

[code]

[2019-01-07 23:54] cmyr commented on #1074
Yea, this would work. And you could avoid the extra clone with something like,

[code]

Although realistically a clone here is not a big issue.

In any case if you wanted to submit that patch we'd be happy to merge it?

[2019-01-07 23:56] cmyr commented on #1074
Oh: the 'right' way to do this, I think, would be a custom deserializer fn on that field, e.g. something like an annotation `#[serde(deserialize_with = "platform_exec_path")]` on the `exec_path` field of `PluginDescription`. This isn't quite as straight forward, though, so I think your solution is fine.

[2019-01-08 00:37] acheronfail commented on #1074
Good idea about using a custom deserialiser.
I’ll make a PR shortly that closes this issue.  👍

[2019-01-08 04:42] scholtzan opened #1077 "Crash when rewrapping while typing"
When pasting a very long line that is getting wrapped and continuing typing xi crashes:

[code]

[2019-01-08 04:51] scholtzan opened #1078 "LineSelect for wrapped lines"
When tripple-clicking on a wrapped line for me the expected behaviour would be that the entire logical line gets selected. Right now only the screen line gets selected.

[2019-01-08 15:07] cmyr commented on #1077
interesting, thanks!

[2019-01-08 15:34] cmyr commented on #1077
@scholtzan is this something you're able to reproduce? If so more details would be great.

[2019-01-08 16:44] scholtzan commented on #1077
Actually I think it is related to https://github.com/xi-editor/xi-editor/issues/210 and crashes regardless of whether I type.

I was trying to look at some input data: [input.txt](https://github.com/xi-editor/xi-editor/files/2737645/input.txt)

[2019-01-08 17:16] cmyr commented on #1077
what commits are you on? This looks like #1059 but that should be resolved.

[2019-01-08 17:18] scholtzan commented on #1077
The most recent one e03aa050b09cd051df6811bf261e19eedcb01a93

[2019-01-08 19:44] #1074 closed

[2019-01-09 21:20] cmyr opened #1081 "move_to_end_of_line not working on last line, without newline"
This is a regression related to the changes in cursor behaviour we've made (I suspect).

Basically: EOF used to be considered a boundary, and it isn't anymore. We probably need to explicitly use EOF if there's no next line boundary.

reproduction (in xi-mac):

- open a new file, enter some text but no newline.
- <kbd>control</kbd><kbd>a</kbd> to move to the start of line.
- <kbd>control</kbd><kbd>

[2019-01-11 19:13] #1081 closed

[2019-01-14 15:48] #1069 closed

[2019-01-14 22:06] Cogitri opened #1087 "[RFC] Reporting xi-editor version"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

## Details

As discussed in #xi over on zulipchat, xi-editor should have some version reporting mechanism, e.g. to avoid incompatibilities (one can encounter _very_ weird bugs if the syntect plugin and xi were built from different revisions).

## Implementation

Th

[2019-01-15 17:45] cmyr commented on #1087
Thinking about this, i'm not sure it makes sense for this to be an RPC, although it isn't crazy. I can think of at least two other options, though: we could either just always log the current version at startup, or we could add a `--version` argument to the binary, where it would just print it's version and exit.

Both of these would do what we want, I think, which is give us another little tool f

[2019-01-15 17:52] Cogitri commented on #1087
I'd rather opt for always logging the the current version during startup then. GXI doesn't call an xi executable but rather uses the xi-core-lib, so a `--version` argument wouldn't work for it.

[2019-01-15 17:53] cmyr commented on #1087
interesting. Are you using the gtk runloop, or are you using xi-rpc?

[2019-01-15 18:04] Cogitri commented on #1087
I'm using xi-rpc.

[2019-01-17 18:42] cmyr opened #1089 "Crash when deleting backwards?"
Just saw this on a recent build in what felt like a very innocuous situation, e.g. all ascii/latin-1, small file.

[code]

[2019-01-18 05:17] scholtzan commented on #1077
Fixed in https://github.com/xi-editor/xi-editor/commit/20bda1129f62ed4e49dc4bd99d5f68babdefdb59

[2019-01-18 05:17] #1077 closed

[2019-01-18 05:45] scholtzan commented on #1089
This should fix it https://github.com/xi-editor/xi-editor/pull/1090?

[2019-01-18 17:23] cmyr commented on #1089
This is interesting, really tab_size == 0 should not be legal. I guess what's happened here is that the tab detection has failed, somehow? That's one problem, but I'm not sure what we want to do if the user explicitly sets 0 as the tab size. One possibility is that we delete their home directory and and change their username to the 😡 emoji?

[2019-01-18 17:31] cmyr opened #1091 "autodetect whitespace can return a tab size of 0"
When autodetecting whitespace settings, we should not ever come up with a tab size of 0; we should be returning `None` in this case, and using whatever value is present in the config system.

More generally, it would be nice to start adding test cases for this functionality. We now have a [repo for testdata](https://github.com/xi-editor/test-data); it would be nice to start populating it with file

[2019-01-18 17:33] scholtzan commented on #1089
That would be one way to make the user happy ;)
Another option I was thinking about is showing an error popup similar to when a user tries to set a negative value. Or to check for `tab_size == 0` and handle these cases separately which is basically what https://github.com/xi-editor/xi-editor/pull/1090 does.

[2019-01-18 17:35] cmyr commented on #1089
yea, so i'm wondering if we can just say that the minimum valid value for tab_size is.. 1? 2? I'm not sure 1 really makes sense.

[2019-01-18 17:37] scholtzan commented on #1089
I would say 1, there might be cases where users want that.

[2019-01-18 17:39] cmyr commented on #1089
Okay, so how we'll want to do this is in config.rs, we do 'validation' just by trying to deserialize to our `BufferItems` struct. So we will need a custom [deserialize_with](https://serde.rs/field-attrs.html#deserialize_with) fn for the `tab_size` member, which returns an error if it's 0.

We'll also want to make sure that the autodetect whitespace fn can never return 0.

[2019-01-18 17:41] scholtzan commented on #1089
Sounds good. I can look into this in a bit.

[2019-01-18 20:33] Cogitri opened #1092 "'new_view' creates the file specified by 'file_path'"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

## Details

using xi-editor rev 97a60f6f6591931877e0b48c8df0340b142616cd

## Expected vs Actual

### Expected

[code]

xi-editor creates a new view but only creates `/tmp/file`  after `save` has been called for that view.

### Actual

[code]

xi-editor creates an e

[2019-01-18 20:41] Cogitri opened #1093 "Add option to terminate file with a newline"
Not 100% sure if this belongs into xi-editor, but it'd be nice if xi-editor offered an option to terminate files with a `line_ending` (newline). `git diff` without a newline at the end of a file isn't pretty (as it includes info that the file ending has been moved.

[2019-01-18 20:46] cmyr commented on #1092
I agree, i've encountered this as well and I don't think it's the correct behaviour.

[2019-01-19 06:24] scholtzan opened #1094 "Invalid config values are saved"
If an invalid config value, in `preferences.xiconfig`, for example `wrap_width = -2,` gets entered then an error popup will be shown but the value is saved. Should this be prevented?

[2019-01-19 06:48] scholtzan commented on #1091
I implemented custom deserialization for `tab_size` in https://github.com/xi-editor/xi-editor/pull/1095. I think it also prevents it from crashing since now it logs the following:

[code]

[2019-01-19 06:49] #1094 closed

[2019-01-20 19:38] cmyr commented on #1091
Cool, so it looks like this issue will no longer impact the user, but we still shouldn't be returning 0 in the first place, so will leave open. :)

[2019-01-20 19:39] cmyr commented on #1094
We don't have a good mechanism for this, right now; the config file is just a file, and we need the save to happen for us to know we should reload the config. (I assume you figured this out, but just for the record 👍)

[2019-01-20 19:42] scholtzan commented on #1091
If I open the readme it prints `file contains no indentation` which should mean it already returns `None`, right?

[2019-01-20 19:44] scholtzan commented on #1091
Oh, there seems to be a difference when I open the file (then it says the tab_size is 0) vs. when I restart the editor and the file is already opened (returns `None`)

[2019-01-20 19:45] cmyr commented on #1091
yea that's the desired outcome, but it seemed like there was some situation where it would return ` `Some(0)` instead? Not totally sure what this was, though.

[2019-01-20 19:46] scholtzan commented on #1091
Okay, I'll keep investigating 🔎

[2019-01-22 17:31] cmyr opened #1096 "Syntax detection fails for git commit messages"
As of #1085 we now have syntax support for git commit messages; however we do not correctly guess the syntax of commits.

This is a simple fix: these files have names like `COMMIT_EDITMSG`, with no extension. When guessing a syntax for a file, we check for a file extension, and compare that to a list of known file extensions. We should change this so that if a file name does not have an extension,

[2019-01-22 18:05] kanishkarj commented on #1096
I shall look into it.

[2019-01-22 18:08] kanishkarj commented on #1068
Shouldn't we close this issue and create a new issue : dynamic loading of syntaxes

[2019-01-22 18:18] jansol commented on #1068
Sure, go ahead.

[2019-01-22 18:18] #1068 closed

[2019-01-23 06:08] Cogitri opened #1097 "i686 build broken"
Hello,

I've just updated xi-editor for my application and it seems like the build on i686 is broken:

https://travis-ci.org/void-linux/void-packages/jobs/483135656

Run on VoidLinux i686.

[2019-01-23 18:42] cmyr commented on #1097
ah interesting, it seems that whatever hardware they're running this on has avx2 instruction support without being x86_64? I didn't think this was a possible combination, but perhaps they're running under emulation or something.

In any case, there is an oversight here; these functions are only available on x86_64, but we don't actually check that before calling. Can patch shortly.

[2019-01-23 18:44] Cogitri commented on #1097
Thank you :)

[2019-01-23 22:10] #1097 closed

[2019-01-24 06:30] scholtzan commented on #1091
Found the problem and pushed a fix: https://github.com/xi-editor/xi-editor/pull/1099

[2019-01-24 18:05] #1091 closed

[2019-01-24 18:06] scholtzan commented on #1089
Fixed in https://github.com/xi-editor/xi-editor/pull/1099

[2019-01-24 18:06] #1089 closed

[2019-01-26 06:17] kanishkarj commented on #921
Hey! I would like to look into this.

[2019-01-26 07:32] jansol commented on #921
Feel free to! Seeing how there hasn't been any sign of activity in months, I don't think OP will mind.

[2019-01-26 07:58] Aniq55 commented on #921
@kanishkarj yes sure! :D

[2019-01-27 02:35] scholtzan opened #1101 "Find highlights not updated for pasted text"
If find is currently active and text gets pasted that contains matches, then only matches that occur on the first line of the pasted text get highlighted.
I already have a suspicion why this might happen and will investigate.

[2019-01-28 16:49] ficoos commented on #302
Just my two cents,
IMHO xi-core shouldn't handle any key events at all.
From what I gather, xi-core is meant to synchronize edits from multiple sources asynchronously.
The UI isn't any different from a plugin. It either generate changes from external events or
as a reaction to a xi event.
The UI reacts to keyboard events creating changes that are sent to the xi-core.
The xi-core broadcasts about c

[2019-01-29 05:05] #1101 closed

[2019-01-29 16:39] #1096 closed

[2019-01-29 16:43] cmyr opened #1104 "Add support for TOML syntax, use for .xiconfig files"
We do not currently ship with toml syntax, but this is something we can now address. This will involve a pr to https://github.com/xi-editor/syntect-resources to add a TOML package; then we will need to regenerate the data files in the syntect plugin.

To make this work with `.xiconfig` files, we will need to manually add `xiconfig` to the list of file extensions associated with the toml syntax whe

[2019-01-30 01:16] #1024 closed

[2019-02-04 14:07] leeola commented on #302
@ficoos in your mind then, what might be lacking in the Xi-Core to support your proposed workflow? Perhaps fine grained control over multiple selections and/or multiple cursors?

I do like the idea of ` -> modal-core: translate to commands -> `, as it becomes very hacker-friendly. Makes me want to start toying with kakoune-like translation.

[2019-02-04 14:37] ficoos commented on #302
@leeola, I don't really know. I'm not that well versed in the xi-core API. Multiple cursors/selections will be nice so that the view side can show better feedback. That being said, you can start implementing those features now by emitting multiple inserts/cuts. It would just not look as good.

[2019-02-04 17:20] kanishkarj commented on #698
I would like to work on this.

[2019-02-04 20:30] Cogitri commented on #1093
FWIW, I just implemented this into gxi https://github.com/Cogitri/gxi/issues/13

[2019-02-05 06:18] jansol commented on #698
Sure, go ahead!

[2019-02-05 06:21] jansol commented on #1104
Closed by #1105

[2019-02-05 06:21] #1104 closed

[2019-02-06 21:27] Cogitri opened #1109 "If saving to an existing file, keep the permissions"
af02680d739311a6ec09904cba9b3d5edfbc6b25 has introduced atomic saving, but this has broken file permission keeping. This is rather annoying when editing executables.

# Expected behavior:

[code]
returns:
-rwxr-xr-x 1 rasmus rasmus 1 Feb  6 22:21 new

# Actual behavior

[code]

-rw-r--r-- 1 rasmus rasmus 1 Feb  6 22:21 new

[2019-02-07 03:58] portstrom commented on #115
I'm trying to understand the implementation of ropes, and I find it more difficult than it needs to be. I'm suggesting some ways it can be made easier.

First thing, it would be helpful to have some overview. There's the “rope science” series, which explains the theory behind the rope design, but there doesn't seem to be anything explaining the code. I couldn't even find where to start reading the

[2019-02-07 15:32] cmyr commented on #1109
Additionally, it would be nice to also keep relevant file metadata, such as the original creation timestamp.

[2019-02-07 15:33] Cogitri commented on #1109
Heh, good timing, just created the PR to keep existing file perms. I guess on Windows there's nothing to keep since https://doc.rust-lang.org/std/fs/struct.Permissions.html only lists readonly as possible perm and we can't save to a readonly file anyway?

[2019-02-07 15:35] cmyr commented on #1109
Yes, it makes sense that doing this correctly will require taking platform specific code paths.

[2019-02-07 15:36] jansol commented on #1109
As far as I can tell what we should do is basically grab the output of `fstat()` and copy it as-is to the new file?

[2019-02-07 15:40] Cogitri commented on #1109
Well, that but in Rust, I guess

[2019-02-07 15:42] cmyr commented on #1109
Yea, I don't have a strong opinion on the exact approach.

[2019-02-07 15:43] Cogitri commented on #1109
I guess I'll just clamp the additional stuff onto file::FileInfo, it isn't much effort to do that

[2019-02-07 15:45] jansol commented on #1109
No shame in having platform-specific code paths for this.

[2019-02-07 15:45] Cogitri commented on #1109
Yup, we'll have to do that for std::os::unix::fs::PermissionsExt anyway

[2019-02-07 16:23] Cogitri commented on #1109
Alright, seems like Rust doesn't have a way to to set file times in the standard library yet. We could either implement something like it in xi, or add something like https://crates.io/filetime (conditionally?) to xi's deps.

[2019-02-07 18:29] cmyr commented on #1109
I'm happy to take on that dep.

[2019-02-07 19:16] Cogitri commented on #1109
Alright, want me to feature-ize that?

[2019-02-07 19:53] Cogitri commented on #1109
Alright, I haven't feature-ized it for now since it's not a big dep. Please take a look at the PR :)

[2019-02-07 21:14] portstrom opened #1111 "Deserializing rope copies its contents twice"
Looking at the [`Deserialize` implementation for `Rope`](https://github.com/xi-editor/xi-editor/blob/3169c041b8befff3384dc1cc8878128a9a837240/rust/rope/src/rope.rs#L399), it seems like deserializing a rope copies its contents twice: First to a `String`, then into the rope. It would be better to skip the `String` and avoid unnecessary copies, probably by making a custom implementation of [Visitor](

[2019-02-07 21:52] portstrom commented on #1111
Same applies to [`RopeDataElement`](https://github.com/xi-editor/xi-editor/blob/master/rust/rope/src/rope.rs#L446).

[2019-02-08 15:36] cmyr commented on #302
I sort of think we're all converging on a similar idea, which is to have input handling be modular, and be not-quite at the level of xi-core, but some sort of intermediate translation layer.

There are definitely tricky bits here, I recognize. I _do_ definitely think that if command parsing is in core, it needs to be modular; likely via DLL or by doing a custom build with a different input handler

[2019-02-08 15:41] cmyr commented on #115
I agree that there's definitely room for improvement here! I've also thought about moving cursor and metric, and adding extensions to tree for the code that relies on them. As always, PRs are welcome.

The documentation situation has improved over time, but it's definitely still not great. There are large parts of the rope (how the cache in the cursor is designed, for instance) that I don't unders

[2019-02-08 21:00] maxnordlund commented on #302
I agree, funny how things turn out 😄

I can imagine having a crate that you combine with your favorite input handler. Then the current command-based system is another, prepackaged crate that also serves as an example of how to do this.

Trying to think about other interfaces I've come up with these: IME (Input Method Editor), for example to input kanji/hanzi (Japanese and Chinese pictograms). Hand

[2019-02-09 00:19] #1109 closed

[2019-02-09 00:49] scholtzan opened #1112 "Panic when pasting large text twice"
If I copy `core-lib/view.rs` and paste it twice then xi panics:

[code]

Not entirely sure what the problem is.

[2019-02-10 11:46] Cogitri opened #1115 "Panics when sending RPC too early (?)"
## Details

- Tested on Linux
- Using Rustc 1.32.0, installed via rustup
- Tested in gxi frontend master

I've just added more threading to gxi's SharedQueue (which holds rpc from xi-editor until gxi handles it) in https://github.com/Cogitri/gxi/commit/dd8a00559509596d1d80ead20e9171cd34c5363f. This causes xi-editor to panic in non-release mode on big files due to https://github.com/xi-editor/xi-ed

[2019-02-10 17:55] daubaris commented on #975
It seems this has been implemented in 02b865393c785a77ef6beaced0c15c54e697f674 if I am not mistaken.

[2019-02-10 20:42] cmyr commented on #1112
Interesting, haven't seen this before. The crash is in code I wrote in december, so I'll take a look.

[2019-02-10 22:20] cmyr commented on #1115
hmm, I'm confused as to what's going on here.

File loading is currently synchronous, and happens on the 'main thread', which also processes RPCs sequentially. So the file should be loaded before any RPC is handled?

Looking at the log, some things that stand out:

https://gist.github.com/Cogitri/c8f29a4b3a37530c88cb702277e71756#file-stacktrace-L27 – this seems weird? Maybe the response from the s

[2019-02-10 22:30] #975 closed

[2019-02-10 22:33] Cogitri commented on #1115
I have a SharedQueue (under the hood it's crossbeam_deque::Dequeue) which holds CoreMsgs (stuff I've received from xi) so I can consume it later in the main thread. See https://github.com/Cogitri/gxi/blob/master/src/rpc.rs#L60 for how I add msgs to the queue. I then grab CoreMsgs in my main thread to process them in the frontend, see https://github.com/Cogitri/gxi/blob/master/src/main_win.rs#L91.

[2019-02-10 22:46] cmyr commented on #1115
Okay, I think the issue here is that you need to send `resize` before interacting with the view.

At some point we will change some of this view geometry stuff so that you init a view with a size, and then scrolling is just setting the size + offset, and we will do the math to determine what lines are visible.

Anyway, pardon the mess at the moment.

[2019-02-10 23:11] scholtzan opened #1116 "Fatal error: Can't form Range with upperBound < lowerBound"
I selected some text in a large document (https://raw.githubusercontent.com/xi-editor/test-data/master/the-golden-boys.txt), scrolled down a little and tried to select some other text (starting at the end of the selection moving the cursor up):

[code]
in `convertRange` in `StyleMap`.

[2019-02-10 23:12] #1116 closed

[2019-02-11 14:40] #1111 closed

[2019-02-11 20:28] daubaris commented on #438
Hi, is this issue still relevant?

[2019-02-12 15:40] Cogitri commented on #1115
Alright. I've just added a sleep to the thread (ew), but I guess gxi's SharedQueue needs some restructuring to work without that, I can't initialize a new view without it, so I can't wait with initializing the thread until I can send resize to xi. I guess we can just leave this open.

[2019-02-12 15:45] cmyr commented on #1115
I'm a bit confused. It should be easy enough to just send resize immediately when you get the view_id back?

[2019-02-12 15:46] Cogitri commented on #1115
You mean I should just send a fake resize back?

[2019-02-12 15:48] cmyr commented on #1115
that would work; and depending on when and how you actually setup the frontend view you can probably know the size already?

[2019-02-12 15:49] Cogitri commented on #1115
Hum, I think GTK+ apps usually do set an initial size, but I'm not quite sure if that works so well with scaling.

[2019-02-13 21:53] #1093 closed

[2019-02-16 02:58] cvfosammmm opened #1117 "Line wrapping broken (for me)"
Hi all,

I'm a fan of Xi and want to use it for my LaTeX editor (https://gitlab.gnome.org/cvfosammmm/setzer) and maybe other projects. I started work on a library that would make it easy to integrate Xi in Gtk based projects (it's written in c). I can't however get line wrapping to work. Here's two examples:

- Paste a couple of lines (code), say 300 lines. -> Xi approximates (I think) the line co

[2019-02-16 21:05] Cogitri commented on #1117
Hello there,

first of all, that seems like a very interesting project - please do ping me when you have something presentable, right now I have my own custom stuff for gxi, I'd be highly interested in having a library for interacting with Xi (I'd also like to help - but I barely know C, I only know Rust sort of well). I could lib-ize the parts of gxi that interact with xi directly (Rust FFI is gr

[2019-02-16 21:43] Cogitri commented on #1115
I've just fixed that (luckily that was an easy fix, thanks for making 'scroll_to' work well :), thank you very much for the info!

[2019-02-16 21:55] cvfosammmm commented on #1117
Hi Cogitri,

the line wrapping itself isn't the problem. I reply to measure_width, send resize and scroll commands. But the scroll commands trigger recalculations of line count, which seems to be the main problem. That's why I get weird scrolling behaviour. For example if I stop sending scroll commands I can fix my first issue above, but obviously I can't do that, or else I wouldn't get updates wh

[2019-02-16 22:04] Cogitri commented on #1117
Ah, yup, seems like my logical line handling is somewhat broken. Pushed a commit to at least fix the crashing.

Alright, will try.

[2019-02-16 22:39] cvfosammmm commented on #1117
Trying to explain my first problem a bit more:

me: paste code
xi: update - 679 invalid lines + 11 inserts
xi: scroll_to 689
me: scroll - 680:689
xi: update - 678 invalid + 1 insert + 679 skip + 1 copy +  11 inserts + 11 invalid lines

[2019-02-17 23:09] cmyr commented on #1117
Hmm, some quick observations:

xi bounds the number of lines it will expect the frontend to keep cached. This value is currently 1000; if a document has more than 1000 _visual lines_ (not logical lines; that is, a line that is wrapped once is a single logical line and two visual lines) than scrolling will cause some valid lines to be removed from the cache. I'm not sure this is your problem, but i

[2019-02-18 00:26] cvfosammmm commented on #1117
Hi cmyr,

I don't think it's a problem with frontend side caching. The numbers above are a real observation and there were no other editing operations before in that session. Also even if the last lines were copied, the result would be the same. And even if there was an update of 1000 lines, what would happend if I paste 2000 lines? To reproduce just paste a long file with lots of line wrapping I

[2019-02-18 00:56] cvfosammmm commented on #1117
I think @raphlinus wrote somewhere that line wrapping should happen incrementally without the frontend waiting for upgrades and that an approximation is sent at first. Is that how it is currently implemented? I think this is generally a good way to do it, but I don't know how the frontend is supposed to handle it.

[2019-02-19 15:55] cmyr commented on #1117
I don't see this issue when pasting a big string with lots of line wrap into xi-mac.

The numbers are not approximate; core knows exactly how many lines are in the document.

Currently, how line wrapping works: after calculating what will be the visible region of the document, we immediately (before rendering) update that region's wrap state, and then in the background update other regions.

I won

[2019-02-19 16:56] ngortheone opened #1119 "xi-rope crate is old in crago registry"
Hi. It looks like xi-rope crate is outdated on crates.io

https://crates.io/crates/xi-rope

[code]
This repo contains `0.3.0` version.  Is this intentional? Is this crate intended for internal use only?
How can I import latest xi-rope into my project?

[2019-02-19 17:49] cvfosammmm commented on #1117
Yes, I think that's my problem. The numbers have to be approximate in this case, no? If the document is not fully wrapped at the time of the first update.

I think that's not necessarily problematic if Xi sends me a message when additional lines have been wrapped. But I don't think it does. The xi-mac issue you describe seems related.

[2019-02-19 20:41] cmyr commented on #1119
@ngortheone we've gotten bad at publishing crates to crates.io.

To use the version in this repo, you can do:
[code]

[2019-02-19 21:38] ngortheone commented on #1119
@cmyr thanks!

[2019-02-19 21:38] #1119 closed

[2019-02-27 01:15] ngortheone opened #1120 "[Question][xi-rope] peek next char from cursor"
Hi everyone!

I am working on a parser lib and I use xi-rope as underlying data structure.
I need to be able to peek the next char, without advancing the cursor position. How can I do that?

For example - the code below is broken, because it is supposed to skip only whitespace, but it also consumes one extra char.

[code]

I can rewind the cursor one char back, but I want to avoid that for efficie

[2019-02-27 17:25] dulcetti commented on #130
Hello, @philippkeller. How do you fixed the `.bash_profile`?

[2019-02-27 18:17] philippkeller commented on #130
@dulcetti I just went sure that it doesn't exit with exit code >0. I guess you can check with:

[code]

[2019-02-27 18:42] dulcetti commented on #130
@philippkeller thanks ;)

[2019-03-02 15:17] portstrom opened #1121 "Slicing an interval tree of spans incorrectly excludes spans"
The documentation of [`tree::NodeInfo::interval`](https://github.com/xi-editor/xi-editor/blob/0297adb8d3ac692ff48ee69cf9e8beda97cdc522/rust/rope/src/tree.rs#L55) says interval trees may need to override this method. The [trait implementation for `spans::SpanInfo`](https://github.com/xi-editor/xi-editor/blob/0297adb8d3ac692ff48ee69cf9e8beda97cdc522/rust/rope/src/spans.rs#L86) doesn't override it. A

[2019-03-02 16:33] raphlinus commented on #1121
Good catch, it's striking that it hasn't been caught until now. I guess for syntax highlighting most of the spans are short (within a line, generally), so statistically unlikely to trigger this behavior.

Sounds like you're 90% of the way to a PR, would be happy to review one.

[2019-03-02 19:30] cmyr commented on #1121
This is interesting.

I agree that the logic error is real, and this fix looks correct.

What's curious to me is the actual expected behaviour of overlapping spans; the only way we use the interval tree currently is with the expectation that spans are non-overlapping.

It isn't unreasonable that an interval tree have overlapping spans, but _by convention_ we don't expect this in current use.

I'm

[2019-03-02 20:25] raphlinus commented on #1121
The generic idea of an interval tree has no problem with overlapping spans, and I think if you use spans to indicate markdown-style formatting, that can happen (also if a language server has both syntax and other annotation spans). I think it's just the case that it doesn't happen for syntax highlighting specifically, so at *this* level I don't think we should require or enforce an invariant that

[2019-03-02 20:37] portstrom commented on #1121
@cmyr The term [interval tree](https://en.wikipedia.org/wiki/Interval_tree) comes with the assumption that intervals are overlapping. That's what sets it apart from an ordinary tree. Anyway, it would be of course be good to update the documentation to make it clear to those who aren't familiar with all obscure technical terms, as well as add a high level explanation of how it works. It took me som

[2019-03-02 20:56] cmyr commented on #1120
I've added this in https://github.com/xi-editor/xi-editor/pull/1123, let me know if that gives you what you need?

[2019-03-02 21:10] cmyr commented on #1121
Sure, I'm more just interested in how the data structure is currently used.

It's an invariant that _style_ spans not overlap; if a style is added that overlaps an existing style, we merge them. If you send the frontend style spans that overlap, it will misbehave.

Should we enforce this at the type level? It would not be hard to make `Spans` be non-overlapping, with merge semantics, and have an `

[2019-03-02 21:15] cmyr opened #1124 "Clarify documentation for xi-rope::Spans"
Spans is an interval tree, and supports overlapping regions; however the main current use of spans (highlighting) expects spans to be non-overlapping.

At the very least this should be made clear in the docs, and possibly we should separate these at the type level.

_Originally posted by @cmyr in https://github.com/xi-editor/xi-editor/issues/1121#issuecomment-468960664_

[2019-03-03 09:53] Cogitri opened #1125 "Categorize themes as "light"/"dark""
It would be really nice if xi-editor were to tell the frontend if a theme is light/dark, so the frontend can do fancy stuff like setting a dark theme during night time (for less eye strain) and a bright theme during day time (for easier readability)

[2019-03-03 10:28] Cogitri opened #1126 "Tell the frontend when a file has been changed since opening it"
This would be a continuation of #538, I suppose. Right now xi only automatically reloads the file if no changes have been done by xi yet, but it'd be nice if xi-editor told the frontend that the file has changed and as such the user should reconsider saving.

[2019-03-04 15:29] ngortheone commented on #1120
@cmyr this is great! Thanks!

[2019-03-04 15:39] #1120 closed

[2019-03-04 22:14] ryanbloom commented on #1125
Related: xi-editor/xi-mac#287

[2019-03-05 04:39] ritiek commented on #1112
I am able to reproduce this on master only when syntect-plugin is enabled.

[2019-03-05 04:46] nangtrongvuon commented on #1125
I guess the easiest way to handle this is to see if the background leans towards a dark or light theme. Since we take themes from Sublime themes right now, it should be trivial to get this background color and figure out if it's a light or dark theme and pass an extra argument to frontend when we have that info.

[2019-03-05 06:12] Cogitri commented on #1125
I suppose it'd also be a good idea to split themes into variants for this like this:

`Solarized (Dark)` and `Solarized (Bright)`

Would turn into

`Solarized` with the Variants `Dark` and `Bright`

Would make handling a little easier

[2019-03-05 10:43] aditj commented on #1005
Hey! can I work on this? Also, I am new to Xi Development :sweat_smile:

[2019-03-05 14:36] mikaelmello commented on #1126
I'm interested in tackling this issue and thus asking some questions:

After reading the modifications made in #538, I guess that we would like to send a rpc notification here:

https://github.com/cmyr/xi-editor/blob/4afbfd88163ad4c5d7fd8ab777500115e9335ece/rust/core-lib/src/tabs.rs#L783-L785

, asking if the user would like to save the current changes _or_ reload the file.

If the user chooses to

[2019-03-05 16:59] Cogitri commented on #1126
I don't think the user ever wants to _reload_ the file (which discards his edits). Instead we should ask it the user wants to either:

* Save the file anyway
* Save to another file
* Cancel (and do something on his own)

It would be really fancy if xi even send a diff to the frontend, but I guess that's out or scope or this (and seems clunky)

I don't think that went anywhere

[2019-03-05 17:06] mikaelmello commented on #1126
As an avid user of text editors (aren't we all?), I can remember multiple
times when I wanted to reload the file and VS asked me if I wanted that.

Mainly when updating the files from git commands, probably a hard reset, a
checkout, etc, you get the idea. There's also the situation when I wanted
to reload all files, probably nuking my latest failed change.

I don't think that saving to another pat

[2019-03-05 17:09] mikaelmello commented on #1126
My general point of view is to follow the current industry standards and
improve from there, since I'm new to this community I don't know if that is
also your approach or if you'd prefer to innovate from the very beginning

Cheers!

Em ter, 5 de mar de 2019 14:00, Rasmus Thomsen <notifications@github.com>
escreveu:

[2019-03-05 17:32] Cogitri commented on #1126
Yeah, on 2nd thought maybe it should be "Save to another file and reload" instead.

[2019-03-05 17:35] mikaelmello commented on #1126
When I get home later today I'll start to work on it. In the meantime it would be nice if more people from the community could chime in

[2019-03-05 17:44] mikaelmello commented on #1126
I agree that this is important.

To replicate this behavior I usually reload, Ctrl z, copy everything and Ctrl Y to do redo the reload, it rarely happens but I see that it's a bit too much.

Perhaps we should have three options:

- Save temp and reload (we should work on a smaller sentence to fit in a button)
- reload (discarding changes)
- cancel (keep state, letting the user decide what to do)

[2019-03-05 17:49] Cogitri commented on #1126
I miss a 'continue and overwrite' option

[2019-03-05 17:50] mikaelmello commented on #1126
That would be doable by Cancel -> Ctrl+S

[2019-03-05 17:51] Cogitri commented on #1126
Huh? Won't the user be offered the three options you've mentioned previously be asked again and as such be stuck in an endless loop?

[2019-03-05 17:57] mikaelmello commented on #1126
The dialog would only appear when an external change was detected, isn't that so?

Then the user would possibly want some things:

1. Keep the current content
1.1. Save the current content overwriting the external changes
1.2. Do not save yet, possibly wanting to do more changes, or check the external changes somewhere else
2. Save the current content somewhere and load the external changes
3. Dis

[2019-03-05 18:45] mikaelmello commented on #1126
Hmm. I think you have a point.

In my mind, once we show this dialong upon detecting external changes, if we decide to not act on them, the file still has them, the editor has the your current edit and upon receiving subsequent actions, we act like if there wasn't any changes. Unless _new_ changes happened, prompting a new dialog

[2019-03-06 06:57] Cogitri commented on #1126
I thought about that too, but that seems to be a little too magic to me, what if a user hits cancel, but then doesn't make changes, remembers to save his changes at some later point and then accidentally overwrites his stuff? (Maybe that's too artificial tho)

[2019-03-06 13:47] mikaelmello commented on #1126
I see that this could be a problem for some users. But, at least for me, seems something that isn`t that common, and maybe if he hit cancel and forgot about it, it's on him?

Here is the behavior of VS after detecting changes on an edited open file:

![image](https://user-images.githubusercontent.com/17488630/53885484-9d9aff00-3ffc-11e9-81d2-fb5faafda683.png)

On VSCode, things are a little differ

[2019-03-06 15:17] cmyr commented on #1126
It's worth noting that we currently _will not_ save a file if it has changed on disk; if they try, we will send an alert, and the user has to save elsewhere.

This is definitely 'placeholder' behaviour; for the time being it's most important that we don't silently overwrite anything.

Being able to open a diff would be nice, but we don't have built-in diffing yet.

Until that is possible, I'm not

[2019-03-06 15:23] cmyr commented on #1005
@aditj you can if you're adventurous!

I think this is probably a multi-part problem. The first issue is that font information is not included in the style system; styles include things like italic and color, but we assume there's always a single font. In order to have per-view font settings, we'll need to change this.

Feel free to dig around in the editor; styles are in `core-lib/src/styles.rs`.

[2019-03-06 16:32] cmyr commented on #1125
My initial thinking here is that this is sort of fancy and platform dependent, and should maybe be a frontend concern? That is, if a frontend wants to be setting a dark theme at nighttime (e.g.) maybe the frontend should be bundling some appropriate themes, or the frontend should let the user set a dark & a light theme manually, and then allow for this change?

[2019-03-06 16:41] aditj commented on #1005
Thanks for a descriptive answer!
First, I'll try to include font information in the style system.
Then I'll move on to further issues  :)

[2019-03-06 17:10] aditj commented on #1005
Sorry, but I am new to the codebase and naturally I have a lot of questions :sweat_smile:
I believe I have to change the [Style structure](https://github.com/xi-editor/xi-editor/blob/25d2a72af0d2f13372e5b3a700653f749418c8b6/rust/core-lib/src/styles.rs#L43)  and I have to add an Option type for font_style here and then change the implementation for Style Accordingly?

[2019-03-06 17:10] Cogitri commented on #1125
That should definitely be handled by the frontend, yes. I just feel like it'd be good if Xi told the front-end whether the theme is dark or bright, so we don't have to implement that for every frontend. To be honest, I don't think we need some fancy logic for that, hardcoding it for every theme would be fine too.

One thing that would most definitely have to be changed is that Xi has a Theme with

[2019-03-06 17:59] mikaelmello commented on #1126
I'm more a fan of the VS approach, not sure which one you guys prefer

[2019-03-07 00:30] sjoshid commented on #1078
@scholtzan Not sure what progress you have made here and if you are ok..I would like to take this up.

[2019-03-07 00:31] scholtzan commented on #1078
I haven't had time to work on this. So you can go ahead :)

[2019-03-09 20:46] cmyr commented on #1125
Yea, that seems reasonable. I can think of a few options. If it would make sense for this information to be part of the theme file itself, we can push this into the 'make a custom theme format' project; otherwise can can have include theme objects from `available_themes` instead of just theme names, and include metadata there. This would be a breaking change, annoyingly.

[2019-03-09 20:50] cmyr commented on #1126
yes, I think that is the most reasonable approach for now.

I would implement this as a new core -> client notification, first; the client can handle the logic of presenting the dialog.

Currently core has a flag that gets set when a file has changes; if we're going to clear that flag, we would need a new client -> core notification that handles that, and then we'll be able to save as normal; othe

[2019-03-10 03:13] scholtzan opened #1130 "Syntax highlighting only for visible range"
Only the first visible range in a document gets syntax highlighted:

<img width="945" alt="Screenshot 2019-03-09 at 7 10 22 PM" src="https://user-images.githubusercontent.com/1239705/54080193-68620b80-429f-11e9-8fb1-dfa242116284.png">

[2019-03-10 07:49] Cogitri commented on #1125
Kind of offtopic, I'm curious now, what's xi's policy for API breakage?

[2019-03-10 17:53] cmyr commented on #1125
Currently we make zero guarantees, but out of courtesy generally try to avoid breakage where possible. For instance if we rename or restructure a core api and we have the ability to still support the previous format by converting in core, we'll do that for a while before removing it.

[2019-03-10 18:02] cmyr commented on #1130
Interesting, this seems to be a result of #1122 / 9b97df8. Will take a look, we were probably doing something that depended on the previous behaviour.

[2019-03-10 22:08] Cogitri commented on #1125
Alright, thanks for clarifying :)

[2019-03-11 15:00] #1130 closed

[2019-03-11 18:25] brupelo opened #1132 "Pyside2 & Pyqt5 xi frontend"
Hello, I'll try to be short here as I'm texting from the phone, in terms of features and speed... how would you compare xi vs sublime? Assuming the answer is positive...

How long would do you think it'd take to create a xi frontend for pyqt or pyside? I know there is already something similar who's been written for c++ and qt but it hasn't been mantained for a while.

If the task is not too long,

[2019-03-11 20:34] sjoshid commented on #1112
Im experiencing something similar. But it doesnt happen on copy-paste of large text. I have a file with ~110k lines. The file opens up with a lot, A LOT, of
[code]
errors and when I try to clear the file by doing ⌘ A and backspace I get similar stacktrace along with
[code]
Hope this is helpful in some way.

[2019-03-11 23:44] brupelo commented on #1132
Closing this issue as i've tested the [windows frontend](https://github.com/xi-editor/xi-win) and it's not exactly what i was expecting after reading all the nice introduction ;)

[2019-03-11 23:51] jansol commented on #1132
The windows frontend is also the one that has received the least attention (read: practically none)... If you want to get a proper idea of the state of xi-editor you basically have to try out xi-mac. Or gxi, although it might lag slightly behind.

[2019-03-12 02:01] cvfosammmm commented on #1117
@cmyr Does the resize sort-of-bug have a github issue?

Can you confirm that my problem is a real bug in xi-editor? Or am I missing something? I don't understand swift at all so can't easily look for a fix in the xi-mac source. This is a blocker for me. If I can't get line wrapping to work my editor will not be very useful..

[2019-03-12 08:26] brupelo commented on #1132
@jansol So... basically you're saying the windows frontend isn't exposing all the "power" from xi core? To me one of the most importants features from Sublime is how it handles multiple selections. Scintilla also handles multiple selection but not in the best way, as Sublime does. The way selection works in the windows frontend is buggy and bad and it contained a lot of other bugs.

Anyway, I don'

[2019-03-12 10:24] LiHRaM commented on #1132
@brupelo That is exactly right. xi-win is in _very_ early stages of development, and is not really being actively developed now, as its underlying frameworks are being worked on instead. [druid](https://github.com/xi-editor/druid/) and [piet](https://github.com/linebender/piet). Although the progress in those frameworks is exciting, it does mean that xi-win is not the top priority.

[2019-03-12 10:38] brupelo commented on #1132
@LiHRaM I've decided to spend some hours this morning to toy around with xi-editor & pyqt, one thing I really like was that building xi-core was painless and the fact there is a nice separation between frontend & backend, so it shouldn't be too hard having something up&running soon.

Right now I'm just trying to figure out how initialize xi-core server properly though :) ===> [https://github.com/b

[2019-03-12 15:00] brupelo commented on #1132
Here's what I've got right [now](https://github.com/brupelo/pyxiqt/blob/65265dae2e59b7ca3474974937b79b5146df7039/pyxiqt/main.py). I've got stuck with this error:

    [2019-03-12][15:55:07][xi_core][INFO] Logging with fern is set up
    [2019-03-12][15:55:07][xi_core][INFO] Writing logs to: C:\Users\KneDa\AppData\Local\xi-core\xi-core.log
    Xi Server listening...
    b'{"method": "new_view", "fi

[2019-03-12 15:10] LiHRaM commented on #1132
The first thing the core expects is a notification that the client has started. Let me find the relevant docs for you.

[2019-03-12 15:16] cmyr commented on #1112
this should be fixed in https://github.com/xi-editor/xi-editor/pull/1129, if either of you want to try that?

[2019-03-12 15:59] brupelo commented on #1132
Thanks for your fast response, when I'm back home tonight I'll check it out. Next thing I'll do will be probably wrap the whole Xi Api followings the docs... Right now im using the json rpc server but if I like how the editor looks like and the type features it offers I guess I'll end up using xi core features wrapped as a python module and compare whether that'd be a much faster approach.

Btw, a

[2019-03-12 17:30] #1112 closed

[2019-03-12 18:37] jansol commented on #1132
@brupelo you might want to hop on [the xi-editor zulip group](https://xi.zulipchat.com/) (auth with github) for more in-depth discussion.

[2019-03-12 23:43] brupelo commented on #1132
@jansol Thanks to let me know but I definitely prefer using the good old IRC, it seems there is a #xi channel at moznet and today I wanted to give it a shot to that channel but when tried to register my nickname (#xi only accept registered users) any confirmation mail appeared at my old mixmail spam account :) and now I need to wait 10 hours to register again with a different mail account, tomorro

[2019-03-13 14:07] sjoshid commented on #1078
@scholtzan Can you give the PR a try?

[2019-03-14 01:03] sjoshid commented on #1112
I hate to be the one to say this but I still get errors
[code]
But the good news is the UI doesn't crash anymore. I can keep using it like nothing happened.
Maybe we can ignore the error for now?

[2019-03-14 01:21] scholtzan commented on #1112
This looks like a issue with xi-syntect. It's probably worth opening a new issue for this.

[2019-03-14 01:41] cmyr commented on #1112
@sjoshid I agree, this is a different crash. Can you open a new issue with reproduction steps?

[2019-03-15 01:20] cmyr opened #1135 "Current state of word wrap / linebreaking (winter 2018)"
_The following was a writeup I'd started in late december, when I took a break from working on linebreaking after some frustration. I think it's worth having this in the record somewhere, though, so I'm posting it here_

2019-01-05

# Update: line breaking and view revisions

So I had a frustrating week, last week. I'd been spending much of december working on a long-standing feature for xi, line

[2019-03-15 01:21] cmyr commented on #1117
@cvfosammmm I've opened #1135, which is basically a postmortem that describes the current problem.

[2019-03-15 02:12] cvfosammmm commented on #1117
@cmyr Thanks.

[2019-03-15 14:09] sjoshid opened #1136 "Xi-syntect panicking in background but no client crash"
Im consistently able to recreate this issue but only with a huge file with ~110K lines. To recreate the issue:
- Open the file and select all.
- Hit backspace to empty the file.
- Save the file.

If you look at the log file you see stacktrace similar to
[code]

Im using latest of xi-core and xi-mac.

[2019-03-15 14:10] sjoshid commented on #1112
Sure. Created https://github.com/xi-editor/xi-editor/issues/1136.

[2019-03-19 15:22] Cogitri opened #1138 "Cutting/Copying and Word Wrap doesn't work together nicely"
Hello,

It appears that Xi doesn't like me enabling word wrapping and then cutting/copying text in gxi, which ends in a deadlock (although that might very well be on gxi).

So when I cut I call the following code:

https://github.com/Cogitri/gxi/blob/master/src/rpc.rs#L429

Which sends the 'cut' edit_msg to Xi and waits until it sends back the String I'm cutting, so I can add it to the clipboard.

[2019-03-19 18:13] Cogitri commented on #1138
Alrighty, nevermind, I can totally make that nonblocking in gxi (took me a recreational hike :P)

I am curious as to why this is blocking in Xi-editor though? Is this something that is being worked on, or can I help?

[2019-03-19 23:13] NicolaiSoeborg opened #1139 "Annotations selection range"
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

A few questions about annotations:

1) Wouldn't it make most sense if "annotations" in the very first "update"-RPC response was an empty list (instead of a selection of nothing?)

2) I think the AnnotationRange is wrong when using `add_selection_below`, e.g.:

Create a file with:
[code]
Now

[2019-03-22 21:36] scholtzan opened #1142 "xi-syntect-plugin bulk indent panic"
I just encountered this panic:

[code]

[2019-03-23 01:37] nhooyr opened #1143 "xi --wait doesn't always work"
[code]

Exiting xi then will not cause the command to exit as it won't realize the window is closed.

For some reason, this works:

[code]

I'm guessing its cause of `/tmp`?

[2019-03-23 02:41] cmyr commented on #1138
@Cogitri there are plans to revamp how the word wrap stuff works, which will remove `measure_width`. The fix you've figured out (make the `cut` call non-blocking) would be my suggestion for the time being.

[2019-03-23 07:02] Cogitri commented on #1138
Alrighty then, works for now, thanks for the info :)

[2019-03-23 07:02] #1138 closed

[2019-03-23 16:10] cmyr commented on #1139
This does look suspicious. cc @scholtzan, thoughts?

[2019-03-23 17:30] Cogitri opened #1144 "Displaying spaces, tabs (and other usually not drawn characters?)"
It would be really nice if Xi supported drawing tabs, spaces etc. I've (sort of) implemeted support for this in gxi by replacings spaces with a dot during rendering, but this comes with some problems (namely that I have to carefully space them to not mess up the cursor position and that theming them doesn't work properly because they're wider than spaces). It would he great if Xi supported this na

[2019-03-23 18:16] #1043 closed

[2019-03-23 18:17] cmyr commented on #1142
Yea, there's something fishy with the 'indent on paste', it regularly does bad things when pasting into an empty document and I've been too lazy to open an issue. (_this_ is strictly unrelated to that, this is some clash with linewrap of the lines interfering with the edit coming in from the plugin, I think)

[2019-03-23 18:19] cmyr commented on #1144
This is a hard problem, and needs some thought, but yes it's a todo for sure. I thought there was an old issue open but I can't find it 😕

[2019-03-23 18:33] cmyr commented on #1126
okay this looks good but it needs an implementation in xi-mac to merge.

I'll open an issue, and if nobody gets around to this I can do it early next week.

[2019-03-23 18:37] mikaelmello commented on #1126
Great! I don't own a mac so my options are limited

[2019-03-23 19:58] ngortheone opened #1146 "[Question][xi-rope] find() - Avoid cloning regex"
Hi, I am not a rust expert so I apologize for potentially stupid question.

I have a regex that is being heavily used. I follow recommendation from regex crate to
[avoid compiling in a loop](https://docs.rs/regex/1.1.2/regex/#example-avoid-compiling-the-same-regex-in-a-loop) :
[code]

I want to find a match in a rope
[code]
but I get error
[code]
Ok, according to advice [here](https://github.com/r

[2019-03-23 20:04] cmyr commented on #1146
I agree, `Option<&Regex>` is the correct type signature. an `&Option<Regex>` can be converted to `Option<&Regex>` with `.as_ref()`.

[2019-03-23 20:41] ngortheone commented on #1146
@cmyr thanks for amazingly fast response!

[2019-03-23 20:51] cmyr commented on #1146
@ngortheone just good timing on your part, this is the day I'd set aside for xi stuff 😉

[2019-03-23 23:28] #1078 closed

[2019-03-23 23:41] scholtzan commented on #1139
One thing to note here is that carets are also represented as annotations. So if we'd send an empty list of annotations in the first `update` then we would lose the caret which starts out to be at the beginning of the document (position `0,0,0,0`).

The `add_selection_below`/`add_selection_above`  seems to imitate the same behaviour as in Sublime. Which seems to be adding a new caret to the previo

[2019-03-24 00:26] #1146 closed

[2019-03-25 08:37] NicolaiSoeborg commented on #1139
Okay, so I confused `add_selection_below` with `move_down_and_modify_selection`.

Would you like me to make a PR adding:
 * `add_caret_above` => `add_selection_above`
 * `add_caret_below` => `add_selection_below`
and "deprecating" `add_selection_above/below` (in the documentation) ?

And followup question: Would it make sense to differentiate between carets and selections? I think it would be more

[2019-03-25 15:35] nhooyr opened #1151 "allow opening from command line as root"
Wanted to edit my `/etc/sudoers` file with `visudo`.

I use `xi` as my `$EDITOR` for everything.

Unfortunately, `sudo xi` doesn't open a file as root, it'd be nice if it just worked.

[2019-03-25 16:29] scholtzan commented on #1139
One thing to keep in mind is that every change in the frontend protocol will break existing clients. Maybe @cmyr has some thoughts about renaming the methods?

[2019-03-25 20:30] Peltoche commented on #1139
Hi everyone.
A big +1 for this proposition! IMHO the selection zone and the carets are different things and we can see it.

This following gif is taken from the [vim-multi-cursor](https://github.com/terryma/vim-multiple-cursors) readme and we can see different colors for the caret and the selection. If the two data are mixed into a single annotation, this kind of thing would became really difficul

[2019-03-26 13:56] Cogitri opened #1150 "Sort functionality"
It would be really nice if Xi offered some sorting functionality, like Gedit does:

![Screenshot from 2019-03-26 14-55-07](https://user-images.githubusercontent.com/8766773/55002604-3529b700-4fd7-11e9-99ce-dceddf4cf8ff.png)

This can sort stuff like:

A
C
B
E
D

to

A
B
C
D
E

[2019-03-26 15:22] cmyr commented on #1139
I'm not totally convinced. The abstraction of treating the caret as a length-zero selection is useful in other ways, and separating carets and selections increases overhead in other areas.

The caret is always going to require special care when drawing. The case above is no different; when drawing the text, you will have to check if the line contains a caret and then invert the text color if neces

[2019-03-26 17:50] yory8 commented on #1151
AFAIK the best practice is to use `sudoedit`, which runs the editor as current user, then replaces the file as super.

[2019-03-26 17:55] nhooyr commented on #1151
That makes perfect sense. Maybe `xi` should warn a user when ran as root? Though, if you use `sudo -s`, it should just work imo.

[2019-03-27 07:07] nangtrongvuon commented on #1139
I'm also with @cmyr. I think a simple API change to accommodate just the adding carets case would suffice.

[2019-03-27 10:13] NicolaiSoeborg commented on #1139
When I started developing a tiny frontend for Xi, I did not find it very logical that a `caret = selection + which end of selection` and that a selection might have length `0`.

I would find it much more logical if annotations contains anything that isn't text (e.g. selections, find, cursors, etc)

I'm currently using the following code to "extract" carets and test if a "real" selection has been m

[2019-03-27 12:43] mikaelmello commented on #1151
I agree with that. If that's the intended behavior from the mantainers I can do a PR in the following week

[2019-03-27 13:40] Cogitri commented on #1151
IMHO the entirety of Xi should _never_ be run as root. Maybe we could have some mechanism to do something similiar to `sudoedit` though (copying the root-writeable file to somewhere our user can write to (a temporary dir) and copying it back to the original location when the user has saved the file)?

FWIW I use the following script which does basically that to edit root-owned packages via gxi: ht

[2019-03-27 14:14] Peltoche commented on #1151
I like the idea. One of my question lately was: If I run a single server accessible for several users, how I handle the different user permissions? You proposition would be a possible solution: The server save the new file somewhere and the client (run by with the user permission) would move the new file to the place to the old one. The issue this solution don't fix is: If the server doesn't have

[2019-03-27 14:19] Peltoche commented on #1139
This could work indeed but in this case the frontends needs to know at with end the cursor is and I don't think this information is available today.

[2019-03-27 14:44] Cogitri commented on #1151
Although I don't really like this the only way to do this that comes to my mind is to ask frontend to copy the file somewhere. There are many different ways to open root owned files (e.g. on Linux there's polkit and that in itself has about a bazillion ways to be used, I looked into doing something like that in gxi, see https://github.com/Cogitri/gxi/issues/121) and about all of them are platform

[2019-03-27 19:56] bzm3r opened #1153 "xi-trace + xi-trace dump: intent to publish."
In order for xi-trace and xi-trace-dump to be used by other projects (e.g. druid-shell) which intend to publish on crates.io, it is necessary that xi-trace and xi-trace-dump also be on crates.io. I intend to push this forwards, and will make @raphlinus and @cmyr owners as soon as the crates are published.

There is a [GSoC project](https://xi-editor.io/gsoc.html#xi-trace-cleanup) idea to perform c

[2019-03-27 21:11] cmyr commented on #1139
historically we've bundled selections up in the styles system, and we provided information about carets alongside that as a convenience.

With annotations, we have a concept of a 'payload'; it may be the case that we want to include caret-related stuff in the payload of selection annotations.

[2019-03-27 21:21] cmyr commented on #1153
Realistically I do think that xi-trace-dump belongs in xi-trace; I think it's pretty meaningless on its own, and can go behind a feature flag if necessary.

If that isn't too much work, I'd go ahead and make that change first? But I'm not sure it's trivial.

[2019-03-30 17:25] cmyr commented on #1151
Just a thought, but maybe we could implement this in the CLI itself, with a like `--sudo` option, where the CLI handles the copy and prompts for the password?

[2019-03-30 17:28] nhooyr commented on #1151
How about if it’s ran as root, the binary calls itself with sudoedit?

[2019-03-30 17:36] Cogitri commented on #1151
I don't quite calling sudoedit for this, when this is very dependant on the user having A) sudo installed and B) being in the sudoers file. I personally use doas instead of sudo. Also, on Linux using Polkit is way better integrated into desktops and is the generally accepted way to do stuff for elevating permissions.

[2019-03-30 19:17] nhooyr commented on #1151
Seems fine to me then to just do the right thing when ran as root instead of calling out to `sudoedit`. Create a temp file, then have the frontend edit that and then rename.

[2019-03-30 20:08] cmyr opened #1158 "update to notify 5.0"
A vague tracking issue: a major update to the notify crate is in the works, and we should investigate what will be involved in migrating to use it. I haven't looked into this at all, but there are [some docs here](https://github.com/passcod/notify/tree/v5-readme#notify).

[2019-03-30 20:09] cmyr commented on #1151
and neither sudoedit nor doas are available on macos by default (afaik?), so I'm not sure what the best behaviour is there.

[2019-03-30 20:11] nhooyr commented on #1151
Thats fine. When running as root, xi can just create a temp file, make the frontend edit that, then rename that to the original file. This would work on every OS.

[2019-03-30 20:21] Cogitri commented on #1151
Well, as far as I can see there are two options:

* Use platform specific helper programs (polkit on Linux, UAC on Windows I guess, dunno what MacOS uses) and let the frontend copy the file somewhere. This way there's no way for permission escalations of Xi to occur and we're on the safe side - the frontend will need some safe way for the copying to be done though.

* What I'd personally prefer: L

[2019-03-31 01:42] bzm3r commented on #1153
please note: https://crates.io/crates/xi-trace

[2019-03-31 02:08] cmyr commented on #1153
cool, feel free to close this whenever.

[2019-03-31 05:47] #1153 closed

[2019-03-31 08:50] yory8 commented on #1151
Aren't people who need to edit files as root mostly power user? In that case, maybe a simpler approach would be fine:  if I run xi as root, it exits with an error, with info about why it's an hazard to run complex non-core programs as root, and redirecting to a simple helper script that does what sudoedit does (which really can be implemented in just a few lines of shell or python or whatever; eve

[2019-03-31 09:01] Cogitri commented on #1151
No, at least on Linux it's entirely plausible that non "power users" have to edit a config file or two sometimes :/

[2019-03-31 21:29] cmyr commented on #1151
The more I think about this the more complex it's starting to feel, and the more it would require a careful platform-specific implementation.

[2019-03-31 22:05] Cogitri commented on #1151
Hm, root access isn't easy, so we should really keep this as simple as possible. I'd prefer if the frontend would just call some helper binary Xi provides as root which does the copying and nothing else.

Yes, but that (the permission elevation of the helper binary) will have to be handled by frontends.

[2019-04-01 17:41] #1143 closed

[2019-04-01 18:32] nhooyr opened #1165 "include typescript syntax highlighting"
There is no syntax highlighting for typescript files.

[2019-04-01 18:41] nhooyr commented on #1165
The javascript syntax works fine, just needs the extension associated.

[2019-04-03 02:46] scholtzan opened #1166 "delete_intersecting spans return early if region is empty"
`delete_intersecting` in `Spans` can return early if there are no spans in the provided interval. This way it doesn't unnecessarily traverse through all spans.

Related to https://github.com/xi-editor/xi-editor/pull/1162

[2019-04-03 02:49] scholtzan opened #1167 "delete_intersecting leaf-by-leaf"
`delete_intersecting` in `Spans` currently iterates through _all_ spans every time it is called. Another option would be to go leaf-by-leaf, and check each leaf for whether or not it has any items in the interval; if they don't we keep them unchanged, otherwise we do this operation, but only within the leaf.

Related to https://github.com/xi-editor/xi-editor/pull/1162

[2019-04-03 19:26] NoraCodes opened #1168 "Scriptable Plugin API (C FFI)"
Per [this proposal](https://xi-editor.io/xi-editor/gsoc.html#scriptable-language-bindings-c-api), I'd like to look at designing and implementing a scriptable, embeddable Xi API, through C bindings.

### The Problem

Performance is impacted by JSON-RPC round-tripping and could be greatly improved for most use cases by embedding the execution of xi-core in the editor GUI and communicating in-process

[2019-04-03 19:53] NoraCodes opened #1169 "More ergonomic testing API"
Per [this proposal](https://xi-editor.io/xi-editor/gsoc.html#flush-out-unit-tests), I'd like to look at designing and implementing a more ergonomic scripting API, based on a more in-depth version of [fluent ergonomic testing APIs](https://nora.codes/tutorial/building-readable-tests-with-fluent-testing-apis/).

### The Problem

It is difficult to write (and read!) very in-depth tests for Xi's core

[2019-04-06 07:30] ahouts commented on #1167
How should mutable access to SpansLeaf.spans be synchronized? All internal Nodes are referenced through an Arc, so Node does not provide mutable access to any leaves.

[2019-04-06 17:17] cmyr commented on #1168
Hi Nora! there's currently some movement on this front already; @dsp has been experimenting with an embedded version of Xi that maintains the current API, and I am slowly hacking on a refactor that takes fuller advantage of being in process to offer certain API directly over FFI. If you're interested in this work I'm happy to talk more!

[2019-04-06 17:18] cmyr commented on #1169
I agree we should have an issue for this, it's definitely an important project.

[2019-04-06 18:21] cmyr commented on #1167
we won't be mutating in place; instead we'll be creating a new spans object keeping as much of the old in tact as possible, and then replacing individual leaves as needed.

[2019-04-06 20:16] ahouts commented on #1167
OK, got it. I was getting confused because I assumed cursors would allow you to iterate over nodes, but they only iterate over leaves.

[2019-04-07 14:30] NoraCodes commented on #1168
Hi cmyr, I'm very interested in working on it. I'm currently writing up a proposal for GSoC regarding this.

[2019-04-11 00:41] chriskrycho commented on #1168
@cmyr if you get a chance to document how you all are tackling that, I'd find it super helpful as an interested observer—I'm working on an application for which Xi's architecture is very much an inspiration, and I imagine the same is true for others. If you don't have time, I of course totally understand, but even just a simple outline of the approach would be amazing!

[2019-04-12 01:54] ab2h opened #1172 "error decoding file: XXXX"
macOS Mojave 10.14.3
xi-mac
xi  XXXX.csv (GB18030)
    error decoding file: XXXX

[2019-04-12 02:09] jansol commented on #1172
xi-editor won't open files that aren't valid UTF-8

[2019-04-12 02:14] jansol commented on #1172
This is by design and won't change unless someone adds automatic character set detection and transcoding to UTF-8. (Because we use Rust's String type internally and that is guaranteed and required to always be UTF-8)

[2019-04-13 11:38] Peltoche opened #1173 "Big selection lead to some incorrect "update" event."
# Xi-Editor Issue Template
- [ ] I have searched existing issues and could not find my issue.
- [ ] I have studied the documentation.

## Details

- Commit:  master branch (`f9aad28f703ac7aca6cd38fbd70855c0dce0d9d8`)
- Frontend: [vixi](https://github.com/Peltoche/vixi)

## How to reproduce

When I make big selection by selecting the first line of my file and then repetitively calling `move_down_an

[2019-04-13 16:54] cmyr commented on #1121
This was reverted in #1131, due to another issue; this bug is outstanding and should be resolved.

[2019-04-13 17:39] cmyr commented on #1172
Agree this is not a bug, support is currently limited to valid utf-8. The tracking issue for encoding support is #794.

[2019-04-13 17:39] #1172 closed

[2019-04-13 17:43] cmyr commented on #1173
Thanks for this. It's possible there's an issue here, and it's unfortunate we don't really have a good way of writing tests against this functionality. 😒

[2019-04-13 17:48] cmyr commented on #1168
@chriskrycho This is very much ongoing work, but if there's anything in particular you're curious about I'm happy to answer Qs? Currently what I'm doing is just using direct function calls instead of RPC but am still passing JSON around in the general case, only using a more specific API in a few performance sensitive areas, such as width measurement (and some modal editing experiments).

[2019-04-13 17:50] cmyr commented on #1168
(my current tentative plan, which I haven't spoken much about, is to implement a mac-native 'rust playground' as a test-bed for some of these ideas; hope to make some real progress no that in the next couple of weeks.)

[2019-04-13 18:11] chriskrycho commented on #1168
Thanks – that's a helpful validation; I mostly just wanted to make sure it was that approach rather than using shared data structures more directly. I've been evaluating different approaches there in terms of overhead for UI and doing C FFI with probably-JSON payloads is exactly what I've landed on so far, so it's nice to know that *either* I'm not totally off my rocker *or* I at least have compan

[2019-04-13 19:24] cmyr commented on #1168
So one thing i'm very curious about is the possibility of sharing data structures between rust libraries over FFI, and using them more directly. For general interop with other languages, though, this feels hard.

One thing you can do is pass C opaque pointers to rust structures, and then define FFI functions that take those pointers as arguments, convert them back to a rust type, and then call met

[2019-04-13 19:55] chriskrycho commented on #1168
Yeah, after looking at it a bunch, this was my conclusion as well. Doing Swift-Rust or Kotlin-Rust or .NET-Rust that way just seems like a recipe for pain.

This was one of the options I'd considered, yeah, but…

I did *not* see those; they're excellent, and have a bunch of options that are *exactly* what I was looking for. Thank you so much! (And now @NoraCodes I will stop derailing this thread!)

[2019-04-14 08:56] Peltoche commented on #1173
Another point. I don't even know if it's a bug or a possible place for improvement but all the lines containing some selection are updated each time, even if the neither the content nor the selection have changed.

[2019-04-15 19:59] raphlinus opened #1177 "How should modal editing and IME interact?"
This is related to modal editing (#302 is the main tracking issue).

In the days when text input was defined by the VT100 terminal protocol, there was no real need to disambiguate between a text insertion intent and a command intent; the terminal sent an ASCII code and that was the end of the story. The editor could interpret it on the basis of the mode.

Today the standard is that text insertion

[2019-04-15 21:06] cmyr commented on #1177
There are additional complexities:

_what is a key_? If a user of an ANSI keyboard presses the key to the left of the right <kbd>shift</kbd>, the 'text value' of that keypress depends on the user's layout; in QWERTY it would be <kbd>/</kbd>, in Dvorak <kbd>z</kbd>, and in Colemak... probably something else.  We probably want to be using the key's text value when resolving keybindings.

_There are

[2019-04-15 21:18] Cogitri commented on #1177
Oh nice, I'm just on the process of implementing IME handling via GTK for gxi (with IMContext). I suppose this means that I'll just have to send the raw keyevents to Xi once this is implemented and don't have to handle it via GTK?

[2019-04-15 22:35] cmyr commented on #1177
how this would (tentatively) work is you would send raw events to this special component, running in process, and it would send you back either raw events that you should handle as text (send them through IMContext) or it would send you back core events to do stuff with.

By default, right now, this path is only used if you want to use a special modal editor; if you don't want that you just functi

[2019-04-16 03:58] d4hines commented on #574
I'd like to register my interest for working on a Clojure mode. Vi-style modal editing and Clojure support are all I need from an editor.

@edvorg @mkeathley , do ya'll have any further interest in this? I assume the average Xi user values performance as first principle. In the realm of performant Clojure editing, this is a somewhat new development: https://github.com/oakmac/tree-sitter-clojure  I

[2019-04-16 04:39] edvorg commented on #574
Hi, sorry I wanted to work on it but couldn't allocate time due to some
higher priority things. Though I'd be willing to discuss the architecture
and help with my clojure expertise as I'm still interested in switching to
xi.

On Tue, Apr 16, 2019, 11:58 AM Daniel Hines <notifications@github.com>
wrote:

[2019-04-17 20:50] sjoshid commented on #1158
I can pick this up as Im kinda familiar with what's coming.

[2019-04-20 17:11] ngortheone opened #1178 "[xi-rope][bug] prev::<LinesMetric> does not work"
It looks like `prev` is broken.  It moves cursor back once and that' s it.

[code]

[2019-04-20 17:26] ngortheone commented on #1178
Same behavior observed without '\r' too

[2019-04-20 18:13] cmyr commented on #1178
Okay, so maybe we've never really used `prev::<LinesMetric>()` from a boundary before?

This minimal case fails:

[code]

[2019-04-20 19:19] raphlinus commented on #1178
Huh, [`LinesMetric::prev`](https://github.com/xi-editor/xi-editor/blob/master/rust/rope/src/rope.rs#L262) is wrong. The fix is simple enough I think (mostly use `offset - 1`, with an early out to `None` if `offset` is already 0) but should come with tests. It does look like we never actually used this.

[2019-04-20 20:59] ngortheone commented on #1178
@raphlinus @cmyr

I am working on PR to fix this

The fix looks like this (added `offset -1`)
[code]
But now this test fails

[code]

The behavior is slightly changed. Now if cursor is on '\n' `prev` will return previous, not current one. So it fails assertion because line has '\n' at the end.

Not sure whether I got something wrong or test now is invalid. Please advise

[2019-04-20 21:11] ngortheone commented on #1178
I should mention that every other test apart from this one succeeds. So I am leaning towards thinking that the logic of this test is faulty since it was using buggy behavior.

[2019-04-21 01:35] #1178 closed

[2019-04-23 02:40] scholtzan opened #1181 "`subseq` with sub interval missing zero length spans"
I'm running into an odd issue with `subseq` when using it to get a subsequence of `Spans`. If the passed interval is smaller than the total lengths of the spans then it's missing all the zero length spans.

I hope the following test clarifies what I am trying to describe here:

[code]

I think this is a bug?

[2019-04-23 04:34] ngortheone opened #1183 "[xi-rope][find] interface could be simpler"
While working on https://github.com/xi-editor/xi-editor/pull/1182 I couldn't help but notice that interface of `compare_cursor_regex` from `find.rs` is taking 2 unnecessary arguments:

[code]
If I understand correctly  `lines` should always be derived from cursor like this:

[code]
therefore could be moved inside the function body.

Same for `pat` it can be derived from `regex` with `regex.as_str(

[2019-04-24 17:36] cmyr commented on #1183
@scholtzan any thoughts?

[2019-04-25 18:30] scholtzan commented on #1183
I believe both of the suggested changes make sense. If you want to create a PR, I'd be happy to review it.

[2019-04-27 22:17] cmyr commented on #1183
Just as a minor observation, you should be able to just do,

[code]

more generally, I've been wondering about a way of more tightly integrating the cursor into the tree, specifically so that for a given tree the cursor's caches are maintained between calls. I'm not sure exactly what this would look like, and I would want to do some benchmarking before doing too much work, but I think it might be

[2019-04-29 15:58] cmyr commented on #1181
Hmm, this is interesting. I think there actually _was_ a design decision to not include zero-length spans, because they were meaningless in the context of the original use of this data structure (syntax highlighting) and are arguably meaningless in the context of an interval tree. Maybe @raphlinus has some thoughts here? the design for annotations does rely on being able to represent annotations t

[2019-04-29 19:59] NoraCodes commented on #1168
@chriskrycho your derailment has been both useful and interesting, and provides useful insight on the use case for this feature!

[2019-05-04 17:17] Cogitri opened #1186 "Add method to move x chars forwards/backwards"
I'm having difficulties implementing IME via GTK's IMContextSimple for gxi, due to how it requests characters (for pre-editing) and sends me requests to delete surrounding characters.

E.g. for delete surrounding GTK sends me two params: `offset` and `n_chars`. `offset` might be positive or negative and it might stretch further than the line:
[code]
A `offset` of `-7` should end up in front of `0`

[2019-05-04 17:37] raphlinus commented on #1186
If you do this, be *very* careful about what a "character" means. Is it a codepoint? A grapheme cluster? A UTF-16 code unit?

It's been a while since I've looked at this closely, but I suspect that getting IME perfect requires some pretty deep research.

[2019-05-04 18:15] Cogitri commented on #1186
Hm, I guess I'll focus on other things first then, thanks :)

[2019-05-04 18:26] cmyr commented on #1186
Funny, I've just been thinking about this, and wondering if we should have a dedicated API for IME (I wanted to implement IME from scratch for Rust Playground).

@Cogitri do you have a link to the docs for GTK IME?

[2019-05-04 18:32] Cogitri commented on #1186
See https://gtk-rs.org/docs/src/gtk/auto/im_context.rs.html#116-309 for the methods GTK offers. https://github.com/Cogitri/gxi/pull/207 (which is a pretty simple PR)  is enough for stuff like dead characters and their combinations with other chars (é etc.), but pre-editing requires something like I've mentioned previously (and is kind of required e.g. for Japanese input)

[2019-05-05 11:10] ShalokShalom commented on #659
@cmyr  And is there a list which we can follow about those spoken features?

[2019-05-05 18:53] cmyr opened #1187 "Towards a text editor construction kit"
# Towards a text editor construction kit

One of my goals in writing the [rust playground for macOS][] was to see how much work would be involved in reusing components from xi-editor core library (xi-core).

Basically: xi-core contains all the logic for handling user actions (such as editing the buffer or modifying the selection) but currently the architecture of xi-core is sort of all-or-nothing;

[2019-05-06 02:56] nangtrongvuon commented on #1187
The main goal here seems to be reducing state needed to perform common editing operations - I tend to mostly agree with what you have written, though I do have some questions:

1. Do we want to move these operations into a plugin of its own? I assume there'd be something like a `xi-core-plugin` that runs, which for xi would be the main way of interacting with the rope backend.
2. What should all o

[2019-05-06 03:47] raphlinus commented on #1187
I've given some thought, also provided here for discussion.

1. I very much agree with the idea of unbundling basic editing ops. In many cases, they represent very careful attention to get things right, and of course the data structures support scaling to large documents, which I think is an appealing feature.

2. Having immutable functions return a delta is a good signature, agree.

3. My persona

[2019-05-06 06:27] scholtzan commented on #1058
https://github.com/xi-editor/xi-editor/pull/1083

[2019-05-06 06:27] #1058 closed

[2019-05-06 07:04] scholtzan commented on #1187
Good to see this set in motion! I like the idea of moving editing operations out and making it (hopefully) easier to test in the process.

I totally agree that the current state of find and replace has a lot of room for improvement and should be moved out from view. I have the feeling that things could get tricky here very quickly especially if we'd want to continue support incremental find, and m

[2019-05-07 11:28] ShalokShalom opened #1189 "Gluon as scripting language"
Gluon is a statically type inferred scripting language which is embeddable in Rust:

https://github.com/gluon-lang/gluon

This is potential a superb language to write some expansions, imho

[2019-05-07 19:48] cmyr commented on #1189
This could definitely be something to explore, I really haven't looked into this much.

My current hunch is that the future of plugins is going to be WASM/WASI, and we've been sort of resistant to bring in a scripting language, but if someone wants to explore that they're very welcome. :)

[2019-05-07 22:25] ShalokShalom commented on #1189
Yeah, I think its awesome that you can call Rust functions directly. :D

[2019-05-08 12:34] Cogitri opened #1191 "Have a better process to update deps"
Right now we just do massive 'update deps' commits from time to time. I'd personally suggest using [dependabot](https://dependabot.com/) for automatic version bumping, one at a time. I use it e.g. for gxi and it's super helpful for ensuring my deps stay up-to-date and also makes `git blame` a whole lot more useful if a dep breaks.

[2019-05-08 18:08] cmyr commented on #1191
Interesting, that does look like it could be useful. Are you interested in trying to set it up? What would you need, in terms of permissions?

[2019-05-08 18:17] Cogitri commented on #1191
Ah, I think you can set that up yourself, it's pretty simple and I'd need access to the org to set it up otherwise :)

[2019-05-08 21:30] chriskrycho commented on #1187
@raphlinus, can you elaborate on this, especially the CRDT part? (I'm doing research in a similar space right now and evaluating various tradeoffs and options, and Xi's choice of CRDT has been an important data point there.)

[2019-05-09 18:42] cmyr commented on #1187
@nangtrongvuon

This is really independent of plugins. Nothing in terms of how xi-editor currently works would change; it's just that inside `Editor` we would call out to functions declared elsewhere, instead of functions that are in an `Editor` impl block.

This just makes it easier for other projects to reuse xi-core code. `xi-editor` doesn't really change, it's just structured slightly differen

[2019-05-11 02:53] raphlinus commented on #1187
This reply is going to be scoped to the CRDT only. I have been meaning to write a larger retrospective of xi-editor; consider this the CRDT portion of that.

I took on investigation of OT/CRDT with the hope that there was a "right answer" to collaborative editing, only needing to be discovered, and that one approach could unify a number of asynchrony-related issues, including IME being in a differ

[2019-05-11 02:58] chriskrycho commented on #1187
For my part at least, that's extremely helpful. Thank you for the thorough and considered reply!

[2019-05-11 07:57] gritzko commented on #1187
Actually, soft spans may work well in the CRDT framework.
They have to be part the the data type, though.
That may even resolve some CRDT-specific glitches, e.g. concurrent typo correction.

It is easier to express in the Causal Tree terms than in RGA terms... basically, you may have "soft" symbol subtrees that blend together if their values match.
Consider
[code]
corrected concurrently to
[code]

[2019-05-11 11:33] espadrine commented on #1187
An essential property for intent preservation is that *the end state must have a possible linearizable history of expressed UI operations*. Here, neither "DE F G" nor "E F GD" have one. CRDT, especially CmRDT, can do it, when operations are not character-based, but span-based, like UI operations:

1. **Writer 1**: Delete characters between id(A) and id(C).
2. **Writer 2**: Delete characters betwee

[2019-05-11 16:01] ngortheone opened #1192 "[xi-rope][find][question] Allocations during multiline regex search are hurting performance."
@cmyr @raphlinus
I'm writing [a parser for Org markup](https://github.com/org-rs/org-rs) and I use xi-rope as underlying data structure.

There are numerous cases when I need to do a multilne regex search/match. Sometimes repeatedly. (Examples: [poperty drawers](https://orgmode.org/worg/dev/org-syntax.html#Property_Drawers) are recognized by [multiline regex](https://code.orgmode.org/bzg/org-mode/

[2019-05-11 16:09] lord commented on #1187
To add on to Raph's points about Fuchsia's input method APIs — I tried for a *while* to make the CRDT model work on Fuchsia without dramatically increasingly complexity for input method authors. In the process of trying to hide the CRDT complexity, some other folks and I realized we were basically implementing a retry-based system, which we eventually just settled on instead of the CRDTs. The text

[2019-05-11 19:27] ncm commented on #1187
I have a stronger conclusion: any attempt to automate resolving simultaneous editing conflicts that, e.g., git merge could not resolve, will fail in a way that fatally confuses users.

The only viable solution is the one that git merge chooses: split that line or region of the document and include both, with markup to indicate the split. After that, party A can edit only in A's branch of that regi

[2019-05-11 20:41] Lunthon2499 commented on #1187
https://www.facebook.com/profile.php?id=100014512247253

[2019-05-11 23:17] josephg commented on #1187
Hi! I've got some experience on these systems (wave, sharejs, etc).

Some comments:

You don't need to do this. (Although I'm not sure if we knew that on the wave team). As @lord mentioned, you can implement an OT system on top of any database that has a transactional write model. The approach is to enter a retry loop where you first try to apply the operation (but in a way that will reject the op

[2019-05-11 23:31] raphlinus commented on #1187
@josephg I for one welcome your thoughts on this discussion.

I know I overstated the case for OT requiring a centralized server. The OT literature has a bunch of papers on getting some form of strong serialization using distributed-system techniques like vector clocks. Your suggestion is probably even a lot more practical than that.

I gave some thought to solving the indentation / bracket matchi

[2019-05-12 00:28] josephg commented on #1187
Yeah I agree. Maybe I'm imagining your system as having 2 levels of architectural decoupling / distance:

1. Stuff that happens synchronously, inside the same process / called directly from your `onEdit` event handler.
2. Stuff triggered from witnessing a CRDT edit operation in the editor. This could be in another process, on another computer.

Traditional IDEs do everything in (1), and so they be

[2019-05-12 10:24] amark commented on #1187
Slightly tangential, for our editor we wrote a canonizer. It restructures the rich text documents into a deterministic structure.

Imagine: `[i][b]hello[/b][/i]` and `[b][i]hello[/i][/b]` produce visually same output but have different structures (HTML is particularly bad at this, other systems don't use trees, just apply formatting ranges - I'm not sure which Xi uses?).

The canonizer (whether tr

[2019-05-12 22:41] sjoshid commented on #1158
@cmyr
I made changes (need to make changes to tests) according to the new event system coming up in notify 5.0 but I have one question. 5.0 is using crossbeam channels and Im wondering if we can use the new crate to do things differently in xi. This is what I got from the author of notify:

multiple watchers, configured differently, on the *same* reporting channel.

If I understand this correctly,

[2019-05-13 20:27] ngortheone commented on #1192
I will post the essence of my conversation with @cmyr and @raphlinus on zulip chat.

This is a known downside of the Rope data structure. By being a non-contagious data storage it is not directly compatible with existing tools like regex engine. Regex engine operates on String, so allocation to a contagious memory area is necessary.

Possible workarounds:
- Do not use regexes
- Teach Regex engine

[2019-05-14 15:14] cmyr commented on #1192
@ngortheone Should we keep this open? It's not clear that it's really actionable for us at this point.

[2019-05-14 15:16] cmyr commented on #1158
@sjoshid Excellent question, and I don't have any strong opinions. If things are working, currently, I don't think it makes sense to do a big rewrite (unless you're just curious, in which case go ahead!) but if there are any clear advantages to another pattern I'm open to that too?

[2019-05-14 15:18] ngortheone commented on #1192
@cmyr I don't think this is actionable at the moment.
This question may come up again, so it is worth adding it to FAQ of some sort

[2019-05-14 15:20] ngortheone commented on #1192
I will leave this here for reference
https://github.com/rust-lang/regex/issues/425

[2019-05-14 15:22] #1192 closed

[2019-05-14 20:18] goldenMetteyya commented on #1187
Hello, I am jumping in here but I was looking for rust based editor to use for some project base I wanted to play around for an editor for specialized use case.

There is a project called pijul which is based on the paper https://arxiv.org/pdf/1311.3903.pdf. Its a sound version control design based on patches and it addresses the diff and ordering. Maybe something based on this could be built into

[2019-05-14 22:22] cmyr commented on #1187
Pijul is a very interesting project!

That said, the intended architecture of xi is to let things like version control by handled by external plugins.

[2019-05-15 19:33] goldenMetteyya commented on #1187
hi @cmyr

Yes but at the end using a crdt as structure to track concurrent changes is in some sense version control cause your merging changes, so the internal could use something based on pijul and not exposed to outside unless needed, then git works too.  Just an idea I was thinking that might make distributed editor core more robust in some regard.

[2019-05-16 15:11] sjoshid commented on #1158
@cmyr I dont see any obvious advantage in doing the refactoring but I'll look at it one more time.
On a different topic, the new event system in 5.0 can give us more granular event types for eg., CREATE event not just tells us something was created but also tells use WHAT was created: FILE or FOLDER.
Where xi stands currently I dont know if we should care about FOLDER events. But I do see potentia

[2019-05-17 15:43] cmyr commented on #1158
We would care about folder events if, for instance, a new plugin package were added. I think this works okay currently, but I'm not sure?

[2019-05-17 21:43] P-E-Meunier commented on #1187
As one of the authors of Pijul, I confirm that it could form the basis of a text editor, but would probably need some work. Now that all our algorithms are implemented (finally!), our next step is to make the backend storage efficient, and that could lead to a refactoring of the backend to make it (more) usable for a text editor.

[2019-05-19 21:29] sjoshid commented on #1158
Sounds good.

[2019-05-21 02:23] josephg commented on #1187
I'm not sure if it would be more robust. Less total code though, probably.

My view on this is that there's two similar but slightly different tasks involving merging text edits:

1. Users pair program, in realtime, on a single set of changes
2. Users work independently on different patches and merge them together later (eg via PRs)

These two tasks look the same algorithmically, but in (2) we gen

[2019-05-21 21:11] goldenMetteyya commented on #1187
hi,

For me the robustness was because of the Categorical Theory of Patches being the theory behind it. The two use cases you have presented does show both spectrums. One is interactive synchronous merges while the other is non interactive asynchronous as I interpret it. Adding meta about the authorship and grouping patches to form a PR is the main idea that would be native. If you take a google d

[2019-05-23 12:44] Cogitri opened #1194 "language_changed can send `""` as new language"
I'm honestly not sure if this is expected behavior, but shouldn't it send 'Plain Text' instead? At least in gxi I just redirect `""` to `Plain Text`.

[2019-05-26 20:40] sjoshid commented on #1158
Just an update on my progress....I got a good sense of what the new event classification system does in 5.0. Main issue Im tracking is https://github.com/passcod/notify/issues/187. There will be more changes coming in as part of 187.
Putting this one on hold till then.

[2019-06-13 13:26] Cogitri commented on #1144
FWIW I implemented this now in gxi and I guess this is something that frontends should handle since it's very much dependent on them how they can draw this :)

[2019-06-13 13:26] #1144 closed

[2019-06-22 17:14] cmyr commented on #1194
I agree that a real default makes sense.

[2019-06-22 17:26] cmyr opened #1197 "Make serialization/deserialization optional in xi-rope"
As part of making xi more modular,  the `serde` dependency in xi-rope should become optional.

This requires adding a new feature to the `Cargo.toml` in xi-rope, and putting all the serde imports and definitions behind `#[cfg(feature = "serde")]` guards.

[2019-06-22 17:38] cmyr opened #1198 "Move selection modification out of view.rs"
A user of the `xi-core` library should be able to use and modify selections without needing to use a `View`.

The main challenge here is that we need to introduce some abstraction for representing the things that are currently provided by the view, such as navigation up and down by arrow keys, which depends on line breaks.

My inclination is to introduce a trait that describes this behaviour.

For

[2019-06-22 17:42] cmyr opened #1199 "Move editing functions out of editor.rs"
Similar to #1198, we would like to be able to use editing functions independently of an `Editor` or a runloop.

For more detail, see #1187. For an illustration of how this could be done, see the [`edit_ops` mod in the `xi-modal` branch](https://github.com/cmyr/xi-editor/blob/xi-modal/rust/core-lib/src/editor.rs#L955). (Note that having this be in a submodule of editor.rs isn't desirable long term)

[2019-06-22 19:56] Cogitri commented on #1194
Should the default be `None` or `Plain Text`?

[2019-06-22 22:03] passcod commented on #1158
5.0.0-pre.0 is out, which may or may not be what you want... more new event goodies are coming later, but I decided to scrape the entire debouncing and rebuild it instead of slogging through and producing a very dodgy solution cobbled from a bit of the old and a bit of the new, so pre.0 is everything that's reasonable solid before that.

[2019-06-23 00:03] cmyr commented on #1194
I think `Plain Text` is good? I think we even include the `Plain Text` syntax definition by default, would have to check that though.

[2019-06-23 05:08] lifranc commented on #131
Just realized the original author wrote this. Mindboggling!

Ok! I'll give you a pointer to a 10GB JSON data-object, and another pointer to the same data in a binary format, say CBOR, with schema; you only need a small piece of data somewhere in there. Oh and the computer has very little ram. Run that test in your head and let me know if that looks like noise.

[2019-06-23 13:15] chriskrycho commented on #131
The context was sending small, RPC-style messages, in which context it *is* much closer to just being in the noise. Later experience than the original made it clear that the trade-offs were worse than originally assumed for various reasons (mostly architectural, but also with parsing in certain environments), but certainly no one was thinking about using it in the context you’re suggesting.

[2019-06-24 10:50] Cogitri commented on #1194
`Plain Text` has a syntax? I thought that'd just be the "no syntax selected" setting basically.

[2019-06-24 13:31] cmyr commented on #1194
Yea, "Plain Text" is a syntax; it doesn't do much, but it can be used to indicate that a file isn't code, and so maybe should have spell-check enabled, for instance.

[2019-06-24 13:34] Cogitri commented on #1194
Alright, I guess the default should be `None` then. About spellchecking: that isn't functional yet, right? I guess I might make a plugin for that.

[2019-06-24 13:52] cmyr opened #1201 "remove dict_payload feature from xi-trace"
This feature has never been used, and causes compilation problems.

In the process of making this change, we will want to pay special attention to the documentation comments, and ensure that we also remove references to this feature.

[2019-06-24 13:58] cmyr commented on #1194
yea, this is more about the 'base scope' that a syntax provides. the scope for plaintext is `text.plaintext`, (markdown is `text.html.markdown`, rust is `source.rust`) and this lets plugins check if a particular document region is text vs source code.

[2019-06-24 14:27] sjoshid commented on #1158
@passcod thanks for the update. I got a chance to read the release notes but it says

Last I checked Event API already had some big changes and if it's going to change dramatically between prereleases...shouldn't we just wait for final release or 5.0.0.pre.5 or something? Im just trying to avoid refactoring again next month.

[2019-06-24 23:02] passcod commented on #1158
The idea is I'm not likely to be that quick. If you peg to `=5.0.0-pre.0` and ignore all the subsequent prereleases you won't need to refactor until final release... which may be nearer the end of the year, and the goal is to rebuild up to the same debounced API. The internals will change, and the immediate API will change (_has_ changed, if you look at `main`), but the debounced API was fine and

[2019-06-25 16:15] sjoshid commented on #1158
Sounds good.
@cmyr I can resume work on this asap.

[2019-06-27 06:09] msirringhaus opened #1206 "scroll_to with multiple cursors"
When working with multiple cursors, the protocol seems a bit confusing regarding cursor-positions.

When having multiple cursors and issuing a `move` command, I get an `update` and a `scroll_to` response.
`update` provides the position for all cursors, `scroll_to` only for one.

Shouldn't `scroll_to` also contain all cursors, to indicate to the frontend where it should scroll all cursors to?

Or i

[2019-06-27 08:10] msirringhaus opened #1207 "[RFC] Move by subwords"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

Implement
[code]

which should recognize CamelCase and snake_case sub word boundaries and move accordingly.

## Examples
Character `|` denotes the cursor-position:

`|CamelCase` => `move_subword_right` => `Camel|Case` => `move_subword_right` => `CamelCa

[2019-06-27 19:26] #1201 closed

[2019-06-27 20:46] Cogitri commented on #1191
I guess updating before releases is fine for now if we do more frequent releases :)

[2019-06-27 20:46] #1191 closed

[2019-06-28 08:34] Cogitri commented on #1158
Maybe you can make a draft PR for this to make it easier to track progress on this?

[2019-06-28 14:15] sjoshid commented on #1158
Right. I did some commits to my fork but realized that notify was going to change. Now that it's stable I can do a draft PR.

[2019-06-28 16:36] #1197 closed

[2019-06-29 14:23] cmyr commented on #1158
sounds good!

[2019-06-29 14:26] cmyr commented on #1206
`scroll_to` describes a position in the buffer that should be made visible in the view; it does not indicate cursor movement.

`update` describes a set of changes to the line cache, which includes cursor positions.

When the frontend sends a movement command, it applies to all cursors.

`scroll_to` is a bit coarse. I believe at the moment it prioritizes the last cursor (the last cursor is always v

[2019-06-29 14:32] cmyr commented on #1207
yea, I think this could be a reasonable heuristic. For a while my thinking was that these things should be defined on a per-syntax basis, but there's a good argument that there's a reasonable general solution.

The logic will likely be tricky. I can think of annoying cases like,

`|BuTtErFly` or `|QoS-MAX` that I mean maybe we don't need to handle well, but still feel bad. I'm probably overthinkin

[2019-06-29 14:33] cmyr commented on #1207
In any case this would be a much easier & modular addition after the editor toolkit stuff happens.

[2019-06-30 21:02] sjoshid commented on #1158
I made some changes and ran all tests which are successful. I have questions on changing preference file.

- What is the expected behavior if I _rename_ prefrences.xiconfig? I think it is invalid testcase as it is Xi's **THE** pref file. Also it is hardcoded. But I maybe wrong.
-  What Im not sure about are the comments on top of pref file.

add your overrides in (for example) '$XI_CONFIG/rust.xic

[2019-07-01 12:25] Cogitri commented on #1194
Hm, should we rework `LanguageId` to be `Option<LanguageId>` everywhere (the proper, but more annoying way, I guess, especially since I'm not sure if this means something bad for plugins?), or should we just do `let lang = if self.language == "" { None } else { Some(self.language.as_ref()) }` when sending the RPC to the frontend?

[2019-07-02 06:34] msirringhaus commented on #1206
Yes, thank you very much! This can be closed from my side.

[2019-07-02 06:41] msirringhaus commented on #1207
I'm not even sure what you would expect to happen here.
For reference: Sublime jumps with "BuTtErFly" from one captial letter to the next:
`|BuTtErFly` -> `Bu|TtErFly` -> `BuTt|ErFly` -> `BuTtEr|Fly`.
Same for `QoS-MAX`: `|QoS-MAX` -> `Qo|S-MAX` -> `QoS|-MAX` -> `QoS-|MAX` -> `QoS-MAX|`

I don't think there has to be a very intelligent way to find out what "a word" is. These rules about capitaliza

[2019-07-02 08:28] lifranc commented on #131
Most people value computing power as much as they value plastic cups. They just go on thrashing their homeworld; their few paper cups are just *noise*. The false Gods are all the rage nowadays. Ave Caesar!

[2019-07-02 12:00] Cogitri commented on #1206
Alright 👍

[2019-07-02 12:00] #1206 closed

[2019-07-02 19:03] Cogitri commented on #1158
Yup, I don't think we should pay attention to that, since it's hard to implement and potentially confusing (e.g. if the user renames it to preferences.xiconfig.orig and creates a new preferences.xiconfig, what file should we track?).

I don't have a mac to validate this, but at least with `Tau` on Linux I don't get such errors. I guess @cmyr  might know more.

https://github.com/xi-editor/xi-edito

[2019-07-10 23:52] aniketd commented on #302
I felt like putting this in here.

- I learned `vim` for its purported awesomeness during college.
- 8 years later I swtiched to `spacemacs`, which is adding a lot more to muscle memory than plain `vim`.
- I tried `kakauone` around the same time and loved it, but didn't have time to invest in learning how to _configure_ it for myself. I had _no problem switching to the keybindings whatsoever_.
- I

[2019-07-11 17:20] dimitre opened #1211 "Scroll text not smooth when using mouse wheel"
I'm using a microsoft optical mouse with wheel, and scrolling is truncated when using the wheel to scroll the text.
when using scrollbar it is smooth.
Thank you!

## Details

_If your issue is a build or runtime error, please include the following:_
- OS / platform (e.g. macOS 10.13.2)
macOS 10.14.5
- rust compiler version (`rustc --version`) (we test against the latest
  stable release)
rustc 1.3

[2019-07-11 21:52] Cogitri commented on #1211
I think this is more an issue in xi-mac than xi-editor?

[2019-07-11 23:23] dimitre commented on #1211
Indeed @Cogitri , should I close here and open there?

[2019-07-11 23:27] Cogitri commented on #1211
Yes please :)

[2019-07-11 23:27] #1211 closed

[2019-07-12 13:14] o01eg opened #1212 "Accept multiple directories as extras"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Expected vs Actual
Actually client can set only one extras dir.

In a discussion https://github.com/xi-frontend/xi-term/issues/110 it was mentioned to use XDG specification `XDG_DATA_DIRS` to place system-wide installed plugins, which is a collection of director

[2019-07-12 14:33] Cogitri commented on #1212
Hm, although I don't really oppose this wouldn't the current approach work for xi-term too? Setting config_dir (allowing users to put stuff in their `$HOME`) as it currently does and setting extra_dir to some other dir (e.g. `/usr/libexec/xi-term`, maybe via an env plugin) would do the trick too since `XDG_DATA_DIRS` most definitely isn't the right place for plugins. Another problem is predictabil

[2019-07-12 14:44] o01eg commented on #1212
Yes, but it's a more general issue to allow multiple extras directories.

I suppose xi-core could use all of them, `ConfigManager::get_plugin_paths` already returns multiple directories.

Not sure about Windows, but on Linux it should use `XDG_CACHE_HOME`.

[2019-07-12 22:55] Cogitri commented on #1212
Which isn't available on all systems, let alone be handled by xi. I guess we could add a 3rd parameter to client_started

[2019-07-13 16:25] cmyr commented on #1194
I'm not sure i understand; we shouldn't be sending an `Option` to the frontend I don't think. I would prefer to just send `"text"` as a default; if the syntax isn't recognized nothing bad will happen. Alternatively we could maybe just not send `language_changed`, I'm not sure if it's expected or not?

[2019-07-13 16:26] cmyr commented on #1207
I agree!

[2019-07-13 23:19] Cogitri commented on #1194
Oh, alright, but that seems the clearest and easiest to me, I think. `Text` for no syntax highlighting seems odd to me, a `None` would clearly indicate that no lang has been chosen.

That'd be rather confusing though, it's not exactly straightforward what's the difference between Plain Text and Text (if you don't know that the former is supplied by syntect whereas the latter isn't).

Hm, at least

[2019-07-14 00:00] Cogitri commented on #60
Hm, should this really be handled by the core? At least for frontends using toolkits such as GTK or Qt this wouldn't be useful since those have their own file openers (which _have_ to be used in order to work correctly when sandboxed).

[2019-07-14 00:05] Cogitri commented on #86
Heya, is this still desirable?

[2019-07-14 00:10] Cogitri commented on #439
I guess this is succeeded by #1168 ?

[2019-07-14 00:13] Cogitri commented on #438
Hm, this seems rather annoying to implement in frontends, I think I personally prefer `alert`, which sends an error message to be displayed (which can be ignored) and an error code (which is more useful, since the error msg might have to be localized), which also leaves the frontend more freedom to decide what to do with the error.

[2019-07-14 00:14] Cogitri opened #1213 "Translate strings which we're sending to the frontend"
It'd be nice if we were to translate strings such as error messages, otherwise frontends have to do that.

[2019-07-14 07:56] Cogitri commented on #697
I think I'd personally lean towards having a TOML config file for plugins for $config_dir and allowing frontends to configure plugins as described above (although that'd need to be a request, I guess, if configuration is bad or the plugin isn't available)

[2019-07-14 07:57] Cogitri commented on #641
Closing since the original author is no more on GH

[2019-07-14 07:57] #641 closed

[2019-07-14 07:58] Cogitri commented on #582
Do annotations fill this gap?

[2019-07-14 08:05] Cogitri commented on #757
Since this has been answered I'll close this. Feel free to re-open it if you need something else

[2019-07-14 08:05] #757 closed

[2019-07-14 08:06] Cogitri commented on #1087
As we've discussed on Zulip some tome ago this isn't really something we want - frontends should know what version of Xi they use (e.g. by vendoring it).

[2019-07-14 08:06] #1087 closed

[2019-07-14 08:09] Cogitri commented on #921
FYI: https://github.com/scholtzan/xi-word-count

[2019-07-14 08:13] Cogitri commented on #1132
Yeah, we definitely need to work on the docs, I shall so that once I'm back home from holidays

[2019-07-16 07:58] tuananh opened #1214 "package ID specification `xi-syntect-plugin` matched no packages"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [ ] I have studied the documentation.

## Details

macOS 10.14.5
rustc 1.36.0 (a53f9df32 2019-07-03)
rustup
source commit id fb9f67e8061490027671793d1fa8287b49f5c4c9

build error

[code]

## Expected vs Actual
When describing an issue, it is very helpful to first describe expected behavior, followed by

[2019-07-16 08:00] #1214 closed

[2019-07-17 05:54] Cogitri commented on #1214
Does jt work now?

[2019-07-17 05:59] tuananh commented on #1214
yes. sorry. false alarm

On Wed, Jul 17, 2019 at 12:54 PM Rasmus Thomsen <notifications@github.com>
wrote:

[2019-07-17 06:00] Cogitri commented on #1214
Alrighty 👍

[2019-07-17 13:15] cmyr commented on #1212
My memory isn't totally clear but I believe xi _does_ allow the frontend to provide _two_ config directories, a 'system' one and a 'user' one. The idea being that the frontend can put bundled plugins and themes somewhere private, without the user stepping on them.

You specify this with the [`client_extras_dir` dir argument to `client_started`](https://github.com/xi-editor/xi-editor/blob/master/ru

[2019-07-17 13:17] cmyr commented on #1194
Yea, replace "Plaintext" for "text" as needed in my post above. My main thinking is just: having an unsupported syntax does not hurt anything, and it's conceptually clearer if we just say "every buffer has a syntax".

[2019-07-17 13:19] Cogitri commented on #1212
Yup, but the goal here was to use the `XDG` variables (basically standard dirs on linux for stuff like Downloads, Documents, Shared Files and so on), which includes multiple dirs (e.g. `$HOME/. local/share:/usr/local/share:/usr/share` so that the user can place the plugins in either of those dirs.

[2019-07-17 13:20] cmyr commented on #60
I do think that there's a case for have a common quick-open implementation in core, which would be reused for both navigating around files as well as for navigating plugin commands etc?

[2019-07-17 13:21] cmyr commented on #438
yes I'm happy to close this, I remember having a concrete motivation when I opened it but I do _not_ remember what that was. :)

[2019-07-17 13:21] #438 closed

[2019-07-17 13:23] cmyr commented on #1212
I think in the particular case described above the current mechanism would work, though; the client just sends `$XDG_DATA_DIR/xi/plugins` as `client_extras_dir`. I don't have any ambition to support an arbitrary number of paths; I don't see a super compelling use case there.

[2019-07-17 13:23] cmyr commented on #86
happy to close for now, we've made lots of movement in this direction.

[2019-07-17 13:23] #86 closed

[2019-07-17 13:24] cmyr commented on #1213
I would put this in the "one day" category, for now, but yes if core includes any human readable text it would be nice if core also provided localization.

[2019-07-17 13:27] cmyr commented on #582
Annotations go much of the way, by providing a system for describing structured data that a given frontend can know how to display.

[2019-07-17 14:03] Cogitri commented on #1212
But XDG_DATA_DIR maps to multiple dirs, so that's not possible as of now.

Anyway, I don't think it's worth it supporting multiple dirs either, it'd need some logic behind what path to prefer for conflicting files which I'd rather not have.
Would it be possible to just bake one dir into xi-term, @o01eg ? Tau does that to set a plugin dir.

[2019-07-17 14:05] Cogitri commented on #1194
Yup, I'd be in favour of just setting "Plain Text" as default.

[2019-07-17 14:09] Cogitri commented on #1213
Well, if we go the gettext route it'd be as easy as adding `gettext(<string>)` everywhere we have a string we want to translate and initializing gettext when starting xi-core

[2019-07-17 14:19] o01eg commented on #1212
XDG_DATA_DIRS is already preference-ordered as it is noted in specification.

It possible to take first directory from XDG_DATA_DIRS, I think.

[2019-07-17 14:36] Cogitri commented on #1212
Yes, but frontends may specify dirs that aren't in the XDG standard too, so we'd need some logic behind this (e.g. with an enum which allows the front-end to select between different approaches for this).

Anyway, in the short-term xi-term should just select one dir. Maybe you could draft a PR for xi-editor if you're interested in seeing this land?

[2019-07-18 02:43] Cogitri commented on #60
Sure, I guess it's more useful to TUIs

[2019-07-29 12:00] Cogitri opened #1215 "Tell the frontend what lineending is used"
It'd be nice if xi told the frontend what linending is used for a document (and give it a possibility to set this) so that frontends can:

A) Display this to the user
B) Allow him to set different lineendings
C) To allow the frontend easier string manipulation (e.g. Tau needs to know the lineneding to check for trailing spaces/tabs)

[2019-07-29 13:05] Cogitri opened #1216 "Supporting saving after X seconds of inactivity"
I really like this feature of IntelliJ IDEs and feel like it'd be nice of have in Xi too. I guess this should be done via a config option?

[2019-08-01 20:22] Cogitri commented on #1215
I guess this falls under #1187 too

[2019-08-01 20:39] Cogitri commented on #1216
Hm, to be honest I'm a bit lost how to implement this in Xi, do you happen to have an idea, @cmyr ? I guess we'd need to spawn a timer for X seconds when one of the insert* functions is called, or is there something else that's always called when modification are done?

[2019-08-02 15:35] Cogitri opened #1217 "Sometimes (at start?) plugin_started isn't sent"
So, after some digging I found out that `plugin_started` is usually called in `connect_plugin`. The problem is in line 908 in core_lib/src/tab.rs:

[code]

At startup we don't have any views yet, so this isn't executed. Should we wait for views here, or maybe we should send plugin_started for a new view when it's created anyway? I only tested this with the syntect plugin.

CC @cmyr

[2019-08-02 16:03] cmyr commented on #1215
Isn't this reported in the `config_changed` RPC?

[2019-08-02 16:04] cmyr commented on #1215
Basically the frontend should receive a notification for the config settings of each view, and this should be updated when those settings change; if that isn't happening it's a bug.

[2019-08-02 16:05] cmyr commented on #1216
This is a good question. I personally think having the editor overwrite user data without being asked is bad UX; to me the real solution is to privately stash unsaved changes, which can then be reloaded. This was worked on briefly (#939, #1014) but has been abandoned. It's definitely something I'd like to have, though.

[2019-08-02 16:08] cmyr commented on #1217
good point. Yes, I think that anytime a plugin attaches to a view it should notify the view; so maybe the correct place to put this isn't in `plugin_started`, but in wherever we tell the plugin about views? this should make it pretty easy to guarantee that if a plugin knows about a view, the view knows about the plugin.

[2019-08-02 16:27] Cogitri commented on #1217
I think you kean connect_plugin?

Sounds good to do it when the plugin is told about the views.

[2019-08-02 17:30] Cogitri commented on #1217
Found the thing, will make a PR once I have internet on my laptop

[2019-08-04 01:30] HactarCE commented on #302
I entirely agree with @aniketd. I started on Atom, tried Vim, tried Emacs, tried Spacemacs, and am now in Sublime Text. I use [Colemak](https://colemak.com), so even I didn't think Vim keybindings were awkward and outdated, they still wouldn't really work for me. In Atom I implemented my own set of modal keybindings, and now I'm doing the same in Sublime. I don't care one bit about a "vi-mode," bu

[2019-08-05 00:28] sjoshid opened #1219 "Word wrap is broken"
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.
- [x] I get this issue on multiple frontends including Xi mac.

Open prefs and make sure `word_wrap` is true.
Open Xi and start typing till you reach end of line.

Expectation: When you reach end of line a soft break will take you to "next" line.
Actual: Xi allows you keep typing past the win

[2019-08-05 08:23] Cogitri commented on #1219
What frontend are you using?

[2019-08-05 12:47] sjoshid commented on #1219
Tried two. Xi Mac and Tau. I’ll update the description when I get to my
computer.

On Mon, Aug 5, 2019 at 4:23 AM Rasmus Thomsen <notifications@github.com>
wrote:

[2019-08-05 20:10] Cogitri commented on #1219
![Screenshot from 2019-08-05 22-10-03](https://user-images.githubusercontent.com/8766773/62492042-cbfc5080-b7cd-11e9-8bda-c4f5edba3b5e.png)

Seems to work for me at least. Keep in mind it only wraps at words (so after a space).

[2019-08-05 23:53] sjoshid commented on #1219
![XiWrapping](https://user-images.githubusercontent.com/6751090/62501818-766a7880-b7ba-11e9-8ae4-480ba8a1c53b.gif)

[2019-08-06 00:15] Cogitri commented on #1219
You don't have a space in there, so it's not a word :)

It's word wrap, not text wrap.

[2019-08-06 15:36] #1217 closed

[2019-08-06 15:37] Cogitri commented on #1216
Hm, I guess I might just call save manually then if Tau goes out of focus for a few secs, I'll work on making save a request then :)

[2019-08-06 15:37] #1216 closed

[2019-08-06 15:39] cmyr commented on #1219
@Cogitri's explanation is correct: for linebreaking to occur, there needs to be a valid break position. If you type a contiguous string, there is no valid break position so we will not break.

To go deep on line breaking, check out [UAX #14](http://www.unicode.org/reports/tr14/tr14-43.html).

[2019-08-06 19:10] sjoshid commented on #1219
Im using Xi a lot more than I used to...that's when I ran into this issue. But I compared this feature with other major editors like vs code and sublime and both show correct behavior. And in both the pref is called "Word wrap"...not text wrap..not line wrap.
So instead of saying "Word wrap is broken" should I say "Implement word wrap"? Or this is not an issue at all? There is something definitely

[2019-08-06 19:25] Cogitri commented on #1219
Yes, it's word wrap, so it wraps words, not a line and words are usually divided by a space, so we only wrap if there's a space in between. I guess you're searching for syllables breaking?

[2019-08-06 19:56] cmyr commented on #1219
There is the concept of "emergency breaking", where even if there's no valid line break you just pick somewhere in the line and break anyway, but this is another chunk of work and it doesn't seem that important to me.

Is there a real-world situation where this is a problem for you? To me it feels like at worst an aesthetic issue.

[2019-08-06 22:14] sjoshid commented on #1219
Although not a real-world scenario...I thought maybe we can be in sync with other latest, widely used editors. But I agree with you both and can close this. Got to know `word-wrap` a bit more. Thank you.

[2019-08-06 22:14] #1219 closed

[2019-08-07 15:51] cmyr commented on #1219
Yea, I think that we would like to eventually implement "emergency breaks", but we can treat that as a separate feature. 😁

[2019-08-08 03:05] KeeganMyers commented on #1199
I am a relative beginner to rust and completely new to the code base. Would this be a decent 1st PR opportunity or should I look into another issue? If so I can probably start looking at this over the weekend.

[2019-08-08 13:40] cmyr commented on #1199
This is definitely a little bit of a project, but it isn't crazy, and the linked resources will be useful. It would certainly be a good way to become more familiar with the codebase.

[2019-08-23 07:17] Cogitri commented on #1215
Derp, my bad, somehow I didn't see that. Thanks for the pointer :)

[2019-08-23 07:17] #1215 closed

[2019-08-24 16:07] #1194 closed

[2019-08-31 18:45] Cogitri opened #1226 "How should available languages for spellchecking be communicated?"
So while trying to add the spellchecking plugin I've noticed that we don't really have a way to communicate what language to choose. Since `available_languages` talks about programming languages/syntaxes and not languages as in English/German and so on we can't really use that, I think (since syntax selection shouldn't clasg with language selection, you could totally want rust as syntax and still

[2019-09-03 01:04] cmyr commented on #1226
basically: I hope we can not deal with this. The spellcheck plugin itself should determine the user's current locale & language settings, and respect that.

[2019-09-03 06:02] Cogitri commented on #1226
Huh, but what about users who want to write in foreign languages? Or do you mean that it shoulr autodetect the lang from the written text?

[2019-09-03 06:35] cmyr commented on #1226
I would expect that when you're writing in a different language you switch input methods to something for that language, and then your spellchecker picks up the locale change and switches dictionaries.

You could try and get fancier than this, but I think it covers like 99% of use cases?

[2019-09-03 09:29] LiHRaM commented on #1226
Personally I never use US/UK/etc input methods for any English writing, as the English alphabet is a subset of the ones I use. I wouldn't be surprised if most people who write in a non-English language which uses the Latin alphabet do the same, which would cause some friction.

[2019-09-05 00:24] cmyr commented on #1226
@LiHRaM How does this work for you, with regard to spellcheck, currently?

[2019-09-05 10:21] LiHRaM commented on #1226
On Windows English is the default spellchecking language currently for Office / MS products such as Mail and Calendar and the browser. I'm not sure if this is because I have English as the display language and different keyboards assigned as input methods though. 🤷‍♂
I typically change it if auto-correct is enabled, otherwise I don't mind. But changing the spellcheck language is definitely somethi

[2019-09-05 11:04] Cogitri commented on #1226
I'll provide a screenshot later of how Gedit does it, but they basically have right click -> languages and there you can check one of the available languages it checks for then. This is in line with about every other program I've used as of now, switching the input method is both inconvenient and also annoying since symbols usually aren't the same as with the user's native input method.

[2019-09-08 20:44] erlend-sh commented on #1189
Amethyst and other Rust gamedev projects are also looking into this:

https://github.com/amethyst/amethyst/issues/1729
https://github.com/caelunshun/feather/issues/106#issuecomment-529080119

[2019-09-09 17:51] MarkMcCaskey commented on #1189
@cmyr I'd be happy to help out someone interested in doing this!  At Wasmer we're currently actively working on improving our support for the embedded use case.  As part of that we're working with projects to see where the pain points are so that we can fix them.

Things are moving fast in this area, especially if you want to use WASI, but we do have an in-development API for the embedded WASI use

[2019-09-15 21:05] #1092 closed

[2019-09-20 21:20] c4eater opened #1228 "Frontend protocol: why cursor updates are bundled with text updates?"
Hi,

I think I probably found a behavioral issue in the frontend protocol.

The question is, why does the protocol bundle the cursor updates with text updates?
For instance, here are the notifications sent by xi-core when I move the cursor down from line "mmm" to line "nnn". (The client is, quite expected, using a line cache that is storing a contiguous vector of recently rendered lines printed to

[2019-10-01 23:08] c4eater opened #1232 "'new_view' + 'set_theme' cause an assertion failure in linewrap.rs"
Hi,

I have encountered a data race between finalize_new_views() and do_set_theme() in CoreState, which results in a debug assertion failure in linewrap.rs.

This data race is triggered by the following simple sequence of rpcs:

1. client_started
2. new_view with params: {"file_path":"/path/to/some/file"} (file should be nonempty)
3. set_theme

See test update in c4eater/xi-editor@7dd6b40d36cbcac3

[2019-10-02 09:40] c4eater commented on #1232
Apologies, I take back the proposal to make an immediate call to finalize_new_views. I overlooked some test failures caused by this change. This approach is wrong because finalize_new_views emits some **notifications** (eg available_themes) before the **response** for new_view, which violates the standard.

I'll update my PR shortly. Will make an attempt to split finalize_new_views into an "immedi

[2019-10-03 10:53] Cogitri commented on #1232
No worries, thanks for working on this.

[2019-10-04 15:10] cmyr commented on #1232
Yea, this is annoying. line breaks are in a pretty shoddy state.

You're correct about the rationale for `finalize_new_views` being called in idle; we need to return from `new_views` and respond with the view identifier before we can start sending notifications.

[2019-10-04 16:45] kvark opened #1235 "Decouple xi-rpc from JSON"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

I'd like to use xi-rpc for inter-process communication with a different Serde implementation than JSON, for example: RON or bincode would have different trade-offs and may be more suitable.

Currently, `serde_json::Value` is showing up quite a bit in th

[2019-10-07 18:15] HactarCE commented on #1226
Sublime uses the term "dictionary" for spellcheck localization.

[2019-10-07 18:18] Cogitri commented on #1226
Sounds good. I guess we could basically duplicate the *languages* (as in syntax) RPC stuff and just bend it to to *dictionary*

[2019-10-07 18:25] #1115 closed

[2019-10-07 18:25] #1232 closed

[2019-10-08 13:01] HactarCE commented on #1226
Would this be something good for a beginner to do? I'd like to help, but all the low-hanging fruit has been completed.

[2019-10-08 13:11] HactarCE commented on #1150
Is this the _sort_ of thing that a plugin should implement? Certainly a plugin should be able to do this.

[2019-10-08 13:15] Cogitri commented on #1150
Hm, I guess it _could_ be done with a plugin, but this would be way easier to implement into xi-core itself (and makes more sense there IMHO)

[2019-10-08 13:19] Cogitri commented on #1226
Hmmm..not sure if it is. For this you'd need to:

1) Pass all text to a plugin (could look at how the syntect plugin does that)

1a) Maybe offer some customisability (e.g. only send commented out strings to the spellchecker, I find that really handy since I don't need spellchecking for my code)

2) Pass the text to some spellchecking library (IMHO enchant2 would be best and also has a Rust crate).

[2019-10-11 15:13] cmyr commented on #1150
I agree that sorting lines is a reasonable core feature.

[2019-10-12 05:34] HactarCE commented on #1150
Ok. Should it include all the parameters shown in the picture from Gedit?

And is _this_ something a beginner could do?

[2019-10-12 10:21] Cogitri commented on #1150
Well, here's what I'd do:

1) Add a new RPC. I guess it should take the selection you want to sort (and later on the additional arguments GEdit takes, but for the start just the base functionality would do)

2) Make the function which actually does the work (presumably in tabs.rs)

2)

[2019-10-15 15:14] cmyr commented on #1228
The purpose of the update protocol & the line cache is not to provide information or metadata about the document; it is only to give the frontend the information required to draw the currently visible region.

For our purposes, it is useful to think of the frontend as a 'dumb terminal'. All it does is draw.

The "update" operation was intended as a little efficiency win to reduce how much data we

[2019-10-15 16:51] c4eater commented on #1228
Well, I'm not saying the client should know anything about the document state/metadata.

The flag "cache lines have been modified: y/n" is a characteristic of the cache lines. There is no encapsulation leakage here.

Both updates "copy 47, move cursor" and "copy 12, replace 2, copy 33" would provide the same cache and cursor state in the end, but in the former case, the client would know that the

[2019-10-15 20:58] cmyr commented on #1228
Basically I think we're in agreement; it would be very reasonable for the protocol to special-case the situation where only cursors/styles have changed; this has been planned; it just never was hurting us enough to get implemented.

I do agree that it sounds like the frontend has some available improvements that aren't implemented; in xi-mac we redraw the smallest region required based on the upda

[2019-10-16 05:11] #1228 closed

[2019-11-01 00:47] sjoshid commented on #1150
Sorting makes sense only when entire selection is sortable. How should we sort selection of chars (i18n), number, spaces, tabs and so on? Are there any assumption we should be making?

[2019-11-01 01:40] cmyr commented on #1150
There are some standards for sorting unicode [UTS #10](http://www.unicode.org/reports/tr10/) but yes, handling everything correctly is not trivial; to do it correctly you need locale data and other fun stuff. For our purposes, though, I think just lexicographic order would be fine, and you get that for free via the `PartialOrd` impl on `String`/`str`.

[2019-11-03 20:35] cmyr commented on #1235
Pardon the slow response, as is probably evident, this isn't anyone's focus at the moment.

To try and answer the question: for some annoying reasons, we do some introspection of the received json early on, in order to determine if it's a response to an earlier message; if it is then it needs to be handled immediately, since it's possible that our main thread is blocked waiting for this message.

[2019-11-03 20:39] cmyr commented on #1189
@MarkMcCaskey sorry, missed this comment!

xi is on the back burner right now, but I am potentially interested in a plugin mechanism for [runebender](https://github.com/linebender/runebender); I'll definitely keep this in mind, I'm very curious.

[2019-11-03 21:03] kvark commented on #1235
We decid to go with Mozilla's standard IPC, so this is not an issue any more for us. Please feel free to close!

[2019-11-03 21:04] cmyr commented on #1235
glad you've figured something out. :)

[2019-11-03 21:04] #1235 closed

[2019-11-05 13:57] Cogitri commented on #1189
I explored this for Tau too since I wanted to add hooks to it (e.g. run save.sh script during save, e.g. to run `cargo fmt`  when saving a rust file). It'd be nice that Gluon is platform agnostic, but I'd personally prefer just using SH due to it using a simpler syntax and more people knowing it.

[2019-11-06 07:41] ShalokShalom commented on #1189
SH has a simpler syntax as Gluon?

[2019-11-06 11:28] Cogitri commented on #1189
Well, it's certainly more well known

-------- Original Message --------
On 6 Nov 2019, 08:41, ShalokShalom wrote:

[2019-11-06 20:22] ShalokShalom commented on #1189
emacs is more well known as Xi

So by that standard..

[2019-11-10 07:40] Iamshankhadeep commented on #1199
I am new to this community and rust, Can I work on this issue?

[2019-11-10 09:43] nangtrongvuon commented on #1199
@Iamshankhadeep Sure, feel free to dive into this and ask around on the xi zulipchat if you need help!

[2019-11-14 07:55] unordered commented on #635
The url <https://fuchsia.googlesource.com/topaz/+/master/app/xi/> is not found:

![not found screenshot](https://user-images.githubusercontent.com/21697340/68837198-0479c780-06f7-11ea-98ba-b531c13701b2.png)

[2019-11-14 18:38] Iamshankhadeep commented on #1199
@nangtrongvuon sorry I am a little bit busy with something so I will start working on it this Sunday . Is it okay?

[2019-11-16 19:00] mcobzarenco opened #1240 "Cargo install fails because of inconsistent crossbeam versions"
# Details
Running `cargo run install -f .` on master fails with the message below (I think this was caused by upgrading notify in this [commit](https://github.com/xi-editor/xi-editor/commit/0b15cfe11c24d0b5f6f4fe74956f7e7308a28fdd), I can build it successfully 1 commit before).

[code]
Environment
[code]

[2019-11-16 19:41] Cogitri commented on #1240
Can you run cargo update and try again?

[2019-11-16 20:24] mcobzarenco commented on #1240
I have tried `cargo update` to no avail; it updates these `crossbeam` dependencies:
[code]
I'm happy to try to submit a PR to fix it if you could point me in the right direction, but it's not clear to me which 2 crates have conflicting crossbeam dependencies.

[2019-11-17 09:28] Cogitri commented on #1240
rpc expects a different version than core-lib apparently. Dunno why that happens though since both should use the same cargo.lock :thinking:

A PR would be nice.

[2019-11-22 00:19] nhooyr commented on #1151
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:19] #1151 closed

[2019-11-24 14:32] Ngo-The-Trung commented on #635
Seems like the implementation was removed in July from the googlesource website in commit 6ada2c0db1f9935f because it was unused.

This URL should work:
https://fuchsia.googlesource.com/topaz/+/4541ac62baa510ceef2e3d115adf90fd0af72447/bin/xi/

[2019-11-27 20:00] ndrewtl opened #1242 "During `cargo install --path rust`, xi-core-lib fails to compile, "mismatched types""
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

OS: Fedora 31

[code]
rustc installed via rustup
Not using frontend

[code]

## Expected vs Actual

Expected to build without failures, and install to `$CARGO_PATH`

Actual: build failure

[2019-11-29 14:36] seagle0128 commented on #816
Can you please provide the beta pre-compiled binary for the users?

[2019-12-01 07:26] nangtrongvuon commented on #816
@seagle0128 The idea is that we don't support releases yet, so we also don't provide a pre-compiled binary. Although it doesn't seem too difficult to just have CI spit out a release build here and there? cc @cmyr ?

[2019-12-01 15:55] #1240 closed

[2019-12-01 16:48] cmyr commented on #816
If someone wanted to manually package a binary and add it as a github release that would be fine by me.

[2019-12-03 10:57] heyakyra commented on #302
A fellow non-querty user here (started with Colemak but now use Dvorak) would also appreciate Kak mode to satisfy this ticket. Is there already a ticket for handling multiple cursors/selections? What else is needed for `XiVi` to act like Kakoune?

[2019-12-03 20:15] GeoffChurch commented on #302
Modality is pretty ubiquitous even in (by default) "non-modal" editors (e.g. the Ctrl/Cmd+Shift+P "Command Palette" in VS Code and Sublime, [Prefix Keys](https://www.gnu.org/software/emacs/manual/html_node/elisp/Prefix-Keys.html) in Emacs, and autocompletion pop-ups in many editors which usually change the behavior of the \<TAB\> and \<RET\> keys).

I think most/all frontends will implement at lea

[2019-12-04 04:13] nangtrongvuon commented on #302
Multiple cursors/selection already works in xi, unless you mean when using the (pretty outdated I think) xivi plugin.

[2020-01-03 04:13] cmyr opened #1248 "fix new clippy lints in 1.40"
CI is failing because clippy is sad. If someone wants to patch that up they're welcome to!

[2020-01-03 07:24] PsiACE commented on #1248
If no one else, I want to have a try. But maybe not so timely.

[2020-01-03 20:38] PsiACE commented on #1248
Finished. It passed all checks, I have temporarily retained the old code for evaluation.

[2020-01-07 19:35] #1248 closed

[2020-02-04 08:48] mooman219 opened #1250 "xi-unicode no_std support"
`xi-unicode` source wise isn't using any `std` API that isn't also in `core`, and can otherwise be trivially given the `#![no_std]` annotation in its `lib.rs`.

Is there any non-obvious reason why it isn't already marked as `#![no_std]`, or would it be alright to PR a patch to make it so?

[2020-02-04 15:16] raphlinus commented on #1250
If it works, I'd be happy for such a patch.

[2020-02-16 03:23] Lord-Remington-the-3rd opened #1252 "xi-editor build falling on linux"
cargo and rustc version 1.41.0
build args: cargo build --all --release
linux: 5.4.18-1-MANJARO

### **BUILD ERROR:**

[2020-02-16 03:31] Cogitri commented on #1252
Are you really sure you're using Rust 1.41? Those features should be stabilized since Rust 1.39. Whar does `rustc --version` return?

[2020-02-16 04:08] Lord-Remington-the-3rd commented on #1252
It returns 1.41. So I was confused as well

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rasmus Thomsen <notifications@github.com>
Sent: Saturday, February 15, 2020 10:31:18 PM
To: xi-editor/xi-editor <xi-editor@noreply.github.com>
Cc: Lord Remington III <valy.osman@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [xi-editor/xi-editor] xi-editor bu

[2020-02-16 05:24] Lord-Remington-the-3rd commented on #1252
i am not confident on this but i think its because someone wrote MaybeUninit::uninit() instead of MaybeUninit::uninit<_>()

[2020-02-16 11:22] Cogitri commented on #1252
Works just fine for me.

[code]

[2020-02-16 19:32] Lord-Remington-the-3rd commented on #1252
Is my cargo defaulting to an earlier version of rust? Is there a way I can change that?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rasmus Thomsen <notifications@github.com>
Sent: Sunday, February 16, 2020 6:22:22 AM
To: xi-editor/xi-editor <xi-editor@noreply.github.com>
Cc: Lord Remington III <valy.osman@hotmail.com>; Author <author@noreply.github.com>
Subje

[2020-02-17 20:30] Cogitri commented on #1252
You can modify what version cargo uses with `cargo +nightly` or similar.

[2020-02-22 03:37] #1252 closed

[2020-02-27 20:13] gromovadarya90 opened #1255 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-07 14:07] #874 closed

[2020-03-07 14:08] #848 closed

[2020-03-07 14:08] #808 closed

[2020-03-07 14:08] #806 closed

[2020-03-07 14:08] #796 closed

[2020-03-07 14:09] #843 closed

[2020-03-19 14:38] #1250 closed

[2020-03-21 16:24] balthild commented on #51
@vmdanilov

By considering different polygons as different "layers of acrylic" and adding some shadows and corner radius, it may conform Fluent Design System, the new look of icons in Win10.

![图片](https://user-images.githubusercontent.com/2662758/77230995-071f8880-6bd3-11ea-973b-ada8b432cb8c.png)

[2020-04-22 00:05] jakbyte opened #1260 "License has placeholder date and copyright holder"
Looks like the `LICENSE` file has a placeholder date and copyright holder.

[2020-04-22 00:06] jakbyte commented on #1260
Wait, is it? Sorry if I'm mistaken.

[2020-04-27 07:38] Gavlooth opened #1262 "doc links return 404"
All the doc links in https://github.com/xi-editor/xi-editor/blob/master/docs/docs.md
return 404

[2020-04-27 14:50] TDecki commented on #1262
In case you need them, the documentaion moved to https://xi-editor.io/docs.html.

[2020-04-28 20:23] shtanton commented on #323
There hasn't been much activity here in a while, but it's so nearly finished!

If the last point seems like a plausible first contribution to the project then I can get started.

[2020-04-29 11:46] shtanton commented on #1150
Perhaps if multiple selections are active, it sorts and transposes the contents of the selections, and if only one exists it sorts lines?

With this sorting with part of a single line selected would do nothing but I think that functionality would be hard to design and unreliable as there's no surefire way to know how the user wants to split terms.

[2020-04-29 13:07] shtanton commented on #302
What about support for many keymaps, one of which is active at a time? Xi could ship with just one but plugins could add their own and a keymap is selected per buffer.
Very similar to emacs major modes.

This would need a way to inherit or modify existing keymaps in order to add user defined mappings too

[2020-04-29 14:26] #323 closed

[2020-05-01 14:46] TDecki commented on #1199
I think this issue can be closed now.

[2020-05-02 03:50] ul commented on #250
Is there any ongoing work for this project? I'm especially interested in "Support Undo operations in the CRDT". Is anyone having a deep Engine understanding keen to work on it with me? I also could offer a bounty for this implementation.

[2020-05-25 23:44] bvinc opened #1269 "Large files opened with syntect plugin enabled causes flood of useless update ops"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

For example, I'm using this file as my large text file.
https://norvig.com/big.txt

When I open this file, which is recognized correctly as plain text, and is 128457 lines long, the xi backend floods the frontend with 12847 notifications that all look like the foll

[2020-05-26 11:44] Cogitri commented on #1269
Hey,

yeah, right now style updates are coupled with the text updates which is problematic. It'd be nice if style updates were split from text updates, so:

1) Not as much data to send via RPC
2) Frontends can prioritize getting text into the cache over style

BTW, since you're back now: I've forked gxi quite a while ago and made Tau out of it: https://gitlab.gnome.org/World/Tau

Maybe you want to

[2020-05-30 03:23] shanejonas opened #1271 "Add OpenRPC support to define plugin API"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details
I think this project could benefit from integration with OpenRPC which provides a base foundation for service discovery and tooling such as documentation/client generation/mock server for JSON-RPC akin to OpenAPI/Swagger.

Here is an example of the OpenR

[2020-06-01 07:39] Cogitri opened #1272 "Crash in xi-syntect-plugin when doing find&replace"
When doing find&replace with syntax highlighting enabled xi-syntect-plugin often crashes with  the following backtrace:

[code]

I'm using xi-editor 72ce488f0c17462dc4b5637648120076fa5cc6fb . Bug report in Tau with reproducer file: https://gitlab.gnome.org/World/Tau/-/issues/402#note_824072

[2020-06-02 05:40] LiHRaM commented on #1271
I think this is a really good idea. Do you have an idea for how this could be implemented for Xi?

[2020-06-02 06:38] LiHRaM commented on #1199
Yep!

[2020-06-02 06:38] #1199 closed

[2020-06-07 08:44] hoijui opened #1273 "Minimum rust version"
I had rust(c) version 1.36.0, and got this error with `cargo build`:

[code]

I found out that `mem::take` was added in Rust 1.40.0.
In order for others to not have to figure this out themselfs,
I wanted to note this minimum rust version in the _Cargo.toml_.
[The option to do this (`package.rust`)](https://github.com/rust-lang/rfcs/pull/2495) is very new though,
and thus my old cargo did not yet s

[2020-06-07 08:54] Cogitri commented on #1273
Sounds good, let's do that. Do you want to make a PR for that?

[2020-06-14 07:49] #1273 closed

[2020-06-14 20:34] bvinc opened #1275 "xi_rope multiset panic with syntect plugin enabled"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

I'm running the latest master, using Linux and a custom frontend.  I can reproduce this pretty easily by doing the following:

1.  Run xi with the syntect plugin.
1.  Create a new view.
2.  Start typing really fast, including the space bar and enter.

I'll get a pa

[2020-06-14 20:59] bvinc commented on #1275
All that seems to be required is:
1.  Type space.
2.  Type a letter.
3.  Hit enter and space quickly repeatedly and randomly.

Here's a log of everything I sent to the backend before it panicked this time.

[code]

[2020-06-17 03:43] wdanilo opened #1276 "Problem with `Spans` modification."
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details
Hi! I'm trying to use the `xi-rope` 0.3 crate based on its docs and the usages in `xi-editor`. As far as I understand, we can use `Spans` to mark some parts of the text with meta-information. So let's assume I want to mark the text with information wheth

[2020-06-18 22:33] raphlinus commented on #1276
Ok, I see what's going on here. The `edit` method is not doing what you think it is at all; you're probably thinking of it like a set of spans, expecting it to add a span with the same offsets. It might help for me to explain the semantic model provided by the `edit` operation.

Ignoring UTF-8 for now, a string is a sequence of ASCII characters, or a mapping from index to character. An interval tr

[2020-06-18 23:24] wdanilo commented on #1276
@raphlinus Thank you for the super-detailed explanation.

I see now where my confusion came from. One of my basic assumptions was incorrect - I was sure that the `interval` argument passed to `spans.edit` describes **both** what part we want to replace (correct), as well as which part of the builder we want to use (incorrect). Somehow such a design was natural to me so I was not even considering t

[2020-06-18 23:24] #1276 closed

[2020-06-21 16:47] bvinc commented on #1275
auto_indent being enabled may be a necessary requirement for reproducing this.

at engine.rs:598, here's an example of the values involved:

[code]

This is breaking the precondition for `transform` that `self.count(CountMatcher::All) == other.count(CountMatcher::Zero)`

[2020-06-21 22:53] bvinc commented on #1275
I've captured the `edit_rev` methods and the `gc` calls to the engine and reproduced it.   I've turned what I've logged into a test case.  Unfortunately, I don't know enough to know where the bug lies or who is at fault.  But this test case represents what happens:

[code]

[2020-06-22 04:59] bvinc commented on #1275
So what is happening is that the syntect plugin is inserting indentation (`d5` above) after a newline.  Inbetween the newline and the indentation edits, I'm quickly pressing the spacebar (`d4` above).  This is causing 2 edits to the same base revision, which is exactly what the engine is designed for.  The problem is that the 2 edits to the same revision use different undo groups, and it receives

[2020-06-29 15:44] #1136 closed

[2020-08-01 11:48] dhardy opened #1289 "xi-unicode: detecting break at end of string"
`xi_unicode::LineBreakIterator` always reports a hard-break at the end of its input. Fine, but I need to know (for `kas-text`; also affects @alexheretic's `glyph-brush-layout`) whether my document ends with an explicit line-break or not. Is there a clean way to do this?

The `linebreak_property` fn is exposed but with no documentation as to its return value (and it's not easy to tell from the code

[2020-08-01 14:39] raphlinus commented on #1289
I think you can tell by looking at the last character, yes. Generally I tried to follow the ICU API here - I haven't taken a look right now because I wanted to respond quickly, but do you know if it does something special?

There are other possibilities of course, such as not reporting the break unless it is explicit, so relying on the caller to handle end of string (as an option so it wouldn't br

[2020-08-01 17:17] dhardy commented on #1289
[This is my code](https://github.com/kas-gui/kas-text/blob/11266f71ca8dee93857aa2c0690f7bfcc3558290/src/prepared/text_runs.rs#L134) which seems to work but hasn't been thoroughly tested.

I guess this would be preferable for me. As it is I don't end up checking the last item returned from the iterator anyway (since it's guaranteed to be at the end of the text).

Quick (off-topic) question: what is

[2020-08-01 19:17] raphlinus commented on #1289
From a quick look at your code, I think it's fine.

Having had another look at [Annex 14](https://unicode.org/reports/tr14/), I'm not sure there's a strong reason to change the code. I think it's reasonable to define the code as implementing the Unicode line break algorithm, which it does, and that has the EOT test before all others. It's also the case that TR14 is not the whole story, there's a b

[2020-08-01 19:43] dhardy commented on #1289
Yup, makes sense. Thanks for the opinion.

I guess this means `linebreak_property` should not be part of the public API (or at least `#[doc(hidden)]`? It's completely unusable without documentation.

[2020-08-01 20:14] raphlinus commented on #1289
I think the line break properties follow ICU, so it's not a normative standard but probably de-facto. The best solution might be to document them, possibly with a bunch of constants (if I were writing it today, I might use a repr[u8] enum or a newtype, but I'm not sure the API breakage would be worth it). If nothing else, that would make the tests more readable. Looking at the code, I think the re

[2020-09-01 07:40] MonAaraj opened #1290 "Cargo build error: failed to fetch `https://github.com/rust-lang/crates.io-index`"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

## Details

_If your issue is a build or runtime error, please include the following:_
- OS / platform (e.g. macOS 10.13.2)
Ubuntu 19.10
- rust compiler version (`rustc --version`) (we test against the latest
  stable release)
1.45.2
- rust compiler installation me

[2020-09-01 13:05] cmyr commented on #1290
I'd try `rustup update` and `cargo clean` and maybe `cargo update` and see if any of those help.

[2020-09-01 13:30] MonAaraj commented on #1290
Removing the last 3 lines (in the `[patch` part) and running `cargo build` worked amazingly. Will try the commands you suggested.

[2020-09-02 02:18] MonAaraj commented on #1290
Nope, they didn't, thanks for helping though, do I keep this issue open until it's resolved in master, or...?

[2020-09-04 19:47] raphlinus commented on #1289
Thinking about this some more, I'm pretty convinced, and will shortly upload a PR.

Regarding the numeric properties, I'm going to document their meaning (ICU is an authoritative source). If I were inclined, I think it would be better to make it an enum, but that's a bigger code change for unclear benefit.

Thanks for bringing this up!

[2020-09-08 04:46] #1289 closed

[2020-09-10 03:30] shanliu opened #1294 "bug or config error?"
platform:windows
[2020-09-10][11:18:39][xi_core][INFO] Logging with fern is set up
[2020-09-10][11:18:39][xi_core][INFO] Writing logs to: C:\Users\PC\AppData\Local\xi-core\xi-core.log
[2020-09-10][11:18:41][xi_core][ERROR] xi-core exited with error:
Json(Error("EOF while parsing a value", line: 2, column: 0))

[2020-09-10 06:19] Cogitri commented on #1294
Well, what value are you sending to xi-core? You're probably sending invalid JSON to it.

[2020-09-17 08:16] shanliu commented on #1294
i pull xi-editor/xi-editor  master branch and cargo run,show this error.
i try xi-win is ok

[2020-09-17 08:17] #1294 closed

[2020-10-20 03:48] windowshome opened #1297 "no such module 'ArgumentParser'"
/Users/xuwei/Desktop/xi-mac/Sources/XiCLICore/Xi.swift:15:8: error: no such module 'ArgumentParser'
import ArgumentParser
       ^

** BUILD FAILED **

The following build commands failed:
	CompileSwift normal x86_64
	CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(2 failures)

[2020-10-20 06:50] Cogitri commented on #1297
This is a xi-mac and not a xi-editor issue, could you please report this at https://github.com/xi-editor/xi-mac/issues ?

[2020-10-20 06:50] #1297 closed

[2020-10-28 13:49] sucrecacao opened #1298 "What is the state of the project ?"
Hi !

I'm confuse about the state of the project

I saw the video of Raph Levien at Recurse Center , I though the project was awesome. Then I found Raph's the postmortem article announcing the end of the project. And now I see that people still contribute to the GitHub repo.

As a newbie, I couldn't understand Raph article. I think it was addressing xi's community and contributors.

Did the projec

[2020-10-28 15:02] jansol commented on #1298
TL;DR: as a standalone editor the project has effectively ended, but the components and research are kept alive and well by an active community

As a text editor I'd say the project is in "maintenance mode" where it gets occasional fixes but no active feature development. However the project has sparked a fairly active community over on [zulip](https://xi.zulipchat.com/) as well as a number of cra

[2020-10-29 00:20] sucrecacao opened #1299 "Simple `hello world` example"
Hello,

I'm trying to open a file, write 'hello world', and save the file.

So far I did the following:
In one terminal
[code]
In another:
[code]

But I get the following error` "unknown variant \`client_started\``:
[code]

I'm I missing something ?

Also, the doc is very well written but a bit stiff. I would be nice to have a middle step between the API reference and the front-end examples. It mi

[2020-10-30 01:02] sucrecacao commented on #1299
OK I got. I was adding an 'id' parameter in rpc request that didn't needed one. I believe this could be more clear in the doc.

What confused me is that  the first example use an id :

So I thought all rpc request needed an id.

[2020-11-16 22:01] c4eater opened #1301 "xi-core invalidates a line in the middle of the line cache"
(This is a duplicate of the correspondent [zulip topic](https://xi.zulipchat.com/#narrow/stream/147924-xi-editor/topic/invalidating.20a.20line.20in.20the.20middle.20of.20the.20linecache.3F). I'm creating it for the bookkeeping.)

The problem is: given a specially constructed  sequence of XML-RPC commands (see below) from the frontend, xi-core can generate a vector of UpdateOps that has an "invalid

[2020-11-26 14:13] #1299 closed

[2020-12-12 12:32] #1301 closed

[2020-12-17 13:06] StevenJiang1110 opened #1303 "Some cases may lead to crash when fuzzing xi-core-lib using afl.rs"
I have used [afl.rs](https://github.com/rust-fuzz/afl.rs) to fuzz the core-lib crate of xi-eidtor(version = "0.4.0", the newest version directly cloned from github). I run fuzz on my ubuntu18.04, x86-64 machine, and I've found several cases may lead to panic.
First is an index out of bounds panic, it can be replayed by
[code]
The error message is
![截屏2020-12-17 下午9 01 17](https://user-images.githu

[2020-12-24 11:00] sucrecacao opened #1304 "error code -32600 unknown variant `set_language`"
# Xi-Editor Issue Template
- [X ] I have searched existing issues and could not find my issue.
- [X ] I have studied the documentation.

Send the following `set_language` request to xi-core:
`{"id": 1, "method":"set_language", "params" : {"view-id":"view-id-1", "language_id":"Rust"} }`

I got the following error:
[code]

I also tried without the `id` argument:
[code]
But I don't get any reponse (

[2020-12-27 08:24] sucrecacao opened #1305 "Jump to next char with multiple selections"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

I'm trying to mimic vim/kakoune `f` and `t` normal command, to jump to the first occurrence of a character.
To do so I call `find` ( with the single character as parameter) followed by `find_next` .
It works perfectly with one selection but with multiple selection

[2020-12-27 19:29] sucrecacao opened #1306 "Is it possible to avoide Camel case to snake case in rpc.rs"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [X] I have studied the documentation.

Hello,

I'm new to xi-editor and wanted to hack it a bit. My first initiative was to search for rpc requests in the source code and trace the code from there. But due to the camel to snake case translation in `rpc.rs`, I didn't find any result when search for `move

[2020-12-27 19:39] Cogitri commented on #1304
Hm, that should work, in `Tau` I send the following command to change the language:

[code]

And get the following response:

[code]

Keep in mind that you need the syntect plugin for this to work.

[2020-12-27 19:43] Cogitri commented on #1306
Using `CamelCase` for enum variants is the default for Rust, see https://doc.rust-lang.org/1.0.0/style/style/naming/README.html. As such, we probably don't want to change this, sorry about that. I suppose we *could*  put a comment there, but I doubt that would actually make it easier to find. I suppose it'd be better to make a "New Comers" guide or something since the Xi codebase can be rather con

[2020-12-27 19:43] #1306 closed

[2020-12-27 19:45] Cogitri commented on #1305
Ah yes, `find_next` can be a bit dodgy, I think I hit something similiar in Tau. Not quite sure how to fix this (and Xi is kind of inactive in general right now, so you may have to fix this yourself :/)

[2020-12-27 22:09] sucrecacao commented on #1304
Ah I didn't know, it is not specified in the doc ( https://xi-editor.io/docs/frontend-protocol.html#set_language )

[2020-12-28 00:26] Cogitri commented on #1304
Ah, I should've worded that differently: Without the syntect plugin, [available_languages](https://xi-editor.io/docs/frontend-protocol.html#available_languages) will probably be empty and you can only set languages that are specified by `available_languages`. Would be better to document that in the docs since plugins other than syntect could provide that functionality.

[2020-12-29 01:49] sucrecacao commented on #1304
Any doc on how to install a plugin ? I can't see any on xi website

[2020-12-29 08:59] Cogitri commented on #1304
Just doing `make install in the `syntect-plugin` folder should do the trick,

[2020-12-29 23:03] #1304 closed

[2021-01-09 08:04] twitchyliquid64 opened #1308 "Update crates.io versions?"
Heya =]

It looks like the crates are ~2 years out of date. Any chance someone on the ACL (I think @raphlinus / @cmyr are the only owners) could `cargo publish` them?

[2021-03-09 12:21] Joe23232 opened #1310 "Is Xi still being maintained?"
Is Xi still being maintained or is it a dead project?

[2021-03-09 12:27] jansol commented on #1310
See #1298

[2021-03-09 12:27] #1310 closed

[2021-03-22 12:57] nin-jin commented on #1187
Hi, I'm working on [CROWD](https://github.com/hyoo-ru/crowd.hyoo.ru). It's like CRDT, but different. You can try this case in our [sandbox](https://crowd.hyoo.ru/). And you can make sure that it works as you expect. What do you think about this approach? Could it be suitable for your case?

[2021-03-22 14:15] nin-jin commented on #1187
Hi, I'm working on [CROWD](https://github.com/hyoo-ru/crowd.hyoo.ru). It's like CRDT, but different. You can try this case in our [sandbox](https://crowd.hyoo.ru/). And you can make sure that it works as you expect (`E F G`). However, please note, if you don't replace, but delete then insert, then result will be `E F GD `, because deletion and insertion is unrelated and and we are afraid to delete

[2021-03-22 17:19] josephg commented on #1187
CRDTs aren’t an algorithm in themselves but they make up a class of algorithm - with some useful properties. Is your system not part of this class of algorithm? Why?

[2021-03-22 20:02] nin-jin commented on #1187
@josephg  https://github.com/hyoo-ru/crowd.hyoo.ru#comparison-of-approaches

[2021-04-02 10:08] vedon opened #1311 "add `#![feature(stdsimd)]` to the crate attributes to enable"
Hi, I can't run the test in multiset.rs  on my m1 macbook pro.  rustc 1.53.0-nightly (07e0e2ec2 2021-03-24)

![image](https://user-images.githubusercontent.com/1811570/113406408-058bc180-93de-11eb-82b1-21e67f63fe79.png)

The error show below:

error[E0658]: use of unstable library feature 'stdsimd'
   --> rope/src/compare.rs:485:12
    |
485 |         if is_x86_feature_detected!("sse4.2") {
    |

[2021-04-02 10:09] vedon commented on #1311
I have added `#![feature(stdsimd)] to the crate, but it still not working.

[2021-04-04 03:45] devillove084 commented on #1311
+1

[2021-06-26 14:30] #1311 closed

[2021-08-03 06:27] Silentdoer opened #1317 "it can use in terminal like vim, nano ..?"

[2021-08-03 07:29] MuhammedZakir commented on #1317
https://github.com/xi-editor/xi-editor#frontends

[2021-08-03 10:29] #1317 closed

[2021-11-29 17:40] facekapow commented on #51
Hey there, I'm the author of the current icon (#16). I originally stumbled upon Xi when it was in its infancy and contributed the icon just so it would have one. I'm a programmer, not a designer, and I whipped something up in under an hour; I think it's safe to say it's certainly not a good icon. I just recently came across this project again and noticed it still had that icon. Honestly, I'm a lit

[2021-12-29 21:41] kennylevinsen opened #1320 "5ms MAX_IDLE_WAIT in xi_rpc::next_read leads to unwanted CPU utilization"
`xi_rpc::next_read` currently implements naïve busy-polling to service multiple task sources in a non-blocking manner. This is done by attempting to read from the peer with a very short timeout, and if the timeout is met, try to service other "background tasks".

A more appropriate implementation would either be a proper poll that blocks indefinitely on all sources, or something along the lines of

[2022-01-03 18:42] cmyr commented on #1320
Xi is not under active development, so I wouldn't expect this to be fixed in the near future, but I agree that this is an inelegant aspect of the design.

[2022-01-04 12:02] kennylevinsen commented on #1320
Indeed. In this case it was discovered due to the use of Xi components in [lapce](https://github.com/lapce/lapce).

[2022-01-04 18:08] cmyr commented on #1320
ah gotcha, I do need to look into that project in more detail, I have aspirations for having a better text-editing component in druid.

[2022-04-12 09:15] laurmaedje opened #1322 "`xi-unicode` allows linebreaks in emoji sequences"
The `xi_unicode::LineBreakIterator` allows breaks inside of a lot of the longer emoji sequences. For example:
[code]
Not sure whether this is an actual bug in the code or whether the Unicode data is just outdated. In any case, since this library is used by quite a few projects, it might be worth investigating!

[2022-07-16 03:30] snowman opened #1335 "Please remove "Xi" from name or rename to something else, this imply president's name, otherwise you'll get banned"
# Xi-Editor Issue Template
- [X] I have searched existing issues and could not find my issue.
- [ ] I have studied the documentation.

## Expected vs Actual
don't use `xi` in name or rename it to `ix-editor` or something else

[2022-07-16 04:18] #1335 closed

[2022-07-16 06:54] fightingcat commented on #1335
Then I vote for Pooh-Editor or Winnie's Editor.

[2022-07-16 09:46] lixiang810 commented on #1335
I don't even know whether you're joking about him or not.

[2022-07-18 09:41] WhiredPlanck commented on #1335
亲爱的朋友，这实在有点离谱，我不知道你是在讽刺还是发自真心地提出这个 Issue。我相信你肯定看得懂中文 …… 从老实人的角度我想说：请不要将自己的眼光太狭隘，狭隘到只能看见拼音的世界；也不要往本不应该附加政治意义的地方去强行附加政治意义。 X 开头的单词在英语世界里本就很少见（可以打开你的《牛津高阶英汉双解词典》，看看 X 开头的有多少页？），所以我想这个项目用 Xi 也是想表达与众不同的含义，而且在本项目介绍的第二行，就写着它的发音叫 Zigh。开源本就坎坷，请保持它应有的纯洁，不要再平添现实世界的纷扰。