[2018-03-28 15:46] FilipMiletic commented on #580
I will, just want to reproduce it once again. Will report back shortly.

[2018-03-28 15:57] FilipMiletic commented on #580
Okay, so it seems waking it up now didn't produce the problem. But what could be the problem (I'm stupid forgot to mention very important detail and that is) is that when I opened the lid when the problem occurred I was connected to external monitor (1080p Dell Monitor), so maybe that's the cause why the frontend blew up. I will try and reproduce that same situation when I get home tonight, and wi

[2018-03-28 16:05] cmyr opened #581 "Polish and cleanup in xi-trace"
I know that @vlovich was already considering/planning some of these changes, but after actually using the tracing tools I wanted to note down some of my observations:

~- [ ] _Add macros to wrap various tracing functions?_ currently even if tracing is disabled, the trace function is processed, which could include the allocation of a payload. This could be replaced with a macro that checks if traci

[2018-03-28 16:06] #471 closed

[2018-03-28 17:18] vlovich commented on #580
Wouldn’t surprise me.  OS X has always struggled with external/multi
monitor support working properly.  Wouldn’t surprise me if our use of
OpenGL and layers for performance exposes some underlying bug we need to
work around.

On Wed, Mar 28, 2018 at 8:57 AM Filip Miletic <notifications@github.com>
wrote:

[2018-03-28 17:31] vlovich commented on #581
I have been in the process of cleaning it up a lot, just other things get
in the way.  Here are my thoughts on the points raised:

Adding macros: I’m not sure I understand this point.  While the function
jump happens, the first thing is the infrastructure checks an atomic
Boolean.  The overhead of this should be in the noise unless it somehow
ends up in a hot path loop, in which case your trace is

[2018-03-28 18:38] cmyr commented on #580
@FilipMiletic no sweat. I _suspect_ this may not be related to sleep and may be related to external monitors, although it may be a general bug. (I've seen this issue on my dev machine, which has an external monitor and never sleeps.)

[2018-03-28 20:17] cmyr commented on #580
closing this, there's a related issue in xi-mac: https://github.com/google/xi-mac/issues/158

[2018-03-28 20:17] #580 closed

[2018-03-28 20:53] vlovich commented on #572
My vote is for package management to be integrated into core.  Relying on distributors isn't a great UX & you run into issues with admin permissions in corporate environments.

[2018-03-29 01:41] cmyr commented on #574
I'm having a bit of trouble completely wrapping my head around this, but I think everything you're describing fits the current model. The only thing currently missing is key bindings; we don't support custom key bindings at the moment. We do support custom commands from plugins.

This is not a trivial project of course, and you would end up hacking on core quite a bit to add the features you need,

[2018-03-29 05:59] edvorg commented on #574
Yes I admit it sounds quite confusing as repl driven development is an approach that is unique to lisps. Concluding this, I think following features are required to make this thing work.
- exposing commands (supported)
- keybindings (optional, currently not supported)
- subscribe to sensitive events from xi-core (file save, file open, etc. etc.), as per example with TAGS file above this kind of fu

[2018-03-29 09:36] dzhou121 opened #582 "The ability for front-end to get information from plugins"
Is there a way for front-end to get information from plugins? I'm working on a language server plugin for my front end. But I can only send notification from front-end to plugins but couldn't get response back. E.g., for completion, I need to get completion candidates from the plugin.

Also, the plugin_rpc doesn't work for global plugins. I can see in the code it only searches plugins in a view wi

[2018-03-29 15:07] cmyr opened #583 "Outstanding rope optimizations"
Broken out from https://github.com/google/xi-editor/pull/575#pullrequestreview-107817261: there are two optimizations missing from the current rope impl:

the code in question is [here](https://github.com/google/xi-editor/blob/608b5329adef1997922b67f4c74fddc0c0204e30/rust/rope/src/lib.rs).

This is not especially high priority, but could be fun for someone interested in the rope data structure.

[2018-03-29 15:16] cmyr commented on #582
1. The functionality you're describing will involve updates to both the core->client protocol and the core-> plugin protocol. In general we want to keep as many methods as possible async; so it would be a notification from the plugin to core that passed along the completions for a given selection, and then core would pass that to the client.

2. Noted. That functionality was added but never really

[2018-03-29 15:17] cmyr opened #584 "custom plugin commands not passed to global plugins"
breaking this out from #582. Will hold off on a fix until we figure out if we're dropping support for non-globals or not.

[2018-03-29 15:36] dzhou121 commented on #582
Re 1, can we not use request to achieve this? So have a request version of PluginRpc and front -> core -> plugin, and then plugin response -> core -> front. It’s blocking for the caller but it’s still async for others. This is also easier for front because front doesn’t need to do extra work to match the request and response.

It’s also nice to still have the functionality for plugin to send notif

[2018-03-29 15:48] cmyr commented on #582
We don't want to allow slow plugins to slow down the client; this is a major design principle. It does mean that the API is more complicated, but my experience with other editors suggests this is worth it.

This comes down to an API design question, and I think a well designed API won't be much more complicated than having everything be sync, although it's important to get that right. Remember tha

[2018-03-29 16:30] raphlinus commented on #583
Agree that this is a good issue for people interested in the underlying data structures. All of the rope code so far was built on in-my-head algorithmic complexity analysis, but a really good basis for going forward would be benchmarks. That would help quantify the amount of improvement. Part of the reason I had kept the old code around is in case it could be benchmarked, but I don't think that's

[2018-03-29 23:44] scholtzan commented on #444
Oh, I added a fix for this issue without seeing that you (@rscircus) wanted to work on this issue. Sorry! In case you already started working on this, feel free to give feedback and suggestions to my pull-request. I think there might be room for improvements.

[2018-03-30 08:11] rscircus commented on #444
Haha, @scholtzan, actually I grabbed this issue from somebody else already. :) Now you just finished it off. Actually, I'm midway in solving it. Had to fix some issues with xi-gtk first as my platform didn't like anything and I'm learning Rust and thought this to be a nice motivation. Having said that, I'm maybe not the best reviewer. I'll have a look at your solution and would be happy if you ans

[2018-03-30 14:41] scholtzan commented on #444
That sounds good! I'd be happy to answer your questions.

[2018-03-30 18:14] rscircus commented on #444
Alright :) I added a few remarks in your PR without starting a review.

[2018-03-30 22:08] cmyr commented on #444
@rscircus if you've already been working in this area, we do still have the related issue of migrating the `do_click` RPC to be a gesture, if you'd like to work on that?

[2018-03-31 01:55] cmyr opened #589 "Minor ergonomics improvements around selections"
Breaking this out of some observations in #585. I think there are at least two little additions we could make to `Selection` and `SelRegion` to make them easier to work with:

- [ ] add a constructor (`fn new(..) -> Self`) to `SelRegion`.
- [ ] replace any existing `let _ = SelRegion { .. }` code with the new constructor
- [ ] add a constructor (`fn new_simple(..) -> Self`) to `Selection`, that co

[2018-03-31 01:57] cmyr opened #590 "selection toggling is broken"
cmd/ctrl clicking on an existing caret should remove that caret when multiple selections exist in the view. This isn't currently working. The relevant code is `View::toggle_sel(..)` in `rust/core-lib/src/view.rs`.

[2018-03-31 02:07] cmyr opened #591 "remove do_click, migrate to do_gesture"
I thought there was an existing issue for this, but apparently not?

mouse clicks were previously handled in `Editor::do_click`. We would like to move all mouse/touch related events into the the `do_gesture` method / RPC.

This involves adding new gesture types for the events currently handled by `do_click`, and handling the new events in `do_gesture`, with most of the code moving to `view.rs`. #5

[2018-03-31 02:11] cmyr opened #592 "Selection affinity is incorrect when selecting lines via gesture"
Triple clicking on a line should select the whole line, but the affinity of that selection should be `Upstream`, e.g. the cursor should appear at the end of the selected line, not the beginning of the next one.

There are some other `TODO`s inline regarding affinity calculation; I don't know the story there, but @raphlinus can clarify.

[2018-03-31 03:45] raphlinus commented on #592
If it's after the newline, then affinity won't help. I believe affinity should only make a difference for soft breaks, ie breaks introduced by line wrapping.

Incidentally, the behavior of triple-click is to put the cursor on the next line in both Sublime and VS Code. I'm not sure the existing behavior is wrong here.

[2018-03-31 05:14] cmyr commented on #592
Hmm, okay. That feels strange to me, but I guess it's a natural consequence of including the line break in the line. I'll close this.

[2018-03-31 05:14] #592 closed

[2018-03-31 06:04] #590 closed

[2018-04-03 08:00] YaLTeR commented on #589
I'd like to work on this.

[2018-04-03 21:34] #444 closed

[2018-04-03 21:39] cmyr commented on #589
@YaLTeR sounds good, #585 is merged so this should be ready to go.

[2018-04-05 20:04] #589 closed

[2018-04-07 14:54] cmyr opened #602 "InsertTab should adjust indentation when multiple lines are selected"
Breaking this out from #586: currently the `insert_tab` RPC will replace any selections with `\t`. In many editors, the tab key will increase indentation of lines when multiple lines are selected.

I think this makes sense as the default behaviour; it matches the default behaviour of ST3 on macOS.

As of #586 this should be easy to implement; in `Editor::insert_tab` check to see if the selection c

[2018-04-07 21:37] dineshbhosale commented on #93
Spacemacs keybindings are <3

[2018-04-07 22:51] dineshbhosale commented on #93
For adding some substance , to above comment
Please take a look at agronomic keybindings of spacemacs and why so many people are requesting a vim mode for XI editor.

http://spacemacs.org/doc/DOCUMENTATION.html#evil-plugins

[2018-04-08 12:28] scholtzan commented on #591
I will work on this.

[2018-04-09 08:57] Reificator commented on #602
This is a bit different from the behavior of Sublime (and VS Code).

In Sublime, if any region spans multiple lines, it will indent rather than insert a tab.  However, if none of the regions contain a newline, then a tab will be inserted in place of each region.

In VS Code, only regions that span multiple lines will have their indentation changed.  This is consistent even if one region spans mult

[2018-04-09 11:55] P-E-Meunier opened #606 "Serialization broken"
The design of serialization to json (`core-lib/src/rpc.rs`) seems broken, in the sense that I get panics in the deserializer when I try to send a type serialized using `serde_json`. I believe this could be improved a lot by letting serde generate the appropriate code, instead of writing custom serializers/deserializers.

Also, this would mean less code (but broken frontends).

[2018-04-09 13:43] cmyr commented on #606
@P-E-Meunier do you mean that you're trying to use the types in that file as the output types for a client, and they aren't being handled by core?

It's very possible that this won't work; that code wasn't written with the intent that it would be used by clients, and the serialization really hasn't been tested afaik.

We only use custom deserialization as a last resort. The original version of the

[2018-04-10 06:54] P-E-Meunier commented on #606
This is indeed what I was trying to do: build these types, serialize them as json, send that to the server.

I've commented out the custom deserializers, added `derive(Serialize,Deserialize)` to all the types in `core-lib/src/rpc.rs`, and I've been able with this setup to do a bunch of things without any panic, like opening a view, navigating through the document, adding and deleting characters.

[2018-04-10 13:42] cmyr commented on #606
The exhaustive list of assumptions is the list of things that have custom deserializers. ;)

The issue is that the protocol as described in [the docs](http://google.github.io/xi-editor/docs/frontend-protocol.html) does certain things that serde can't handle. It makes sense that you're able to roundtrip back and forth from the RPC types, but the JSON produced when you serialize is not actually the

[2018-04-10 22:56] raphlinus opened #610 "Incremental/async line breaking"
This is a design discussion for changes around line breaking. It's closely related to #565 (width measurement) and #58 (word wrap). I wanted to split out the discussion regarding generation and rendering of soft line breaks from width measurement, as the latter involves the front-end and the former is almost entirely a core consideration.

## Current state

The current prototype of line breaking i

[2018-04-11 00:51] cmyr commented on #602
@Reificator cool, thanks for the more complete tests.

I agree that inserting a tab makes sense when none of the regions span a newline. I'm curious about your preference, though; if I'm undertanding then if I have a caret on one line and elsewhere I have a selection that spans multiple lines, hitting tab will insert a tab in the first location and increase indentation in the second? The mixed beh

[2018-04-11 06:59] Reificator commented on #602
You're understanding correctly.

The choice is to be consistent in the action performed by one keypress or to be consistent in the action performed in one context.  I prefer the latter, but it's a mild preference personally, and I can see the other point of view.

[2018-04-12 02:47] virattara commented on #602
I too think this will be the correct approach.
@cmyr making changes in #609 to handle this case.

[2018-04-15 20:37] virattara commented on #602
Updated #609 @cmyr

[2018-04-16 01:49] cmyr commented on #602
@virattara okay thanks! I'll take a look tomorrow at some point. :)

[2018-04-17 19:18] dtolnay opened #618 "Flaky test: two_watchers_one_file"
Flaky builds:

- https://travis-ci.org/google/xi-editor/jobs/362807823
- https://travis-ci.org/google/xi-editor/jobs/367802202

[code]

[2018-04-17 20:38] cmyr commented on #618
@dtolnay yea good issue, been meaning to fix this.

[2018-04-18 00:12] #618 closed

[2018-04-18 20:01] Superpat commented on #515
I'd like to show support for this kind of functionality as well. I've been thinking of building an acme-like frontend for xi, but the kind of workflow I'm thinking about would require every buffer to be open in their own x window.

[2018-04-19 15:03] cmyr opened #624 "Make Rope::slice_to_string return a Cow"
Currently this function always allocates a new string, which is only necessary when the slice spans multiple leaves. It should be returning a `&str` where possible.

This shouldn't be too tricky, it's just something we've never managed to get around to.

[2018-04-20 15:57] cmyr opened #625 "crash with width wrapping"
1. open a document
1. wrap with width (f2)
1. select text at end of document
1. delete / kill / cut

[code]

[2018-04-20 16:36] #371 closed

[2018-04-21 18:07] eyelash opened #627 "`new_view` returns an error for non-existing file"
When sending a `new_view` request with a non-existing file as argument the core responds with a message like
[code]
which xi-gtk is not prepared to handle. I'm not sure if this is intended to be this way but I would prefer the core to just open a view and create the file on save. At the very least this behaviour is inconsistent with the [documentation](https://github.com/google/xi-editor/blob/mast

[2018-04-21 22:59] cmyr commented on #627
Happy to just call this a bug, will patch soon.

[2018-04-24 21:35] #267 closed

[2018-04-25 14:35] cmyr commented on #591
closed in #605

[2018-04-25 14:35] #591 closed

[2018-04-25 14:35] cmyr commented on #602
closed in #609

[2018-04-25 14:35] #602 closed

[2018-04-26 16:26] scholtzan opened #634 "[GSoC] Find enhancements"
This is a basic roadmap of the steps I am planning to take to provide more advanced search and replace functionality in xi editor. I will integrate a more advanced interface for find and replace into xi mac (https://github.com/google/xi-mac/issues/174).

## Roadmap

_I am planning to refine this roadmap over time._

- [x] Plan architecture of search and replace functionality for xi editor
- [x] Ou

[2018-04-26 21:07] #627 closed

[2018-04-30 10:56] njskalski commented on #473
@cmyr and if someone wanted to integrate LSP, how would you suggest to approach it? Integrate it with backend? Frontend?

[2018-04-30 14:45] mqzry commented on #473
It should be written as a plugin. See https://google.github.io/xi-editor/docs/plugin.html and https://google.github.io/xi-editor/gsoc.html#language-server-plugin.

The whole thing boils down to implementing a mapping the JSON-RPC of the language server protocol to the plugin JSON-RPC of xi. There will be a lot of things that are not supported by xi. What exactly should be added and how is the non-

[2018-04-30 18:55] cmyr commented on #473
I'll also add that as part of GSoC, @betterclever will be working on LSP support.

[2018-05-01 19:00] #298 closed

[2018-05-02 04:25] edvorg commented on #574
Hi @mkeathley will make a diagram in next few days when I get a chance

[2018-05-02 04:26] edvorg commented on #574
Haven't checked neovim as I'm not a vim user, but I'll check it out, thanks

[2018-05-02 20:29] #581 closed

[2018-05-03 15:59] gedw99 opened #635 "flutter / fuchsia rich text editor"
Hey

I am interested in extending the flutter / dart code for rich text editor.
I cant seem to fin the actual front end code though for the fuchsia flutter code.
git clone https://fuchsia.googlesource.com/xi

I guess its not public ?

[2018-05-03 16:07] raphlinus commented on #635
It's moved to https://fuchsia.googlesource.com/topaz/+/master/app/xi/ . Resolution of this issue would be to update the link. PR would be welcome :)

[2018-05-03 17:28] gedw99 commented on #635
even the links in the fuchsia repo are broken

services: FIDL service definitions. goes nowhere.. :)

[2018-05-04 16:42] cmyr opened #637 "Add custom theme support"
This isn't super high priority but it's adjacent to some other things i'm looking at right now so wanted to add an issue in case someone is interested, it would be a fun little project.

Approximate work involved:

1. When the editor receives the `client_started` RPC, check if the `config_dir` argument is present; if it is, look for theme files in a `themes` subdirectory, and if any are present at

[2018-05-04 16:49] cmyr opened #638 "Add #[must_use] annotation to SampleGuard"
Very small ergonomics improvement: with the new tracing infrastructure, the `SampleGuard` type should have the `#[must_use]` annotation; if you aren't keeping a reference to the returned guard than you should be using another trace method.

This is a one line change in `rust/trace/src/lib.rs`.

[2018-05-04 16:52] virattara commented on #637
Interested!

[2018-05-04 16:53] cmyr commented on #637
@virattara great, let me know if you have any questions!

[2018-05-04 20:59] cmyr opened #639 "Plugin edits can cause style spans to become misaligned"
Just noticed it writing some markdown; when the plugin inserts the indentation the style span becomes misaligned.

![screen recording 2018-05-04 at 04 56 pm](https://user-images.githubusercontent.com/3330916/39652667-591866be-4fbc-11e8-98a5-99e880db02cb.gif)

[2018-05-05 02:49] euclio opened #640 "Clarify initial client interaction with view"
I'm trying to get a simple frontend up and running, and I'm confused over what RPCs should be sent when creating a new view. My current understanding is that after sending `client_started` on initialization, a frontend would typically call `new_view`, and then receive an update to the line cache for that view.

The docs are unclear on what should happen next. Should my frontend attempt to render t

[2018-05-05 14:39] ghost opened #641 "Getting going with fuchsia and ledger"
I want to get the rust crdt stuff going with the flutter / fuchsia frontend.

i read that the VIM2 board runs fuchsia. DO i need it ?

Where is a full setup for running it locally. I assume its qemu based ?

[2018-05-05 14:42] gedw99 commented on #641
I think that the rust core crdt can be used with both Flutter and Fuchsia.
WIth Flutter its just a plugin running through Method Channel. Have not gotten rust working this way yet but had no real issues doing it with golang.
If anyone has any links / tips please yell.

Regarding with Fuchsia, then i have to use FIDL, and not Method Channels ?

[2018-05-05 14:43] gedw99 commented on #635
closing as i got this resolved

[2018-05-05 14:44] gedw99 commented on #635
Oh PR has not been pushed yet
https://github.com/google/xi-editor/pull/636

[2018-05-06 15:42] cmyr commented on #640
Hey sorry for missing this issue!

Sending `scroll_to` is good practice although it isn't strictly necessary; if it isn't set core will assume that the view is at line 0 and has a height of 10 lines.

The view should render any time it receives either `update` or `scroll_to`.

The client shouldn't necessarily ever need to request lines, except in specific circumstances where it is prefetching line

[2018-05-06 17:09] cmyr commented on #466
@betterclever This could be a good issue for you to close out.

Take a look at #367. This PR adds the ability for plugins to send edits asynchronously; plugins can send a notification to core with an edit. Previously the plugin could only make an edit in response to an update sent from core.

We would like to remove the old behaviour. When a plugin gets an update, it has to send an acknowledgement

[2018-05-07 17:46] cmyr opened #643 "Semantic information and the update protocol"
## Semantic content and the update protocol

This is followup from a preliminary discussion today about @scholtzan's GSoC project (#634), although it is relavent to a bunch of upcoming work.

These are two general questions that I was left with after that discussion; @raphlinus  and @scholtzan  may have other questions in mind.

### Question 1: Should selection/find highlight be considered a 'styl

[2018-05-08 11:39] mqzry commented on #583
The PR of @vlovich reminded me that I started working on this.
Have already added benchmarks for rope creation and reimplemented the height-sorted stack approach.

Last time I went into the old code, I could not find where

happens. Can someone point me here?

[2018-05-08 15:45] cmyr commented on #583
cc @raphlinus

[2018-05-09 00:06] cmyr opened #645 "Language support tracking issue"
## Overview

This is intended as a tracking issue for 'language support', that is the ability for the editor to provide language-specific functionality, and specifically the ability for plugins to add support for _new_ languages.

A while ago we added `syntax.rs` as a simple placeholder for language support, so that we could write a first pass of the config/preferences system. In the longer term,

[2018-05-09 00:31] cmyr opened #647 "languages, bracket matching, and auto-pairing"
As I've been thinking about language support, I've been thinking about two relatively minor features, bracket matching and auto-pairing with selections. By _bracket matching_ I mean the ability for the editor to identify the partner of certain characters, e.g. to highlight (or navigate to) the opening `{` that is paired with the `}` that's under the cursor; and by _auto-pairing_ I mean the ability

[2018-05-09 01:13] euclio commented on #640
Thanks for the clarification! So, to get the rest of the lines in the cache I need to send a `scroll` `edit`?

Also, I'm confused why I get `invalid` lines on the initial update. Is that just to let the cache know how many total lines are in the file, since the initial scroll window is only 10 lines?

[2018-05-09 01:52] cmyr commented on #640
Yes, sending the `scroll` event will set the size of the viewport; and yes, the invalid lines on the first update inform the frontend of the total line count.

[2018-05-09 14:01] JoshRagem commented on #206
sorry, but, as an english speaker, the readme pronunciation hint is totally vague.
does it rhyme with z-eye? zig? zi*gutteral noises*? zee?
this convo indicates "rhymes with 'sigh'" so that sholud be the hint in the readme

[2018-05-09 22:53] raphlinus commented on #625
I've got this partly solved, and #648 fixes the crash, but I'm getting double cursors and other problems, the resulting breaks data structure is not correct. I think this is related to closed/open on intervals, it needs more thought.

[2018-05-09 23:26] scholtzan opened #650 "Missing Search Highlights"
I wrote a simplified WIP version (https://github.com/google/xi-editor/pull/649) of find that, for now, searches the entire text and all search occurrences (it is not much different from the old find functionality). However, only the first one is highlighted (tested in xi-mac). I tried to find out the reason for this and narrowed it down to `send_update_for_plan`. It seems that only the line with t

[2018-05-10 14:42] vlovich commented on #583
Sweet.  I only started on the benchmarks so I can just let you finish it.
I too couldn’t find the old optimization’s in the referenced CL

On Tue, May 8, 2018 at 8:45 AM Colin Rofls <notifications@github.com> wrote:

[2018-05-10 14:56] cmyr opened #652 "Weird undo behaviour"
I suspect this is a regression from #613: I'm seeing some unexpected behaviour when using undo. It's hard to point at particular examples because I don't think the expected behaviour is documented anywhere, but in particular entering text in one location and then clicking in another location and entering more text causes both edits to be part of the same undo group, which feels broken.

Undo behav

[2018-05-10 15:10] raphlinus commented on #583
@mqzry Most of the "fancy" logic is in `try_replace_str` ([link to deleted code](https://github.com/google/xi-editor/pull/575/files#diff-2aca9d9f2a2a1dfb16f90a367ff0036bL649) here). That tries a `get_mut` on the `Arc`, which gets a mutable reference if the reference is unique, ie if the node is not shared anywhere else. That allows an in-place update at the leaf rather than walking up the tree to

[2018-05-10 15:59] vlovich commented on #647
Yeah, that seems like a core algorithm to me language-specific plugins can
opt-in to use. Each language would just be able to provide the candidate
set of pairs of characters (glyphs? Not sure of the Unicode terminology)
for matches.  Is that how you were thinking about it?

It’s probably a good idea to let plugins be able to not opt-in and do their
own thing as there are “languages” that aren’t a

[2018-05-10 17:29] scholtzan commented on #650
This might be a problem on the xi mac side. I forced a full re-rendering after `find` using `set_dirty` in `View`. Only the first search occurrence is highlighted. However, if I change the style for search highlights to 0 (= style for selections) in `render_styles` then _all_ search occurrences are correctly selected in xi mac. So my guess is that it is a xi mac bug.

[2018-05-10 18:18] raphlinus commented on #650
Right, xi-mac is currently not rendering style id=1 (reserved for search highlights) at all. This would be fairly straightforward to fix, but the main reason it hasn't been is that there is a design decision to be made about where in the pipeline "special" styles get resolved into their actual appearance. For styles from plugins (syntax highlighting) this is done in the core, but not so for the tw

[2018-05-10 20:46] raphlinus commented on #652
Minimal repro: type "ab" then left arrow, then "c". Undo goes back to empty string, expected result is "ab", ie the "ab" and the "c" should be in different undo groups.

It's pretty easy to understand what changed: before #613 every editor command started with setting `this_edit_type` to `Other` ([code](https://github.com/google/xi-editor/pull/613/files#diff-cdd62803d32b5bd56e7e05ba4fce41abL1077).

[2018-05-11 03:03] vlovich commented on #647
Yup. That was my thinking

On Thu, May 10, 2018 at 10:23 AM Colin Rofls <notifications@github.com>
wrote:

[2018-05-11 16:17] scholtzan commented on #650
Option (1) seems to be the easiest option for now. However, I am not sure how well it is suited for supporting multiple search queries in the future. Because, if occurrences for each query are colorized/highlighted differently then the frontend would need to handle the colorization.

With (2) or (3) it would be possible to define different styles for the different search highlights.

[2018-05-12 01:55] raphlinus opened #655 "Refine backspace behavior"
The recent #520 changed backspace behavior from deleting individual codepoints (which is too small) to deleting entire grapheme clusters (which is too aggressive). The correct behavior is complex. It should:

* Remove individual accents from script base+modifier sequences
* Remove individual indic characters from grapheme clusters
* Delete emoji as a block
* Delete both CR and LF (see google/xi-wi

[2018-05-12 03:53] zsilver1 commented on #638
As a first time contributor, this seems like it's right up my alley.

[2018-05-12 09:31] mrandri19 opened #657 "Live sharing"
Are there any plans to support collaborative editing like VSCode's live share or Atom's teletype?

[2018-05-12 13:30] raphlinus commented on #657
Long term, yes. Short term, no. The technology exists (the model is internally a CRDT) and we've done a demo on Fuchsia using its ledger. Our priority is to get a good single user experience first.

[2018-05-15 11:45] cmyr commented on #650
Some points, which I'm making without a particular conclusion in mind:

- In many editors, find highlights (like selection highlights) are rendered differently depending on whether or not the current view is active; so find highlights should in general be treated similarly to how we treat selection highlights. So I don't think 2. works; we need to treat selections and highlights through the same m

[2018-05-16 09:46] cmyr commented on #377
@euclio Cool, thanks for the info. This came up because I'm using the vim-markdown-preview (or something like that) plugin, and find it helpful. Not super worried about efficiency right now, this would just be a nice proof-of-concept for a simple plugin, with the added advantage of being actively useful to me, personally, immediately. ;)

[2018-05-16 11:31] betterclever opened #659 "[GSoC] Language Server Protocol Plugin Support"
This is a roadmap of the the steps planned by me to add support for the Language Server Protocol (LSP) Plugin Support in the Xi Editor.

### Roadmap
_Will be refined over time_

- [ ] Get a basic plugin working which can access the document state.
- [ ] Discover improvements needed in current Plugin API to enable a very simple LSP usecase i.e. JSON.
- [ ] Get the JSON Plugin Working. The basic ide

[2018-05-16 13:11] cmyr commented on #640
closing this, docs were updated in #642 to discuss `client_started`.

[2018-05-16 13:11] #640 closed

[2018-05-16 14:54] rnewsham opened #662 "xi-rpc compile error: error[E0015]: calls in constants are limited to struct and enum constructors"
mac 10.11.6
rustc 1.24.1 (d3ae9a9e0 2018-02-27)

   Compiling xi-rpc v0.2.0 (file:///private/tmp/xi-editor/rust/rpc)
error[E0015]: calls in constants are limited to struct and enum constructors
  --> rpc/src/lib.rs:62:33
   |
62 | const MAX_IDLE_WAIT: Duration = Duration::from_millis(5);
   |                                 ^^^^^^^^^^^^^^^^^^^^^^^^
   |

[2018-05-16 14:55] cmyr commented on #662
yea we're on rust 1.25 right now, and will be going to 1.26 shortly. You'll need to update your rustc (`rustup update`).

[2018-05-16 14:57] rnewsham commented on #662
Thank you, ran `rustup upgrade` to 1.26.

compilation complete.

this is resolved.

(VERY FAST RESPONSE, BY THE WAY!)

[2018-05-16 14:59] cmyr commented on #662
@rnewsham happy to help, and thanks for the reminder, i'll update the readme

[2018-05-16 17:51] scholtzan opened #664 "RPC for search and replace"
First draft of how the RPC for search and replace should look like:

[code]

### Open questions
* What is a good way to correlate search results to search queries? Should `id` be used or something else instead?
* RPC for search highlights: https://github.com/google/xi-editor/issues/650

### Related issues
* select_next: https://github.com/google/xi-editor/issues/325

[2018-05-16 21:34] cmyr commented on #664
So the idea is that we can have multiple active search queries, which we will highlight differently? You mentioned this in your proposal but I don't think I fully understood what you had in mind. I think that makes sense.

What's the distinction between `find` and `find_all`? How do they interact?

When is `wrap_around` set?

Thinking a bit more about multiple active find operations, I wonder if i

[2018-05-16 21:48] scholtzan commented on #664
`find` will send all the parameters (search strings, flags, ...) of the search to the backend. Then occurrences are determined and highlighted in the frontend. `find_next`/`find_previous` will select search occurrences that are closest to the current cursor position while `find_all` will select all occurrences in the file.

I forgot the `wrap_around` option in the UI. But if this flag is set, then

[2018-05-17 11:15] cmyr opened #665 "Plugin + client RPC for adding status bar items"
## Motivation
As part of GSoC work around LSP support, we would like to add the ability for plugins to add and update simple status bar items. This could be used for something like a line/column reporting plugin, or for showing language server diagnostics.

## Proposal

The initial goal is to keep this API as simple as possible, consisting of three methods:

[code]

These will be part of both the

[2018-05-17 11:18] cmyr commented on #652
fixed in #654

[2018-05-17 11:18] #652 closed

[2018-05-17 22:01] #466 closed

[2018-05-18 11:02] cmyr commented on #664
Okay, I have some exploratory questions, some of them are concrete and some of them are more just abstract things I've had in mind when thinking about search long term.

**Digression:** One thing I'll say explicitly because I'm not sure we've really spoken about it much: when I think of xi (and especially when I think of the RPC protocol) I try not to let my thinking be bound by the design of a _p

[2018-05-18 21:10] scholtzan commented on #664
* The standard behaviour when hitting <kbd>return</kbd> (and maybe also on xi-mac) is to jump to the next search occurrence and select only this occurrence. However, the protocol would also allow find_all behaviour (if other text edit tools require this behaviour).

* Good question. `select_next` is intended to add the next occurrence of the currently selected text to the selection (eg. when execu

[2018-05-19 09:55] eyelash commented on #664
A few thoughts:
- If we use the selection to select the current result, why do we need a separate `replace` command? Can't you just type into the selection(s)? In other words, what's the difference between `replace` and `insert`? Similarly, `replace_all` would then just be `find_all` + `insert`.
- Is `find in selection` also something that you are planning to work on?

[2018-05-19 11:07] eyelash commented on #325
Both Atom and Sublime Text also have a [command bound to Ctrl+K Ctrl+D](https://stackoverflow.com/q/11548308/799849) that selects the next find but skips the current one. It would be nice to have this command in Xi as well.

[2018-05-19 12:43] cmyr commented on #325
That could maybe be a flag? In any case, good feature.

[2018-05-19 13:11] cmyr commented on #664
Yes, that's interesting. It isn't clear to me that the active highlight is always also a selection (it is currently, but I'm not sure this is the right behaviour, semantically?) but it does feel like maybe replace _is_ just sending `insert`. Although maybe not; `replace` has the additional behaviour of selecting the next find result. Certainly we'd be able to reuse existing RPCs if core had the id

[2018-05-19 13:15] cmyr commented on #606
I'm going to close this; if there's an issue right now it's a documentation issue, in that the types in `core-lib/rpc.rs` are not intended to be used by a frontend. At some point it would be nice to have a crate that provides types for the whole protocol, but that will probably be a task for some future point where the protocol is stabilized.

[2018-05-19 13:15] #606 closed

[2018-05-19 15:24] cmyr opened #666 "add IRC bot for inline issue linking"
A great idea that I just had on my own, out of the blue.

[2018-05-19 22:11] scholtzan commented on #664
Thinking about it, it might allow more flexibility if there is a distinction between selection, inactive search highlight and active search highlight. In this case, if a query is entered and <kbd>return</kbd> is pressed the next search occurrence will be the active highlight. For `find_all` all the occurrences will be added to the active highlight. While the search query is entered all (visible) o

[2018-05-19 22:21] thekashifmalik opened #668 "Display editor features in the README."
There is no description of any features on the Github page (README) or at https://google.github.io/xi-editor/.

Performance is mentioned, and granted that is a feature, but it might make sense to talk more about editor controls and other features instead of about its internal design. (That still has a place)

[2018-05-19 23:19] Reificator commented on #668
With all due respect to the project authors and maintainers, there are no features yet.

Despite how often it makes it to the frontpage of HN, it's still in progress and very early at that.

When it's further along, I expect the various frontends will document their features, perhaps with a link back to a centralized featurelist.  But the core editor piece is likely to be advertised to developers,

[2018-05-20 10:02] Z3TA opened #669 "build error: [E0015]: calls in constants are limited to struct and enum constructors --> rpc/src/lib.rs:62:33"
warning: unused `#[macro_use]` import
  --> trace-dump/src/lib.rs:33:1
   |
33 | #[macro_use]
   | ^^^^^^^^^^^^
   |
   = note: #[warn(unused_imports)] on by default

error[E0015]: calls in constants are limited to struct and enum constructors
  --> rpc/src/lib.rs:62:33
   |
62 | const MAX_IDLE_WAIT: Duration = Duration::from_millis(5);
   |                                 ^^^^^^^^^^^^^^^^^^^^^^^^

[2018-05-20 19:36] scholtzan commented on #669
I encountered the same problem. You have to update to version 1.25.0 or higher. This version supports that `Duration::from_millis` can be used in a constant expression (https://github.com/rust-lang/rust/blob/master/RELEASES.md#stabilized-apis-1).

[2018-05-20 20:59] Z3TA commented on #669
Thanks scholtzan!

I did nothing, and now rustc --version gives me:
rustc 1.26.0 (a77568041 2018-05-07)

Do rust auto update itself !? Should I be scared ? I am scared because so many things tend to break when updating. This is however my first time trying rust.

And now it builds!

[2018-05-20 21:12] scholtzan commented on #669
Rust is not automatically updated (one way to update it, would be by running `rustup update`). But maybe you encountered a similar issue to this one: https://github.com/rust-lang-nursery/rustup.rs/issues/371
Anyway, I am glad it is working for you now!

[2018-05-21 00:37] #669 closed

[2018-05-21 21:41] raphlinus commented on #664
It sounds like these discussions are on the right track, I don't have a lot to add.

I think one thing that might be useful is to characterize the find/replace behavior of existing editors (generally I look carefully at Sublime, Atom, and VS Code; vi is also interesting but trying to match its behavior feels like a different category). I did this informally while figuring out cursor movement, then

[2018-05-22 00:02] scholtzan commented on #664
I looked at the find/replace behaviour of a few editors before and took a few notes. I put them now into a table for better readability and categorized them (@raphlinus I am not sure if that is what you were looking for, but it might still be useful):

|   | Sublime Text | Atom | XCode | TextEdit |
| --- | --- | --- | --- | --- |
| Typing search query | Inactive highlights automatically updated; a

[2018-05-22 02:56] cmyr commented on #668
Yea, @Omar-Elrefaei pretty much nailed it; insofar as this is very much a work in progress, we're resistant to presenting it in such a way that would encourage people to actually use it as their editor. Basically: people are totally welcome to play around, but we don't want to present the idea that this is a text editor that you should consider for your day-to-day work (although I do use xi-mac qu

[2018-05-22 02:58] thekashifmalik commented on #668
I see, that makes some sense. I guess this keeps making it to Hacker News so I assumed it was something people could start using.

Feel free to close the issue if it is not relevant for now.

[2018-05-22 13:52] #668 closed

[2018-05-22 13:56] cmyr commented on #638
added in #656

[2018-05-22 13:56] #638 closed

[2018-05-23 18:14] cmyr opened #670 "Improve plugin-lib edit API"
as illustrated by #661, the process of creating an edit from a plugin using the rust `plugin-lib` is... elaborate.

There's definitely a better API possible. The main headaches are around calculating and keeping track of indices, and having to manually scan through document's buffer to do any sort of analysis.

There are a bunch of ways we could make this cleaner, but one thing currently sticks ou

[2018-05-25 19:19] cmyr opened #673 "Adopt rustfmt"
At some point we will want to start using rustfmt, and include a rustfmt pass in CI.

Todos:
- [ ] Update contributing.md to mention rustfmt (also clippy, which was added a while back)
- [ ] Add [`rustfmt.toml`](https://github.com/rust-lang-nursery/rustfmt/blob/master/Configurations.md)
- [ ] Add rustfmt to [CI](https://github.com/rust-lang-nursery/rustfmt#checking-style-on-a-ci-server)
- [ ] Form

[2018-05-27 23:44] scholtzan commented on #664
I tried to get a more detailed grasp of what Sublime is doing for finding text in order to get a better understanding what is required for the RPC.

Actions related to find (with corresponding key strokes on macOS):

* Use selection for find (<kbd>⌘</kbd> + <kbd>E</kbd>)
* Add next occurrence to selection (<kbd>⌘</kbd> + <kbd>D</kbd>)
* Find next (<kbd>⌘</kbd> + <kbd>G</kbd>)
* Find previous (<kbd

[2018-05-29 22:00] scholtzan commented on #664
One more questions that came up: Should `find_status` send only the query or also all the find parameters like `case_sensitive`, `regex`, ...?

I think this is especially interesting to consider in combination with <kbd>⌘</kbd> + <kbd>E</kbd>. For example, if for the last query the core stores that it was a Regex search and then a new query is set, should it still be considered as Regex?

@raphlin

[2018-05-29 22:46] raphlinus commented on #664
Good question! My personal feeling is that cmd-E should reset the regex flag, as a string from the buffer should not be interpreted as a regex.

I'd say all such parameters should be optional, and the core should only send them when necessary. This minimizes the chance of user input being clobbered by an update.

[2018-05-30 12:41] Lapz commented on #673
I'll work on this

[2018-05-30 13:56] cmyr commented on #673
@Lapz cool, thanks!

[2018-05-31 17:35] cmyr opened #683 "improve sample plugin's makefile"
It should be more like the syntect plugin's is: actually rebuilding on source changes, and installing correctly even if the target directory already exists.

[2018-06-01 17:14] Lapz commented on #673
I been working on this and have decided to use a pre git commit hook for the pre-merge.sh script.Would that be ok?
I've also encountered a [bug](https://github.com/rust-lang-nursery/rustfmt/issues/2760) with rustfmt that I've reported upstream.

[2018-06-01 19:58] cmyr commented on #673
@Lapz yea I think that pre-commit would make sense. Maybe adding that can be a separate PR? It can also include running clippy.

We do also have a `ci.local` script in the project root that is intended to run all the tests, it hasn't been used much though.

[2018-06-02 17:10] ajmalsiddiqui commented on #683
I'm a first timer and I'd like to take this one up. Is that alright?
And is this the right place to ask for help/guidance if I get stuck?

[2018-06-02 23:01] cmyr commented on #683
@ajmalsiddiqui it's all yours, and yes feel free to ask questions here. :)

[2018-06-03 10:34] ajmalsiddiqui commented on #683
Awesome, thanks!
Will make a WIP PR once I get to it. :)

[2018-06-04 03:17] #683 closed

[2018-06-04 08:56] ajmalsiddiqui opened #691 "Syntect-plugin's makefile should use variables and set the default plugin directory for MacOS"
The makefile for syntect-plugin should use variables for the plugin name and other such things, and it should set the XI_CONFIG_DIR to $HOME/Library/Application Support/XiEditor for MacOS.

See the Makefile of sample-plugin for an example.

[2018-06-04 15:20] cmyr commented on #691
@ajmalsiddiqui This would be a reasonable fix. A bigger question, re: MacOS, is whether or not we should  be using the makefile at all; currently we don't, instead building syntect as part of a general build script, `build-rust-xcode.sh`.

[2018-06-04 19:59] sp3d commented on #79
@gsquire From what I can tell tabwriter is intended for strictly monospace environments like terminals, where elastic tabstops can be implemented via replacing tabs with some number of spaces; for environments that support proportional fonts that approach isn't viable. Nonetheless it's probably still a good demo of the concept for those not already familiar.

@thomas-profitt I don't think a plugin

[2018-06-04 23:42] cmyr opened #692 "[PSA] breaking changes to the the find API"
When #687 lands, the behaviour of the `find` RPC is going to change. This will break frontends that use this RPC.

The current API is being replaced with a new API that is fully asynchronous and more flexible. Instead of returning a result, `find` will instead trigger a new core -> client `find_status` RPC, which will notify the client of things like the total number of results for a query and the

[2018-06-05 14:17] cmyr commented on #691
@ajmalsiddiqui Nope I think your reasoning is good. Whether or not `build-rust-xcode.sh` could be using the makefile is an open question, albeit a low priority one. The changes described in this issue would be welcome.

[2018-06-05 22:38] betterclever opened #693 "RPC for Language Features"
As we proceed towards adding Language specific features to the Xi editor, we need to have more methods to RPC for incorporating methods that are needed for IDE like features in Xi. These will be utilized Language Server Plugin but are not specific to it.

The initial list which we can with are:
- Completion Request: For requesting auto-complete suggestions at a point.
- Hover Definition: For reque

[2018-06-06 21:50] cmyr commented on #693
Each of these additions is going to require two RPCs, client<->core and core<->plugin.

I think starting with hover is good, and I think your RPC is a reasonable place to start.

One question that comes up is, when does the client actually send the hover RPC? Is it only when the mouse is actually hovering over an item, or can there be a command that sends the hover RPC, using the current cursor lo

[2018-06-07 13:06] betterclever commented on #693
We can have a command for hover request from some type of clients (particularly CLI). I don't understand why do we need another 'position' argument. The client can handle that on it own, it might calculate the document offset (utf-8) of the symbol under the mouse, or send the offset of the cursor position to the Core. Please correct me if I am missing some point.

Also, in VSCode as you start typi

[2018-06-07 14:33] betterclever commented on #693
Shouldn't that be calculated on the client side? I imagine that being an easy way to maintain uniformity.
I particularly prefer it because `position` in the Client would be essentially 'utf-8' based, while we want 'utf-16' in Language Plugins.

[2018-06-07 15:22] cmyr commented on #693
right maybe I was confused? I'm talking about the client->core RPC. I imagine this being slightly modified from your example, looking like:

[code]

where `position` is optional; when it is missing, we use the current selection.

There are definitely other ways of doing this, and having a separate RPC for `hover_request_selection` would also be an option.

[2018-06-07 16:29] betterclever commented on #693
Alright. Now it is clear to me. Single RPC (client => core) with optional parameter definitely works and I think we won't need a separate one. 😄

[2018-06-07 16:44] cmyr opened #695 "crash when using selection for find"
Using <kbd>cmd</kbd>+<kbd>E</kbd> on xi-mac I get a crash when the selection is a caret.

There's a related issue where the search bar isn't correctly populated when the selection _isn't_ a caret.

@scholtzan maybe this is one for you?

[2018-06-07 16:47] scholtzan commented on #695
I ignored <kbd>CMD</kbd> + <kbd>E</kbd> for now, but it is the next thing on my list.

[2018-06-07 18:22] cmyr opened #696 "document tracing system"
There should be an example of how to add traces to the code, and then how to collect and interpret a trace file.

[2018-06-08 18:13] betterclever opened #697 "User config for Plugins"
The plugins currently can not be configured using a config file just like we can configure the main editor.
Plugin configuration is a very essential use-case.

I propose, this can be done by adding a Plugin config section to xiconfig file.
The section will be like:

[code]

The Core then sends the config to the plugin while initializing.

[2018-06-08 18:15] betterclever commented on #697
An essential use case for this is the Language Server Plugin, where use will specify the language of interest, the location of their Language server and some other needed information.

[2018-06-08 18:17] cmyr commented on #697
Agreed, I've been thinking about this.

The approach that I'm currently leaning towards is that a plugin can provide a default config, which the user can then override. This would be independent of the main config file, but would work via a similar mechanism.

I've also been thinking about how nice it would be if we had something like json schema for this, so that (eventually) the user could have

[2018-06-08 18:20] cmyr opened #698 "Revisit page_up and page_down"
(breaking out from #612)

We used to have RPCs for `page_up` and `page_down` that behaved differently from `scroll_page_up` and `scroll_page_down`. The distinction is in whether or not the cursor is moved. Scrolling by page without moving the cursor is something that we would want for, say, vi mode.

[2018-06-08 19:20] cmyr opened #699 "improve i/o error messages"
from https://github.com/google/xi-mac/issues/188. Error messages that may be displayed by the client should be reasonably descriptive.

In this case, errors that occur when trying to read a file should indicate the file in question and the error type (encoding, permissions, file not found etc).

[2018-06-08 23:14] scholtzan commented on #346
This has been resolved in https://github.com/google/xi-editor/pull/687 and can be closed.

[2018-06-09 15:00] #346 closed

[2018-06-09 15:15] #625 closed

[2018-06-10 07:17] lukehutch opened #700 "Please consider creating a Flatpak package for Xi Editor"
To enable users to easily test out and use Xi Editor on any Linux distribution, it would be great if a Flatpak package could be provided for download.

https://flatpak.org/

Flatpak is supported out of the box on all the major Linux distributions today, making it very simple for the Xi editor team to support multiple distributions (no need to create a separate rpm, dpkg, etc.).

[2018-06-10 14:16] mqzry commented on #700
The project is not stable enough to release binaries according to the owners/maintainers. See https://github.com/google/xi-editor/issues/7.

Since it has been 2 years since @raphlinus commented about it: is this still the case Raph?

Btw, releasing this project as a binary will not help you much to use it as an editor. This project only contains the 'core' that can only be communicated with throug

[2018-06-11 08:53] lukehutch commented on #700
Fair enough, I will close this. I hope the project keeps progressing. Thanks!

[2018-06-11 08:53] #700 closed

[2018-06-11 11:33] eyelash commented on #700
There's a [flatpak manifest](https://github.com/eyelash/xi-gtk/blob/flatpak/com.github.eyelash.xi-gtk.json) for xi-gtk. It might need some updates for recent changes, though.

[2018-06-11 18:20] cmyr opened #702 "core->client statusbar RPC methods should include the plugin id"
Currently there's no mechanism for a client to remove items when a plugin shuts down. Core already has access to the PluginId, so this should be threaded through to the client; the client can then handle it when it gets a `plugin_stopped` message.

@nangtrongvuon You want to take this? It would be nice to get it in before we really have anyone using this feature. It will also require a xi-mac comp

[2018-06-12 14:42] cmyr opened #703 "pin travis to 1.26"
We'd like to stay on rust 1.26 for a while, but travis always builds on the latest stable. If we set travis to only build 1.26 and nightly, we'll catch ourselves if we accidentally use a new language feature.

[2018-06-13 13:40] leomikezee commented on #703
PR merged #705

[2018-06-13 14:06] cmyr commented on #703
Thanks @leomikezee!

[2018-06-13 14:06] #703 closed

[2018-06-13 14:31] leomikezee commented on #699
I want to work on this issue.
Currently, I think all FileError are converted to RemoteError with ID:5, Message: "failed to load file", Data: None.
[code]
However, we have 3 kinds of FileError, and io::Error may have more ErrorKinds itself, do we want to encode these errors with different id?
[code]
In addition, if we want to show the file name, we may need to add file path to the FileError enum an

[2018-06-13 14:39] cmyr commented on #699
Error numbers: currently these are... haphazard. I'm not sure what their long-term status is going to be, but it makes sense to at least be a bit more rationale about them; set aside some range of numbers for I/O errors, and assign one per error type.

Augmenting the individual errors with whatever information they need to be useful also makes sense. This may be just the path, but I could also ima

[2018-06-14 05:36] leomikezee commented on #699
Made a PR #708 , and here is what it looks like now.
![image](https://user-images.githubusercontent.com/7655600/41393340-4299fc6e-6f73-11e8-985c-8a860947b4a7.png)

[2018-06-14 19:34] betterclever opened #709 "Error display support in Plugins"
With the help of Language Server Plugin, we are now able to get validation/compilation errors and warnings for files, however, clients still don't have a way to show errors in the them.

The most general to display errors and warning is error squiggles below the text which display the error text as we hover (probably move cursor in CLI clients) over them with different colors for error, warning, i

[2018-06-15 02:50] leomikezee commented on #699
PR #708 approved

[2018-06-15 02:55] cmyr commented on #699
@leomikezee not sure if you know this or not, but there are some nice tricks for associating issues with PRs, so you can do things like have an issue that is automatically closed when a PR is merged:

https://help.github.com/articles/closing-issues-using-keywords/

[2018-06-15 03:04] cmyr opened #710 "Replace remaining uses of `ViewIdentifier` with `ViewId`"
These both currently exist; the former is being replaced by the latter, but was left in place during refactoring to reduce the size of the diff. This should get removed now.

[2018-06-15 03:45] leomikezee commented on #699
@cmyr Thanks, I will try it next time.

[2018-06-16 18:21] scholtzan opened #712 "RPC for replace"
# RPC for Replace

This is for discussing the RPC for replace. I imagine it to be quite similar to the find RPC, but perhaps a bit simpler.

## Actions related to replace

* Show replace bar with find: <kbd>⌥</kbd> + <kbd>⌘</kbd> + <kbd>F</kbd>
    * Filled with last replacement string
* Replace next: <kbd>⌘</kbd> + <kbd>⌥</kbd> + <kbd>E</kbd>
    * If there is a selected occurrence: `[insert, fin

[2018-06-17 05:52] bvinc opened #713 "panicked at 'attempt to subtract with overflow' when I type space followed by backspace"
To reproduce simply open up a new view, type a space, then a backspace.

Linux, Fedora 28
rustc 1.26.2 (594fb253c 2018-06-01)
rustup
gxi
git revision befef5cf

[code]

[2018-06-18 16:37] cmyr commented on #699
Fixed in #708, thanks @leomikezee!

[2018-06-18 16:37] #699 closed

[2018-06-18 17:03] #713 closed

[2018-06-19 14:47] cmyr commented on #712
I'll admit I'm not super deep in find/replace land right now, but this sounds like a very good place to start. I think with some of this work it makes sense to get it working, and then we'll have a chance to play around more and see if we should refine.

[2018-06-19 15:01] cmyr opened #716 "backspace with translate_tabs_to_spaces should delete up to tab_width preceding spaces"
This was previously implemented (in #460) but broke somewhere along the way. That PR contains a good discussion of the motivation and ultimate design. Care should be taken not to regress on #714/#713. I'd like this to also include a test case in `event_context.rs`; doing this correctly might involve modifying the `ContextHarness` used for testing to allow it to be passed a custom config, which was

[2018-06-21 18:35] betterclever opened #719 "Go-To Definition Support"
The next feature we aim towards adding for Language Support is Go-to definition of a symbol. The RPCs
Client -> Core and Core -> Plugin and vice versa are very similar to Hover Definition but we need a way to instruct a client to open a document in a view itself given the filesystem Url.

The RPCs for Language features are being discussed in Issue #693.

[2018-06-22 14:43] cmyr opened #721 "plugin refetching whole document on some inserts"
Not totally sure what's going on here but in a few trace files I've seen the plugin fetching the entire document in situations where that should not be necessary.

[2018-06-22 16:03] raphlinus commented on #721
I'd check whether the "simple insert" test is failing. This can easily happen on transpose, insert when there is a selection, etc.

[2018-06-22 18:19] cmyr commented on #721
Yes I remember encountering this a while ago when working on something else, and it seemed like that check might've been failing when an insert was at the end of the document. Would be a good place to start.

I'm going to mark this help wanted, and if someone is feeling adventurous I'd be happy to offer some more guidance.

[2018-06-22 18:40] euclio opened #722 "Theme no longer sent with config_changed notification"
- macOS 10.13.5
- rustc 1.27.0 (3eda71b00 2018-06-19)
- Installed via rustup
- No frontend
- commit a66bbd6

This worked in a previous version of the editor, but after updating to master today I don't see the notification.

Steps to reproduce:

1. Add the following to `preferences.xiconfig` in your config dir.
[code]
1. `test.rpc`:

[code]

`$ cargo run --release < test.rpc`

Notice that there is

[2018-06-22 20:39] betterclever commented on #721
@cmyr Which plugin is showing this behaviour ? Is it the language plugin ?

[2018-06-22 20:42] betterclever commented on #710
Can this be closed? Seems to be done is #715

[2018-06-23 14:18] cmyr commented on #719
I'm working on adding a core-initiated `new_view` RPC, will put something up in a little bit.

[2018-06-23 14:25] cmyr opened #724 "Document `available_themes` RPC in the protocol docs"
This is currently missing.

[2018-06-23 15:17] euclio commented on #722
I just did a `git bisect` and it seems that this behavior was broken in e3c824c1a0e6a1773e8f752a2600c5feb906b22d. I'm confused, did it work unintentionally before?

If you checkout 213638a87a260f3f041e2f0507e77b47e5c3ae0b and do my reproduction steps, you can see the desired behavior.

[2018-06-23 15:39] cmyr commented on #722
Ah, I think I understand.

This is actually a slightly funny situation: the original behaviour _was_ unintentional (it was not intended that additional key/value pairs in the config file that weren't known to core would still be forwarded to the client) but then we also added a feature in xi-mac (`unified_titlebar`) that took advantage of this.

We would like for clients to be able to use custom c

[2018-06-23 16:01] cmyr commented on #722
Okay, there was actually a pretty quick fix for this; try out #726 and let me know if that works?

[2018-06-23 16:09] euclio commented on #722
Nice, that works.

Yeah, my frontend that relied on the old behavior just called `set_theme` when receiving a `config_changed` the `theme` key.

[2018-06-23 16:11] cmyr commented on #722
heh okay, fair enough. That's definitely going to break at some point, but it isn't a priority right this second. 😄

[2018-06-24 05:06] nangtrongvuon commented on #716
I'm confused, I was going to take this issue but it seems the correct behavior is already there?

[2018-06-24 15:33] cmyr commented on #716
Ah maybe this wasn't very well explained. Some examples, assuming `translate_tabs_to_spaces = true` and `tab_size = 4`:

- on a new line (not the first in the document), insert two spaces. Backspace should delete both.
- on a new line (not the first in the document) insert six spaces. Backspace should delete two.

Both of these are currently broken for me.

[2018-06-25 00:36] nangtrongvuon commented on #716
Got it, going to work on this if I have time.

[2018-06-25 13:56] cmyr opened #728 "BaseMetric confusion"
I'm confused about `BaseMetric`, compared to `LinesMetric`.

Let's assume the rope contains `"$¢€💴"`. This is ten bytes, ten UTF-8 code units, and four unicode codepoints; 1, 2, 3, and 4 code units per codepoint, in order.

`s.measure::<BaseMetric>()` (which claims to return the number of boundaries) returns `10`; however if I make a cursor, and move through it with the `next()` fn, I will only fi

[2018-06-25 16:00] raphlinus commented on #728
The confusion here is that the metric doesn't count the number of boundaries. Rather, it has a discontinuity at each boundary. In the case of `LinesMetric`, the step is 1, so these two concepts are the same. In the case of `BaseMetric`, the step is the number of utf-8 code units, hence the discrepancy.

Obviously we could have a `CodepointMetric` with a step of 1 at each codepoint. To _implement_

[2018-06-25 16:04] cmyr commented on #728
Sounds good. this is perhaps a docs issue then, unless I'm misunderstanding the first line of the docs here:

If you can think of an improvement I'll patch.

[code]

[2018-06-25 16:10] raphlinus commented on #728
Yeah, that's wrong. Perhaps "Return the value for the NodeInfo::Leaf as measured by this metric."

There's some more cleanup that should happen here, which I think can be combined with the work to get rid of `Interval` and replace it by `Range<usize>` - that will simplify some of the concepts, and with that change I have more confidence it's really what I want it to be.

[2018-06-27 10:05] BaldEagleX02 opened #729 "Build failed on MacOS 10.13.4"
Build failed.
18 Errors
OS / platform: macOS 10.13.4)
rust compiler version: rustc 1.20.0 (f3d6973f4 2017-08-27)
rust compiler installation method: rustup
The commit you're on: a66bbd68037e392074ed69be5d3b84bc59c4ed44 - 926068d - #715
A full backtrace or error message:
Installing xi-core v0.2.0 (file:///Users/federico/Documents/xi-editor/rust)
 Downloading regex v1.0.0
 Downloading utf8-ranges v1.

[2018-06-27 13:18] cmyr commented on #729
@BaldEagleX02 looks like your `rustc` is out of date. The current minimum supported version is 1.26.

[2018-06-27 17:20] cmyr commented on #719
Yea, so I've been thinking about this too.

There are two options.

The first is the way I was thinking about this that led to #727; when core receives a goto event from the plugin, it tells the client to open a new view, and then sends the `scroll_to` command, with the contents of the `Location`.

The second option is one that works without #727; when it receives a goto event, core could just sen

[2018-06-27 20:31] BaldEagleX02 commented on #729
Thank you, now it works! It compiled and ran! I updated my rust version to 1.27. I think you should add a useful feature in your code: make it search your rustc version and, if it's too old, it tells it to the user.

[2018-06-28 00:30] betterclever commented on #719
Got it. I have completed work on Plugin Side. Can you add the `ViewId` return fix ? I would rebase my work on that PR then.

[2018-06-28 02:50] cmyr commented on #729
@BaldEagleX02 that's what readme's are for. 😉 Happy you've got it working!

[2018-06-28 02:50] #729 closed

[2018-06-28 03:07] cmyr commented on #719
done!

[2018-06-28 17:34] #325 closed

[2018-06-29 01:18] nangtrongvuon commented on #709
I feel like this is where the status bar comes in (might be a little bit biased here). A simple status item that gets updated would be enough to report how many errors and warnings there are.

For the error texts, there might be a way to draw text differently once LSP is loaded in, or the "squigglies" can be drawn on top of the text position itself. Either way, I think @cmyr would have a better id

[2018-06-29 01:58] cmyr commented on #709
This is closely related to how we display selections and find highlights, which came up in the context of displaying multiple find queries recently. There _is_ currently a mechanism for a plugin to apply arbitrary styles to text, but there's no way to associate additional data (like an error message) with this. That is definitely something we would like to do, though, we just need to hash out exac

[2018-06-29 15:58] jansol opened #731 "Word wrap is unbearably slow"
Opening a large file takes in the order of 5 to 10 seconds (sqlite3.c amalgamation) during which xi-mac only shows a blank window. The same behaviour occurs when scrolling immediately after resizing the window.

[2018-06-29 16:00] cmyr commented on #731
Looked at a trace of this and something weird is definitely happening; on startup the client is spending a ton of time handling RPC traffic. I don't _think_ this was the behaviour when we first merged this work, but it's possible we didn't test on large files.

[2018-06-29 17:40] scholtzan commented on #695
This is fixed in https://github.com/google/xi-editor/pull/701 and can be closed.

[2018-06-29 19:37] #695 closed

[2018-06-29 21:58] brizental commented on #624
I'd like to work on this!

[2018-06-30 13:58] betterclever commented on #719
To wrap up things that were discussed yesterday.
- The location returned from Core-> Client will be a Vec<Location> where Location is as defined [here](https://github.com/google/xi-editor/pull/717/files#diff-b935638a9ebd01651660a7f96654b66fR235):

The client works this way:
- Vec<Location> is empty: Display "no definition found" or any similar message (maybe popup).
- Vec<Location> size is 1: Move

[2018-06-30 14:16] betterclever commented on #719
Another notable point is, the definition request in VSCode is not limited to go-to definition only. VSCode also has a _peek-definition_ and _hover with `cmd` pressed_ to view definition behaviour.
Such a case works as follows:
- **Peek Definition**: On a shortcut press, `⌥ + F12` a dismissible dialog opens with the a view containing the file that is being peeked at scrolled to the Location describ

[2018-07-02 17:40] #722 closed

[2018-07-03 22:12] cmyr opened #733 "warning: profiles for the non root package will be ignored, specify profiles at the workspace root"
Another little complication from #730; this warning now shows up when building the main project.

Moving this profile to the top level manifest should be fine, but maybe @vlovich can clarify why we were turning on lto for benchmarking?

[2018-07-06 12:55] betterclever commented on #719
@nangtrongvuon Please have a read and give opinions and further steps.

[2018-07-06 13:29] betterclever opened #734 "Completion Request Support"
Completion request in Language Server Protocol provides support for completion at a position which can either be triggered after a character like `.` or `,` or manually or triggered for incomplete completions.
See specifications [here](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion)

The handling of such a request can be described as:

-- Similar to curr

[2018-07-06 15:53] vlovich commented on #733
I think I put it in cause, especially for micro-benchmarks like this, you want to test the most optimized code & not to waste time tweaking things from readable to less readable because you're optimization level wasn't high enough.  YMMV though - feel free to take it out if it doesn't make sense anymore.

[2018-07-07 03:53] nangtrongvuon commented on #719
Well, I think xi-mac's UI can be worked on when we get there, but the general idea is sound to me.

However, using a shortcut like Option + F12 is too much for peek definition personally. I would much rather prefer what my XCode is like: Cmd+Click shows Peek Definition, and you can click again to go to the definition.

Other than that, I think everything else seems ok to me. I do think using VSCod

[2018-07-07 04:09] betterclever commented on #719
Apple tools are more mouse oriented and thus cmd+click. Many people don't want to leave their keyboard while typing and thus only keyboard based shortcut also makes sense. Though it can be discussed later.

[2018-07-07 13:10] cmyr opened #737 "Add 'Split Selection into Lines' command"
This is one of my favourite ways of using multiple cursors in sublime; <kbd>cmd</kbd><kbd>shift</kbd><kbd>L</kbd> transforms a multi-line selection into multiple single-line selections.

![2018-07-07 09 08 56](https://user-images.githubusercontent.com/3330916/42411186-8cf96eca-81c5-11e8-92ef-17d1480e8b23.gif)

[2018-07-08 23:49] brizental commented on #624
Hey guys, just to make sure I'm in the right track here. I have to change the return value of `Rope::slice_to_string` and then adjust anywhere that might be expecting something else. So the function would become:

[code]

Is that right?

[2018-07-09 15:02] cmyr commented on #734
Okay, so I've thought about this a little bit.

I think most of the logic should happen in core; this will be similar to how `find` works.

The question of how to do _automatic_ completions is a bit tricky; that is a case where I think most of the logic about deciding when to send a request should live in core. For now I want to only focus on manual completion requests.

### Protocol:

**client->c

[2018-07-09 15:14] betterclever commented on #734
I gave it a thought the other day as well and discussed some of it with @nangtrongvuon. We rooted to something similar and I even started working on some part of it mainly related to adding core->client RPCs to have a more clear picture of the protocol.

[2018-07-09 15:34] cmyr commented on #719
Okay, more thinking on this:

Basically: what happens when the user sends `goto`; what happens when the user wants to send `goto` but also wants to open in a new window?

Two options. Either we have some optional 'new view preference' indicator (values such as (maybe) 'hsplit { ViewId }', '`vsplit { ViewId }`, `new_window`, `tab`, `use_view { ViewId}`) that we pass to core and which core passes ba

[2018-07-09 16:24] cmyr commented on #624
This is correct at a high level, but it's missing a little bit in the implementation. The thing that `Cow` gives us is that it allows us to abstract away whether the underlying `str` is backed by a borrowed `&str` or an owned `String`. The concrete advantage of this is that it lets us avoid allocating a `String` when that isn't necessary.

To back up: the `Rope` data structure stores its contents

[2018-07-10 05:32] marwan-at-work opened #740 "Plugin Walkthrough"
Hi there,

I'm very interested in writing plugins for Xi but I do not know Rust or Python (the two examples for writing plugins in the repo).

It would be great if there is a walkthrough of how to write a plugin from beginning to end. I'd also like to know what kind of commands can a plugin send the core editor (open a new file, go to a certain line, show autocomplete list, etc). I know some of th

[2018-07-10 15:29] cmyr commented on #740
Good question :)

The plugin system _is_ language agnostic; all you need is the ability to read and write RPC messages from stdin/stdout. The API is _very_ rough and _very_ much in flux, at the moment, but there's a bunch of work ongoing around it. Writing plugins right now probably wouldn't be a ton of fun, but if you're curious you're very welcome to play around.

To run a plugin, right now, you

[2018-07-10 17:43] scholtzan commented on #712
Implemented in https://github.com/google/xi-editor/pull/720

[2018-07-10 17:43] #712 closed

[2018-07-10 17:45] scholtzan commented on #224
This can also be closed now :D

[2018-07-10 20:49] #224 closed

[2018-07-10 21:03] #733 closed

[2018-07-10 22:41] cmyr opened #742 "improvements to EditType"
xi-core has the concept, in `editor.rs`, of 'edit types', represented by the `EditType` enum. `EditType` has two distinct purposes that I can determine: it is used to decide how user edits should be combined into undo groups, and it is also used to communicate information about edits to plugins.

I think it would be helpful if plugins had additional information about the cause of updates; in parti

[2018-07-11 12:31] clojj opened #743 "Add tree-sitter for syntax-highlighting, indentation, block-selection..."
Rust's FFI to C should allow integration of the tree-sitter parser.

Also, I think that tree-sitter should fit well with Xi's performance goals

Also, tree-sitter's API should be avaliable to Xi-Plugin providers, so more features (than just syntax-highlighting) could be added independently by plugin-contributors.

[https://github.com/tree-sitter/tree-sitter](url)

(btw tree-sitter is also mentione

[2018-07-11 18:02] raphlinus commented on #719
The first of these two choices sounds simpler to me also.

Regarding the state kept in the client, the "goto/resolve_goto" really looks to me like it would be more naturally expressed as a sync client->core request. I know we're generally trying to prefer async requests to sync, but was there a specific reason other than that why it wasn't considered?

In any case, I'm still not sure a sync reques

[2018-07-11 23:30] cmyr commented on #719
The main disadvantage of the sync request approach is that the run loop expects all sync requests to be handled... synchronously. Since this command involves calling out to a plugin, it feels iffy to be blocking core waiting for a response from an unknown peer.

If we were futures based, and handled sync requests with future chaining, this approach might be better?

[2018-07-14 14:04] marwan-at-work commented on #740
@cmyr that does help. I was able to run a test plugin, Thank you! Looking at `mod.rs`, is there an rpc for when a user cmd+clicks a particular word?

Also when writing a command to Xi, should the plugin print out to stdout or stderr? I can try this myself but just wanted to double check :)

Thanks again!

[2018-07-14 15:08] cmyr commented on #740
plugins do not currently receive mouse events directly. with the language server stuff that is landing shortly, plugins may receive certain events that are (at least in xi-mac) mapped to certain mouse events, e.g. option-click is mapped to `get_hover`. We don't have a great keybindings system at the moment. :(

[2018-07-14 17:21] cmyr opened #746 "Plugins and the representation of positions (utf8 and utf16, absolute and line/column)"
## Represent positions

We currently have two principal ways of representing positions in a buffer; either as absolute utf-8 offsets, or as a line number + a utf-8 offset column position.

The Language Server Protocol uses utf-16 line + column pairs to represent all positions. To talk to language servers, we _have_ to convert whatever representation we're using into utf-16 line/col. This is true f

[2018-07-14 20:36] marwan-at-work commented on #740
@cmyr thanks a lot for the info. Anywhere I can follow docs/progress on the language server stuff?
Unfortunately I don't have the time to learn rust/swift as I'm more of a Go developer but this project is very exciting and I hope to contribute with plugins at the very least :)

[2018-07-15 21:42] scholtzan opened #748 "RPC Multiple Search Queries"
# Multiple Search Queries

This is for discussing and collecting my thoughts on adding support for multiple search queries. https://github.com/google/xi-mac/issues/179 shows a mockup of what the interface for this could look like.

## Why?

This feature might be unusual since it is not supported by other editors, but I think it improves readability when working with more complex queries. For examp

[2018-07-16 16:18] cmyr commented on #748
Would it be possible to keep the same current `"find"` RPC, but to have it's argument be a `Vec` of queries? Then adding/removing queries is just a matter of sending the existing RPC with whichever queries we want to use; in core we can be efficient about checking whether queries are new.

An implementation question: Given the following buffer:

How do we handle two queries, "is" and "this is"? Th

[2018-07-16 16:55] scholtzan commented on #748
That might be possible. In this case, queries are identified by their position in the `Vec`, right? One thing that needs to be considered here is that the highlight color for the queries should stay the same even if a new query is added/a query is deleted.

Right now I would handle it as a regex join. I was considering that the first occurring match wins (eg. with queries "is some" and "some text"

[2018-07-17 06:38] YangKeao commented on #655
I am working on this Issue.

Where should I write functions to get the codePoint's unicode property (should I write them into xi-unicode?) to judge whether it's a combining character or ...? or there is already a library to do this?

And I have noticed that the test for delete backward doesn't involve any of these things, even codepoint and grapheme is both OK for them. So should I add (or modify)

[2018-07-17 14:42] betterclever opened #750 "Add UTF-16 Metric in Xi-Rope."
Currently the Rope has implementations for BaseMetric and LinesMetric.
The language server protocol specification works on UTF-16 based Line and Code-Units offset.

Thus, it makes sense to add a UTF-16 Metric in Rope and do conversions there rather than doing it elsewhere.

I am working on this.

[2018-07-17 15:23] cmyr commented on #655
@YangKeao There is a rust unicode crate for looking up unicode properties, but I'm not sure if we want to bring that in as a dependency or not. I'm tagging @raphlinus, he'll have a clearer sense of what fits best.

Re: tests, yes, some proper test cases would definitely make sense for this.

[2018-07-18 12:52] betterclever commented on #746
I tried to do all the conversions in the Plugin while cleaning #717 for Hover only. And it feels like I ran into same problem all over again. We don't have view in scope at the time we receive the result from the Language Server, it is delivered asynchronously to other thread. This was one of the reason that we thought about doing conversions in the core at the first place.

An alternative that I

[2018-07-18 14:42] cmyr commented on #746
Okay, so problems with doing conversion in plugin:

- plugin may not have the correct rev
- postion to be converted may be in file that is not open in editor
- architecture of lsp lib means views are not in scope when response is received

Of these, the first two seem the hardest; the third one is something we could address with enough work.

The second of these, in particular, seems intractable w

[2018-07-18 14:46] betterclever commented on #746
I am also in for the approach exactly as proposed here. Though, out of curiosity, if we were still doing this in Plugin, what could be an alternative way to get the document content to do conversions when the result return from the Language Server.

[2018-07-18 14:55] cmyr commented on #746
I was thinking we could do something like keep track of which view originated each pending request, and when the response arrived we could grab the relevant view and pass it to a closure supplied by the caller.

[2018-07-18 16:04] ajmalsiddiqui opened #752 "Font colour same as background colour in some situations"
In certain situations, the font colour for syntax highlighting matches the background colour, thus making it hard/impossible to read it. I've faced this using the [xi-electron](https://github.com/acheronfail/xi-electron/) frontend but apparently the issue is related to the backend, as specified in [this issue](https://github.com/acheronfail/xi-electron/issues/17) in the xi-electron repo. The issue

[2018-07-19 02:12] acheronfail commented on #752
Note that this happens with the `"base16-eighties.dark"` theme enabled.

[2018-07-19 13:57] cmyr commented on #752
What syntax is being used?

[2018-07-19 16:19] cmyr opened #754 "'cut' and 'copy' missing from frontend docs"
They're also unusual in that they are edit commands that return a response.

[2018-07-19 22:11] acheronfail commented on #752
@cmyr in the screenshot above I believe it’s the Python syntax.

[2018-07-20 13:58] cmyr commented on #752
Ah okay. The problem here is that we don't draw background colors; the `return` on that line has the `invalid.illegal.name.python` scope, which that theme draws as [black text on a reddish background](https://github.com/pgaspar/base16-eighties-dark/blob/master/base16-eighties-dark.tmTheme#L541).

We will need to fix this eventually, but it depends on some changes to how we represent selections and

[2018-07-21 15:22] #750 closed

[2018-07-22 00:29] colemickens opened #757 "Web Browser (non-Electron) Client?"
Is anyone working on a web browser-based client for Xi?

One thing that appeals to me about (the planned features for) [xray](https://github.com/atom/xray) is that there is a client that runs fully in browser (if I understand correctly, part of the core runs in the browser vi wasm, but my understanding is that the browser client could run on a relatively low-powered device in order to work on a re

[2018-07-22 19:14] cmyr commented on #757
We really haven't explored this at all, and it isn't in the immediate plans of anyone I'm in touch with, although I think it's been very casually mentioned before. I think that having a wasm core is a distinct issue from having remote editing sessions, which is definitely something we're interested in but also not thinking about too hard quite yet. :)

[2018-07-23 20:12] nathansobo commented on #757
Yes, to confirm, one of our goals is to run completely in the browser.

[2018-07-23 21:42] scholtzan commented on #748
I am currently working on the colorization of matches. I think, previously we decided to have reserved styles for the different highlights for now (just like find and selections are currently handled).

Currently, the different themes are provided by the syntect plugin. I was wondering, in order to support different highlight styles would it make sense to extend the themes and provide additional h

[2018-07-23 21:50] cmyr commented on #748
good point.

There is work on custom themes very close to ready in #675. However there's a general problem that the number of search queries is unbounded. Are we going to just set a cap at like 10 or something?

In any case in the name of just getting this working, I would pick some max number of colors, and then I would just hard code those into xi-mac for now. We can add this to themes at a late

[2018-07-23 21:53] scholtzan commented on #748
Okay. I'd say that a maximum number of queries would make sense.

[2018-07-25 00:55] #721 closed

[2018-07-25 02:03] cmyr commented on #734
### more completions thinking + next steps

cc @nangtrongvuon @betterclever

So I've spent most of the day playing around with completions, and I think I've accidentally learned some stuff.

- I feel like i have a much better sense of the overall LS project now that I've actually been writing some code and not just doing reviews. So: my apologies, I probably should've been doing something like thi

[2018-07-25 15:53] MaxGraey opened #763 "[Feature request] Multipoint cursors"
According this [frontend docs](http://google.github.io/xi-editor/docs/frontend-protocol.html#gesture) xi-editor allowing several types of gestures like `range_select` __(Shift+click)__, `multi_word_select` and etc, but unfortunately can't support multicursor (cursor shared between several lines but have same y-coordinate) like this:

<img width="399" alt="multicursor" src="https://user-images.gith

[2018-07-26 17:42] raphlinus commented on #763
I think this request might cover the alt-drag gesture to extend a cursor across multiple lines. That shouldn't be too hard to add, maybe a "help wanted" feature.

[2018-07-26 19:15] MaxGraey commented on #763
@raphlinus It will be great. Thanks!

[2018-07-26 21:59] afgomez opened #765 "`Cmd-Z` should move the cursor to the point where the undo happens"
Related issue https://github.com/google/xi-mac/issues/233

I gave the xi-mac frontend a try and found a small usability issue. When editing a long file (more than one scroll page), moving the cursor, and undoing the edit, the cursor doesn't move to the point where the undo happens.

### Steps to reproduce:
1. Open a long file
2. Write something on the top of the file
3. Scroll down and click somew

[2018-07-27 08:52] jansol commented on #473
Implementation is being tracked in #659. This can probably be closed?

[2018-07-27 08:54] jansol commented on #23
This can probably be closed now?

[2018-07-27 08:59] jansol commented on #22
Seems off-topic for xi core. I suggest opening issues in relevant frontend repos. Namely [xi-qt](https://github.com/sw5cc/xi-qt), [gxi](https://github.com/bvinc/gxi), [xi-gtk](https://github.com/eyelash/xi-gtk), maybe even [xi-electron](https://github.com/acheronfail/xi-electron).

[2018-07-27 09:01] jansol commented on #4
Looks like this can be closed now?

[2018-07-27 09:02] jansol commented on #58
While word wrapping still has issues, those have their respective tracking issues so this can probably be closed?

[2018-07-27 09:09] jansol commented on #207
This can probably be closed?

[2018-07-27 09:12] jansol commented on #446
Is this still an issue? AFAIK there have been major improvements to windows stuff on the rust side.

[2018-07-27 10:09] betterclever commented on #446
It compiles for me in Windows.

On Fri 27 Jul, 2018, 2:42 PM jansol, <notifications@github.com> wrote:

[2018-07-27 14:36] cmyr commented on #473
👍

[2018-07-27 14:36] #473 closed

[2018-07-27 14:37] #446 closed

[2018-07-27 14:37] #22 closed

[2018-07-27 14:38] #4 closed

[2018-07-27 14:40] #23 closed

[2018-07-27 14:41] #207 closed

[2018-07-27 15:11] #58 closed

[2018-07-27 15:12] betterclever commented on #734
The handling on Completions from language servers as per my understanding is as follows:

- A user is typing an presses a character like `.` that triggers a completion request to the language server. The response is then used to populate suggestions like this.

![screen shot 2018-07-27 at 8 03 54 pm](https://user-images.githubusercontent.com/16309034/43328967-ef602816-91dc-11e8-87cb-dd4bba1c8513.p

[2018-07-27 15:25] cmyr commented on #734
Okay, this is the case I was curious about: whether there is any clearly documented way of knowing what the text _to be replaced_ is?

It sounds like this is heuristic. VSCode allows for language specific 'word separators', (the `editor.wordSeparators` setting, you can search for [here](https://code.visualstudio.com/docs/getstarted/settings)), and I think it might also allow a language to supply a

[2018-07-28 13:10] betterclever commented on #734
Wrapping things up from yesterday's conversation in IRC.

- Language Server Protocol has no clear guidance of handling of insertText and it is left for the client implementation. The comment above the `insertText` field in `CompletionItem` writes:
[code]
It is deprecated but we can't continue to ignore it since many language servers use it and atleast at this point there is not a way of specifying

[2018-07-29 18:01] #742 closed

[2018-07-29 18:06] cmyr commented on #763
@MaxGraey can you clarify the behaviour that you're describing? Is this using the _mouse_ to select multiple lines, with each line in the selection have its own cursor?

Currently you can add a cursor at the same position on the previous or next line with <kbd>option</kbd><kbd>shift</kbd><kbd>↑</kbd>, but you can't add multiple cursors by dragging. This is definitely doable, though.

[2018-07-30 05:07] YangKeao commented on #655
@raphlinus Do you have any suggestion on whether we should include another rust Unicode crate to look up Unicode properties?

[2018-07-30 12:24] MaxGraey commented on #763
Yes, selecting with <kbd>Option</kbd> or <kbd>Alt</kbd> + mouse drag to up or down which create vertical cursors line.

[2018-07-30 17:05] raphlinus commented on #655
I haven't researched this in detail, but here are some thoughts. I'm not aware of any crate that provides the unicode properties we need, but it's possible some have been developed since I last looked in detail. If we do take a dependency on a crate, I want to be careful about the weight, probably best measured by binary size impact. Since I've needed various unicode properties for line breaking,

[2018-07-31 07:23] cessen opened #771 "Significant performance regression in rope implementation"
I was doing some comparative benchmarking of edit operations between my own rope library and xi-rope, and discovered that the current git master xi-rope implementation is between 40-70x slower (depending on document size) than the xi-rope on crates.io for edit operations.

I did a git bisect and tracked it down to commit 7777e4fcdab9be340f498cf2bdd2a13209485cba, which appears to be a where a new i

[2018-07-31 15:31] cmyr commented on #771
@cessen thanks for the issue, and thanks for noticing this. Definitely unexpected, will have to fire up a profiler and take look.

[2018-07-31 15:42] raphlinus commented on #771
Actually I think this is expected, as you were using the "old" Rope implementation. It was less flexible than the new one, but had some optimizations more carefully special-cased. It's certainly possible to apply those optimizations to the new implementation, and we're tracking that in #583, which @mqzry is working on.

It hasn't been a priority because the microseconds involved don't really show

[2018-07-31 15:43] cmyr opened #772 "Implement Display for Rope"
Just noticed while looking at #771 that ~these aren't~ this isn't implemented.

[2018-08-04 11:00] dm319 commented on #302
This is a little bit meta, but what would we want the 'plugin' to emit?

I think 'vim-keybinding' is a misnomer - it's really an interactive 'vim-language', which needs to be processed by an interpreter.

If we look at it that way, then what should the interpreter emit?  What's the assembly language of text editing?  Are we talking keypresses? (though that will need to be interpreted).  Diffs?  Or

[2018-08-06 18:06] scholtzan opened #775 "Regex search text should be `Cow`"
Currently for regex search the source text is copied. It would be better to use `Cow<str>` instead.

See discussion here: https://github.com/google/xi-editor/pull/658#discussion_r193911201

[2018-08-06 18:06] #634 closed

[2018-08-07 03:04] jansol opened #776 "xi-core should not consume any power while idling"
What it says on the tin. Currently there's constant CPU usage due to the RPC runloop in core and in every loaded plugin, even when neither core nor plugins have any actual work to do. This is unnecessary use of resources and can end up being a nasty battery drain depending on the system and the number of running plugins.

To fix this, the runloop needs some reworking to avoid waking up when nothin

[2018-08-07 03:07] cmyr commented on #776
This is related to the runloop not wanting to block indefinitely on new messages in case another thread has scheduled idle work. Ideally there would be some mechanism (like a `select` method) where we could block on _either_ a new message or new idle work, and not have to spin.

[2018-08-09 07:32] zettaittenani commented on #772
I really want to implement this. How about the code below?
Testing passed.

[code]

[2018-08-09 12:30] cmyr commented on #772
@zettaittenani Okay, I think that code looks good!

If you wanted to get fancy, here are some extra ideas:

- instead of `String::from(..)`, you could iterate through the contents of the rope with `Rope::iter_chunks`, and then write these out. This would save having to reallocate the whole contents.

- alt display format: I hadn't thought about this, but now that you've added it, I had an idea: it

[2018-08-12 15:34] cmyr opened #780 "Crash when reloading document if size has decreased, with selection at EOF"
If a file is open in the editor, and has no unsaved changes, and the file is modified by another process in such a way that its size is decreased, we will panic when we try to reload the file.

- open a file in the editor.
- move the cursor to the end of the file.
- in another editor, delete the last line

We _do_ try to defend against this, but there's a small oversight in our implementation. (di

[2018-08-13 14:17] jansol commented on #748
Idk, I think I'd be fine with one highlight colour that's shared across all concurrent queries. Any more would get confusing very quickly.

[2018-08-14 15:12] cmyr commented on #748
@jansol you can play around with this now on the appropriate xi-mac/xi-editor branches. There's definitely some largish design questions to be resolved, but I certainly think that the multiple colours is interesting!

[2018-08-14 17:59] scholtzan commented on #748
That might also be something that could be configured in the theme settings.

[2018-08-15 01:45] #408 closed

[2018-08-20 13:02] jansol commented on #748
If the colours are defined by the theme (and thus can be identical) then I have no issue with this.

[2018-08-20 13:07] jansol commented on #142
Closing this as there are multiple linux-compatible frontends listed in the readme now.

[2018-08-20 13:07] #142 closed

[2018-08-20 15:27] #780 closed

[2018-08-20 15:27] jansol commented on #173
As of #677 there is a status bar that plugins can use to display things.

Feel free to reopen if you feel this should remain as a tracking issue for something more concrete.

[2018-08-20 15:27] #173 closed

[2018-08-20 17:12] jansol commented on #196
TextEdit does warn if you attempt to close an window that has content but is not backed by a file yet. I think that is desirable behaviour for a scratch buffer.

[2018-08-20 17:17] jansol commented on #7
Closing this as binary releases of xi-core are not particularly useful (as stated elsewhere already).

[2018-08-20 17:17] #7 closed

[2018-08-20 17:28] jansol commented on #150
Closing as all points mentioned are either implemented, being implemented and/or have their respective tracking issues.

[2018-08-20 17:28] #150 closed

[2018-08-20 17:35] jansol commented on #92
Closing as there are multiple active gtk frontend projects mentioned in the readme.

[2018-08-20 17:35] #92 closed

[2018-08-20 17:38] #518 closed

[2018-08-20 17:57] jansol commented on #635
Now it has.

[2018-08-20 17:57] #635 closed

[2018-08-22 03:48] nangtrongvuon commented on #702
Solved by #725. Can be closed now.

[2018-08-22 03:56] #702 closed

[2018-08-23 17:27] estk commented on #160
@cmyr I am interested in doing the work necessary for RLS/LSP integration. Would you have some time to write up a mentor doc for me on it?

[2018-08-28 18:55] #737 closed

[2018-08-30 17:02] NyxCode opened #787 "syntect-plugin does not compile on windows"
- Windows 10.0.17134 Build 17134
- rustc 1.28.0 (9634041f0 2018-07-30) installed via rustup
- latest master commit, `#91088a56e17d278665b15022b5d64382afec5462`

[code]

[2018-08-30 17:06] NyxCode commented on #787
I can successfully compile `onig` / `onig_sys` from source though..

[2018-08-30 17:07] raphlinus commented on #787
This has to do with having the proper environment variable settings. I think it's a question of refining the documentation. If `onig` really is compiling, though, it might be practical to set things up automatically.

[2018-08-30 17:17] NyxCode commented on #787
Well, you might be right. The default MSVC toolchain installation did not add the binaries to PATH, so i had to do it myself.. (I have already re-installed the toolchain multiple times).
Yes, i can compile `onig_sys v68.0.1` from source.

Do you have any idea what I should do to troubleshoot this?

[2018-09-02 21:07] SirWindfield commented on #514
As far as I know, Cap'n Proto can't really be used for the kind of protocol Xi is using because the schema in Capn Proto needs to be known ahead of time. So if plugins add new ways to communicate (like adding new [interfaces](https://capnproto.org/language.html#interfaces)), the RPC server wouldn't know how to handle the messages properly. They would look like garbage to the decoder.

[2018-09-04 03:12] nangtrongvuon commented on #776
@cmyr Can you elaborate a bit on this issue? Would be willing to take this but a bit unclear on what should be done.

[2018-09-04 12:15] luca-i opened #790 "Editor aware of Rust copy/borrow when editing .rs files"
It would be nice if the editor could have a special mode when editing Rust source code to highlight borrow / copy behavior.
The syntax highlight engine could traverse the AST and color identifiers with a special color when they are borrowed or copied, so that it would be easier for the programmer to spot where the identifier becomes unusable (in case of copy).
I am pretty new to Rust and I feel it

[2018-09-04 16:05] #716 closed

[2018-09-04 16:38] cmyr commented on #776
Unfortunately I don't have a totally clear idea of what the best approach to this would be, but it would be a non-trivial architectural change. The simplest solution I can imagine is one where we have a single mpsc queue (probably using the crossbeam crate) that receives messages both from the main runloop and from the idle scheduler / timers, so that the main loop can just block on this channel t

[2018-09-04 16:53] cmyr commented on #790
This is an interesting idea, but it's pretty far outside the immediate scope of this project. Something like RLS _will_ tell you when you've tried to use something that has already been moved, and show you an error; I'm not sure if this is exactly what you're looking for, though?

Also I believe you're confusing 'move' and 'copy'. A value that can be 'copied' (which implements the `Copy` trait) ca

[2018-09-04 16:57] jansol commented on #790
This would definitely be a neat feature! For example when the cursor is within a variable (similar to definition on hover), it could highlight where ownership is transferred and where the variable is finally dropped.

As the saying goes, everything is possible - the impossible just takes a bit longer. This feels like it should be part a language server if that was designed around rust. I don't kno

[2018-09-04 16:57] #790 closed

[2018-09-06 00:37] #724 closed

[2018-09-06 15:19] scholtzan commented on #637
This has been resolved in https://github.com/google/xi-editor/pull/675

[2018-09-06 15:32] #637 closed

[2018-09-08 16:50] scholtzan opened #793 "Add line swapping"
In Atom and Sublime <kbd>cmd</kbd><kbd>shift</kbd><kbd>↑</kbd>/<kbd>cmd</kbd><kbd>shift</kbd><kbd>↓</kbd> swap the currently selected line with the line above/below. I find this quite useful and would like to be able to do the same in xi editor.

[2018-09-10 16:12] jansol opened #794 "Support for files in other encodings than UTF-8"
Binary files aside, xi should allow loading files that are not UTF-8 (and preferrably saving them too). This could either be a core feature or an iconv-like plugin, not sure which would make more sense.

[2018-09-10 16:57] skywind3000 commented on #437
Why is Auto-indent still unimplemented ?

[2018-09-10 17:03] jansol commented on #437
There actually is an implementation of it already, but it's disabled in the default config because it apparently has some problems. An improved version is currently being worked on.

[2018-09-10 17:06] #437 closed

[2018-09-13 00:46] nangtrongvuon commented on #793
Working on this atm, should have something by this weekend!

[2018-09-13 23:58] scholtzan opened #795 "Add comment toggling"
Not sure if that is already part of another issue related to language features, but the option to toggle comments (<kbd>cmd</kbd><kbd>/</kbd>) based on the currently used language would be really nice to have.

[2018-09-14 08:08] portstrom opened #796 "Handle file paths that are not valid UTF-8"
Rust makes a careful distinction between `str` and `OsStr` in order to allow handling strings that are permitted by the operating system but are not valid UTF-8. Paths are based on `OsStr`. Xi naively takes a [`String` for the `new_view` command](https://github.com/google/xi-editor/blob/f751f2f43f2d2220b917a925d93453874b5fb3ca/rust/core-lib/src/rpc.rs#L248). Anyone making a frontend will have to h

[2018-09-14 11:15] portstrom commented on #170
This issue describes the frontend, not the core. To rephrase it to be about the core: I think the only thing needed in the core is a command to clone a view. The cloned view shares the same buffer but has an independent scroll position and set of carets.

[2018-09-14 13:45] raphlinus commented on #796
I've thought about this. The problem is that non-UTF-8 strings are a bear to encode in JSON. It can be done, say using base64, but then it's a very platform specific encoding.

How much of a problem is this in practice? It seems to me reasonable to say xi can't be used to edit files with such malformed names. I imagine a whole lot of other programming tools will also fail.

[2018-09-15 02:01] cmyr opened #797 "'cargo bench' fails on master"
This looks like something that slipped through with #762. @mqzry would you like to take a look or should I? You probably have a better sense of what the best solution is..

[2018-09-15 02:02] cmyr commented on #797
Also maybe we should build the benchmarks in CI?

[2018-09-15 16:31] jansol commented on #772
@zettaittenani it's been over a month, can we have a status update?

[2018-09-15 18:11] #797 closed

[2018-09-16 00:59] cmyr commented on #796
I could go either way. I'm not familiar enough with windows to know how much of a problem this will be in real use; but I don't think it would be too hard to allow the `new_view` rpc to optionally take a `path_base64` argument, and there's definitely no reason for paths to ever be passed as `String`s.

[2018-09-16 01:01] cmyr commented on #170
When this issue was created the core and the xi-mac frontend were in the same repo, which is a reasonable source of confusion. In any case I more or less agree with your assessment. Things like line-wrap are scoped to the view, not to the buffer, so if we allow multiple views per buffer you'd get that for free.

[2018-09-16 11:37] portstrom opened #805 "End of line behavior for command to transpose characters"
Xi has a command called `transpose`. It works similarly to the command `transpose-chars` in Emacs, but doesn't get the end of the line behavior right. From the [Emacs manual](https://www.gnu.org/software/emacs/manual/html_node/emacs/Transpose.html):

[2018-09-16 11:39] portstrom opened #806 "Command to transpose words"
Emacs has various commands to transpose characters, words, etc. Xi has a command to transpose characters, but is missing a command to transpose words. See the [Emacs manual](https://www.gnu.org/software/emacs/manual/html_node/emacs/Transpose.html).

[2018-09-16 11:49] portstrom opened #807 "Commands to increment and decrement numbers"
Vim has commands to [increment](https://vimhelp.appspot.com/usr_26.txt.html#26.2) (`Ctrl-A`) and decrement (`Ctrl-X`) numbers. These would be good to have in Xi as well.

Some details to pay attention to:
* If the caret is not pointing at a number, the next number after the caret is selected, but only within the same line.
* After the command, the caret is placed at the end of the number.
* Negati

[2018-09-16 11:58] portstrom opened #808 "Commands to move caret through undo history"
It would be helpful to have commands to place the caret at various changes in the undo history, without actually having to undo/redo the changes. I very often the caret around to look around the file, and then I want to move the caret back to where I was last editing. Sometimes I even want to walk through the undo history and see all the different places where I have recently edited something. I d

[2018-09-17 03:55] cmyr commented on #806
We do have the ability to transpose selection regions. One way we _could_ think of transposing words is as a composition of the operations, 'select words' and 'transpose'.

That is: do we want to start thinking about every capability as an individual command, or do we want to create a vocabulary of command actions from which various capabilities can be composed?

To really reach the flexibility of

[2018-09-17 03:59] cmyr commented on #807
I'd put this firmly in 'one day'/'nice to have' territory? I do use this in vim sometimes, but it still feels like a slightly odd feature, that is mostly justified by it's use in macros? maybe?

Does it handle hex/octal/binary?

In any case, this does feel like a fun fairly self-contained project, so I would certainly be open to having someone work on it if they were interested.

[2018-09-17 04:03] cmyr commented on #808
I like this idea; it's sort of like a more focused ctrl+o/ctrl+i (in vim).

Currently we don't stash selection state in the undo stack, which feels related, and would also be nice to have, e.g. undo should restore your selection/cursor state to whatever it was immediately before the current undo group was created.

[2018-09-17 04:07] cmyr commented on #805
We have in general chosen ST3 as a model when nitting various little behaviours, and I'm happy with that choice.

In this case, both approaches address the fundamental problem that transposing a newline is probably not helpful; and if we pretend that newlines don't exist, transposing with the next non-newline character makes sense to me. If there's a specific utility-based argument for the other a

[2018-09-17 08:51] portstrom commented on #805
The quote from the Emacs manual makes it clear why that behavior is preferred and why the other behavior is even considered useless. In general I think Emacs and Vi are going to have every text related feature more well-designed than any editor with a shorter history. I assume the feature in Sublime works differently not because it was a conscious design choice, but simply because the author of Su

[2018-09-17 09:05] portstrom commented on #806
A composed command is also a command, so regardless of this implementation detail, this command will still have to be created, and how it's created doesn't matter at this point. Emacs has its flexibility because commands are written in Emacs Lisp, and you can write, compile and load new commands directly from within Emacs. Xi currently doesn't have that. Xi has taken the approach that plugins shou

[2018-09-17 09:12] portstrom commented on #807
I don't use Vim often, and I don't even now how to make macros in Vim, but when I do use Vim, I often use this feature. When I use Emacs I miss it.

Octal numbers are handled in the confusing way you can see following the link. I think it would be better not to handle octal numbers, or have interpretation of numbers depend on the language being edited.

[2018-09-17 09:17] portstrom commented on #808
Using stashed selection state is a possibility, but even without it, just placing the caret at the end of the modified range of text is good enough.

[2018-09-17 09:26] portstrom opened #810 "Range select command doesn't shrink the selection"
I would expect pointing the range select command at a point within the selected range to move the caret there, shrinking the selected range. Now it does nothing.

[2018-09-17 14:46] cmyr commented on #810
I agree this is not the expected behaviour of this feature. 👍

[2018-09-18 00:07] zettaittenani commented on #772
@jansol Sorry for late, I will send a patch for the moment.

[2018-09-18 01:40] neauoire opened #812 "Repo URL is 404."
The xi-editor [repo url](https://google.github.io/xi-editor) is broken: https://google.github.io/xi-editor

[2018-09-18 03:17] raphlinus commented on #812
I think this is fixed now?

[2018-09-18 03:18] neauoire commented on #812
It is, thank you.

[2018-09-18 03:18] #812 closed

[2018-09-18 14:41] cmyr opened #813 "Add link to recurse talk to the docs"
Mentioned in IRC: it would be nice to have an easy to find link to raph's [recurse talk](https://www.recurse.com/events/localhost-raph-levien) in the docs somewhere (ideally somewhere obvious).

[2018-09-18 16:16] #571 closed

[2018-09-18 19:58] rubo77 opened #815 "Add a simple i"
_If your issue is a build or runtime error, please include the following:_
- OS / platform (e.g. macOS 10.13.2)
- rust compiler version (`rustc --version`) (we test against the latest
  stable release)
- rust compiler installation method (e.g. rustup, homebrew, source)
- the frontend you're using, if applicable
- the commit you're on, if building from source (`#3a2405b`)
- a full backtrace or erro

[2018-09-18 20:00] rubo77 opened #816 "Add a simple instruction how to download or install xi-editor"
It is not obvious fo a new visitor, how to install or download a pre compiled package for Windows, Linux or OSX

[2018-09-18 20:06] cmyr commented on #816
This is a fair point. We don't currently offer a pre-compiled binary because the editor is not very polished, and we do not want to provide the impression that it is ready to daily use. Making people jump through the hoops of getting it built serves as a minor but maybe useful barrier to entry. :)

[2018-09-18 20:06] #815 closed

[2018-09-18 20:15] rubo77 commented on #816
so we leave this open until tehere is the first polished version?

would be handy to be informed this way :)

[2018-09-18 20:31] cmyr commented on #816
@rubo77 that's a good question. There are various previous issues asking the same question (#7, e.g) , and in any case this is sort of a matter for the various front-ends, so your best bet would be to 'watch' the repo fro the frontend you're interested in. (the frontends are listed in the readme)

So I think I'd be inclined to close this issue?

[2018-09-21 02:30] #692 closed

[2018-09-21 03:06] cmyr commented on #810
fixed in #817

[2018-09-21 03:06] #810 closed

[2018-09-21 15:05] cmyr commented on #577
Local plugin support was removed earlier this year.

[2018-09-21 15:05] #577 closed

[2018-09-21 16:15] jansol commented on #514
The core RPC interface could be capnp while still allowing plugins to communicate via arbitrary JSON if need be. The lack of swift support is the bigger problem for now I think.

[2018-09-21 16:20] jansol commented on #197
How far does #613 fix this?

[2018-09-21 16:32] jansol commented on #196
Hmm, unsaved documents already work as expected in xi-mac. Do we want support for unsaved buffers that explicitly *don't* warn upon closing?

[2018-09-21 16:46] cmyr commented on #197
It definitely makes this feature easier to implement, but doesn't do any of the actual work.

[2018-09-21 16:50] cmyr commented on #196
Yea I don't think we need to do anything for scratch.

[2018-09-21 16:58] cmyr opened #824 "Add a pull request template"
This should just be a quick checklist asking people to run the check script, maybe mention that review could take a week etc?

[2018-09-22 00:29] ryanbloom opened #826 "Unify selection commands"
Originally discussed in #785.

It would be nice to refactor the selection commands so they're not tied to specific input methods. This would be a better way to separate concerns, and potentially make xi more adaptable to new modes of input. Here's another half-baked proposal, based on @nangtrongvuon's comment and some earlier discussion in #159:

[code]

I see two main downsides to this sort of ap

[2018-09-22 16:17] sjoshid commented on #772
@cmyr,
I have tried to implement this. Haven't done anything fancy like ∙, ⇥, ␍, and ␊ that you wanted. Let me know if you do.
Also I would like to mention I didnt mean to discredit @zettaittenani efforts to fix this. Im a Rust beginner and just wanted to know if my understanding of what you want is correct.

[2018-09-23 04:47] lifranc commented on #131
On the performance point; CPU isn't the bottleneck, memory is. Being able to access nested objects without parsing the entire message is a *huge* leap forward. Also, dont forget the most interesting feature: capabilities. Speed performance gains a lot, but it's actually the *least* interesting part of using those newer protocols (capnp in particular).

[2018-09-23 04:51] lifranc commented on #514
I'm really excited about this. I'm using capnp for our new project, and looking to replace kakoune (die shell die!). Has anyone taken a shot at this?

[2018-09-23 06:30] jansol commented on #514
Not that I know. You're welcome to be the first though! There is some unfinished and abandoned port of capnproto to swift, which you could use as a starting point... or you could try prototyping against a different frontend of course.

[2018-09-23 07:28] lifranc commented on #514
@jansol why do we care about swift?

[2018-09-23 10:01] SirWindfield commented on #514
I asked on Github about a week ago if capnproto has something like runtime loading of schema files: https://github.com/capnproto/capnproto/issues/740

I am not sure if this applies to xi-editor. As far as I remember, xi communicates over stdin/stdout so there is not really a server forwarding everything to a client. I am not sure if xi plugins can even create new JSON RPC messages and make other p

[2018-09-23 10:11] YangKeao commented on #655
I am working on this issue now. And my work is nearly a translation of [getOffsetForBackspaceKey](https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/text/method/BaseKeyListener.java#111) in BaseKeyListener.java .

The difficult part is some function such as `getCombiningClass`. I think an icu binding is too heavy for this project ([servo/rust-icu](https://github.c

[2018-09-23 11:42] jansol commented on #655
This should probably use `[unicode-segmentation](https://crates.io/crates/unicode-segmentation)`

[2018-09-23 14:11] raphlinus commented on #655
I suspect the data in unicode-segmentation isn't exactly what we need here, and it probably doesn't export it anyway. I'm fine with tablesm, and suggest they be optimized for size rather than space (as opposed to line breaking data, which needs to be fast). Of course, if unicode-segmentation does have the data, we should use it.

Thanks @YangKeao for taking this on!

[2018-09-23 18:18] cmyr commented on #514
IPC is really not a bottleneck for us at this point. We are definitely not committed to using JSON-RPC forever, and in general the particulars of IPC are pretty well separated from our business logic, so if we need to change to _something_ in the future we can. At the moment, however, this is **strongly** not a priority.

[2018-09-23 18:19] portstrom opened #832 "Deserializing ViewId can panic"
`ViewId` has a custom deserializer implementation that [panics when receiving a string that doesn't match the expected format](https://github.com/xi-editor/xi-editor/blob/master/rust/core-lib/src/tabs.rs#L856). Deserializers should never panic, but return an error. **Suggested solution:** Remove custom serializer and deseralizer, as they are pointless.

[2018-09-23 18:34] portstrom opened #833 "Deserializing “find next” command fails on empty parameters"
The parameters of the “find next” command are all specified as optional. When they are all omitted, however, a custom deserializer for `EditCommand` [removes the parameters](https://github.com/xi-editor/xi-editor/blob/06f05b4e1e769f58156d87bab2d2c42e4cf2467b/rust/core-lib/src/rpc.rs#L524), causing deserialization to fail. **Suggested solution:** Simplify the protocol so all custom serializers and

[2018-09-23 18:36] cmyr commented on #832
This is fair, the deserializer should return an error. For the second comment, I find the phrasing a little unhelpful; perhaps by "they are pointless", you've intended something like ["I do not see the point of them."](https://en.wikipedia.org/wiki/Wikipedia:Chesterton%27s_fence) ?

In any case sending malformed RPCs is currently not something we recover from; and view identifiers, (for the purpos

[2018-09-23 18:47] cmyr commented on #833
The RPC protocol predates our use of serde;  iirc the hack in question is what allows us to correctly deserialize `EditNotification` unit members. A rationalization of the protocol is definitely something we will want to consider at some point.

In the interim, the simplest solution may be to require any protocol method that takes params to have at least one non-optional param. An alternative solu

[2018-09-23 18:59] portstrom commented on #832
I prefer [Occam's razor](https://en.wikipedia.org/wiki/Occam%27s_razor) to Chesterton's fence. :wink: Anyway, I think it's the responsibility of anyone who makes the program more complex in a seemingly pointless way to document the motivation. Otherwise people will spend work patching the unnecessarily complex code instead of simplifying it, being afraid that anything that isn't already as simple

[2018-09-23 19:53] cmyr commented on #832
In terms of understanding project history: this is always a fine line. In this case I think that `git blame` does a reasonable job of explaining how we got to this point.

To skip ahead to the rationale: string identifiers on the wire make RPCs easier to debug, and allows us to more easily to visually distinguish a view identifier from a buffer or plugin identifier in logs.

Originally, these iden

[2018-09-24 16:57] euclio commented on #302
Something to consider as well is that many Xi RPCs don't quite map to vim behavior. For example, in implementing my own Xi frontend, I've found:

- Moving down on the last line in vim will keep the cursor in the same cell, while in Xi it will move to EOL.
- Moving right a word in vim will put the cursor on the first letter of the word. In Xi, it will move the cursor to the space in front of the wo

[2018-09-24 18:54] portstrom opened #834 "Send the position of all search matches to client"
I would like my client to display the position of all search matches in the scrollbar. Currently it seems like I can't, because Xi doesn't send the client any information about where the matches are. It only sends the number of matches and highlights those matches that are within the range of lines that are covered by the current scroll position. I would like Xi to send the client the line number

[2018-09-24 18:54] st-pasha commented on #159
There is one use case which appears to be in the middle ground between single and multiple cursors: the bidi cursor. "Bidi" means bidirectional, and it is used for dealing with right-to-left languages (such as arabic, hebrew, urdu, etc). With bidi cursor, there are 2 visible cursors on the screen, but when you enter a character, it will appear only at one of those cursors, depending on whether the

[2018-09-24 19:07] cmyr commented on #834
I think this is a reasonable feature request. sending line numbers should not be prohibitive, but we could have some maximum count we would return.

cc @scholtzan, you will have the best sense of this stuff..

[2018-09-24 19:12] scholtzan commented on #834
I like the idea and it sounds definitely doable. I guess it needs a bit of planning and enhancing `find_status`.

[2018-09-24 19:14] cmyr commented on #302
@euclio I'm leaning towards the second, but this will involve rewriting some stuff. For the first example, #826 is related; we can add 'movement units' that correspond to things like 'start of word' and 'end of word'.

The 'move to EOL on down in last line' feels like it's mostly a mac custom, maybe? I'm not totally sure how best to think about this, but I am thinking a lot about key bindings and

[2018-09-24 19:17] cmyr opened #835 "Add a blog/updates section to the website?"
It would be nice to have an easy way of sharing updates/announcements. We _could_ have an 'updates'  repo/folder or something, and just commit markdown there, but it might make more sense to have just do it on the website? cc @ArazAbishov, not sure if you have any interest in this?

[2018-09-24 19:38] creationix commented on #131
Flatbuffer also allows reading in place without parsing first.  And if you do want the msgpack route, CBOR has become a great option lately with it's standards track and clean design.

[2018-09-24 20:00] Qix- commented on #131
Reading in place without buffers just sounds like passing structs around with a type enum header, like the good old days of protocol design :) Also a viable option because pointer aliasing just works. That's the theoretically fastest way to pass data around.

[2018-09-24 21:14] cmyr opened #836 "log file path should be specified by client"
logging setup currently fails on macOS for release builds because the application cannot write new files inside its app bundle.

In any case, the expected location for logs is system dependent, and we should respect that. There may be a rust crate for finding log file paths, but we probably want the client to have ultimate control.

An alternative approach would be to build logging into the RPC pr

[2018-09-25 10:31] ArazAbishov commented on #835
Yep, I can take a look into this depending on how fast it needs to be done :)

[2018-09-25 16:00] cmyr commented on #835
no rush, but sometime in the next couple weeks would be nice?

[2018-09-25 19:43] #832 closed

[2018-09-25 19:59] cmyr commented on #826
The complexity issue is worth thinking about, but I'm not worried about it from a performance standpoint; these are still relatively small messages, and the added cost is going to be in the are of, at worst, handfuls of microseconds.

Uesless combinations: some of these will probably be unavoidable. However I can certainly imagine there being a difference between 'previous word' and 'beginning of

[2018-09-25 20:09] ArazAbishov commented on #835
Okay, I will try then :)

[2018-09-25 21:51] cmyr commented on #826
I wrote a bunch more stuff here but it got a little rambly, so I'll try and tease out the important bits:

`SelectionChange::Rectangle` feels out of place. I think 'rectangle select' is really just a type of drag behaviour;  I could imagine doing a 'rectangle select' with <kbd>cmd</kbd> and having the selected region added to the current selection.

_Dragging_, ultimately, is causing us a lot of a

[2018-09-25 22:51] scholtzan commented on #826
One thing that might be nice to have or at least could be kept in mind is dragging selected text around. It might be possible to achieve this by having a concept of "uncommited selections".

[2018-09-26 04:00] Kwarrtz commented on #424
What's the status of this now? I've heard that auto-indentation is close to landing. If so, which approach has been adopted?

[2018-09-26 20:43] #787 closed

[2018-09-27 14:49] cmyr commented on #424
I'll be writing more about this in the coming weeks. I have a mostly working implementation that's based on syntect metadata, but this has raised bigger questions about language support more generally, that I think requires some more bottom-up thinking.

[2018-09-27 16:29] bugabinga commented on #826
The biggest weakness in this design is the inflexibility of `Granularity` I think.

Let me explain this critique by showing 2 features of Eclipse, that I am used to.

## Smart caret positioning in Java names

The cursor is positioned on line 25 column 5.
The start of `assertThat`.

![smart_caret_1](https://user-images.githubusercontent.com/876467/46160347-c4514e80-c282-11e8-8e68-63c46060cd6f.PNG)

[2018-09-27 20:53] cmyr commented on #826
@bugabinga Excellent examples!

I wonder if this couldn't be addressed by having a new `Movement`, `Inside` (or something else, or maybe multiple, like also `Expand`) that could then be combined with either existing and new granularities such such as `Bracket` or `Scope`.  This is definitely something we would need to support vim-mode.

In the case of `Scope`, we would probably just reuse the scop

[2018-09-28 10:26] portstrom opened #843 "Undo history groups changes at inappropriate times"
When inserting or deleting multiple characters one after the other, the changes are grouped into a single entry in the undo history, so they can all be undone at once. That's normally a good thing, but when doing something else between the insertions, such as saving the file, or editing another file, the changes made after the interruption shouldn't be grouped with changes made before. Currently y

[2018-09-28 11:08] YangKeao commented on #776
@cmyr Why we don't use `std::sync::mpsc` directly?

[2018-09-28 15:37] cmyr commented on #843
Yes saving currently does not influence undo behaviour. I think it's reasonable that it would. I think there are a number of other possible improvements here; for instance, it might make sense to create a new undo group on a timeout, so that only related edits that happen within some time window are treated as a single undo group.

In any case, maybe it would make more sense to rename this issue,

[2018-09-28 15:39] cmyr commented on #776
my understanding is that crossbeam's `mpsc` has better performance characteristics.

[2018-09-28 15:47] cmyr commented on #772
fixed in #830

[2018-09-28 15:47] #772 closed

[2018-09-28 16:02] cmyr opened #844 "set up windows builds on Cirrus CI"
This should be relatively painless? https://cirrus-ci.org/guide/windows/

[2018-09-28 17:31] cmyr opened #845 "Update: on plugins so far, and some possible future directions"
# Plugins so far

Ahead of updating the roadmap, I wanted to share my current thoughts on the state of plugins in xi, and what I've been thinking might be some broad themes for plugin work going forward. We've learned a lot through the current implementation, and I think there are some opportunities to build on that in ways that let us focus on performance, flexibility, and ergonomics.

## the cur

[2018-09-28 18:29] YangKeao commented on #776
Wow, I have read some docs about `crossbeam-channel`. That's awesome!

[2018-09-28 18:33] cmyr commented on #776
Yea, it's a very cool project. :)

[2018-09-29 08:06] YangKeao commented on #776
Emmm, `xi-rpc` don't have enough tests. I deleted some parts of `next_read` function in `xi-rpc` and broke its function, but it passed all tests.

Before adequate tests added to it, I won't have enough confidence to rewrite this part. :cry:

[2018-09-29 15:50] cmyr commented on #776
:( that's annoying. For what it's worth, I think that this whole crate will need to be rewritten in the near future, so maybe this can just wait until that point.

[2018-09-29 20:35] ryanbloom commented on #826
Thanks for the feedback everyone! Here are my thoughts on things that have come up so far:

### `Movement::Expand`
This was definitely missing from my proposal; I've added it now.

### More granularity options
I'm on board with the "Bracketed region", "AST node", and "CamelCase word" options. They might not make it into the initial refactor, but we should plan a system that could accomodate them.

[2018-09-30 07:47] portstrom opened #848 "Feature to move to a historic line number"
The use case is an IDE that can edit files and can also run a compiler and display the output from the compiler. When clicking a line number in the compiler output, the IDE shows the corresponding file and places the caret at that line number, adjusting the line number for any modifications that have been made to the file after the compiler was run. GNU Emacs already does this. This should be poss

[2018-09-30 15:48] cmyr commented on #848
Something we would expect to support at some point in the future is the ability to display compiler output (warnings, errors) inline; some combination of error/warning marks in the gutter, and potentially annotations over the text itself, depending on what a given compiler provides. There's no API for this currently, but it's definitely in the queue. We also have a revision tracking system indepen

[2018-09-30 22:04] portstrom commented on #848
Displaying annotations based on compiler output directly in the file would be helpful in addition to the feature I described. These two features might overlap so much in implementation it may be good to implement them together.

[2018-10-01 13:47] nxnfufunezn commented on #775
Hey I would love to take this up.

[2018-10-01 15:05] SirWindfield commented on #845
I was going to post this on the old plugin issue but maybe it a really fits in better here.

Was there any reason, besides language agnostic , behind the decision to use stdin/stdout for communication? I was thinking about a real http server that actually handles requests coming in. Wouldn't that be basically the same? Maybe enabling devtools to Interop calls and showing them on a development web

[2018-10-01 15:20] cmyr commented on #775
@nxnfufunezn sounds good! there's also the related #624, if you get on a `Cow` roll. 😁

[2018-10-01 15:47] cmyr opened #852 "Add 'internal' submodule when supported by rustfmt"
#851 removes the `internal` submodule because it confuses rustfmt. The fix is on nightly, but not yet on stable; when it gets rolled we can put `internal` back.

[2018-10-01 16:08] jansol commented on #845
Considering that all the current plugins are already in Rust, I'd say it's not entirely unreasonable to only support plugin crates for a while. Later (once we have the API more or less figured out) on there could be a C FFI that wrangles the Arcs on top of the Rust API. (if those are still an issue at that point)

As for HTTP servers, there are some security concerns with that, so named pipes are

[2018-10-01 17:11] LiHRaM commented on #844
I'll take this one.

[2018-10-01 18:14] terhechte commented on #807
I'd like to give this a try. If I manage to implement this, then I'll also add support to Xi-Mac

[2018-10-01 19:05] martin-fink commented on #624
Hi,

since the last comment on this issue was in July, I decided that I'd look into that, if that's ok with you.

The following is the code I came up with, handling the cases if there is no returned element, only one returned element (which is the reason `Cow` should be used here) and if there is more than one returned element.

[code]

[2018-10-01 19:57] cmyr commented on #624
I think the approach is basically correct, I don't think `end` does quite what you want; iirc it refers to the end of the range to be sliced, and doesn't have anything to do with the number of chunks.

I would do something like,

[code]

You might be able to come up with something more elegant than this, just trying to give a general idea. 👍

[code]

[2018-10-01 20:17] cmyr commented on #826
### Granularity explosion

It's not hard to see this getting out of hand quickly. There are _some_ options i can imagine:
- **config** what counts as a 'word' could be a config option. I could imagine there being some individual preference here, and this is how some other editors (such as sublime) do it.
- **fine-grained plugin control** I could imagine at some point having a plugin extension poin

[2018-10-01 22:29] cmyr commented on #505
going to close this, we can revisit in the future if necessary. Thanks for the suggestion!

[2018-10-01 22:29] #505 closed

[2018-10-01 22:31] cmyr commented on #222
This is fixed in #785

[2018-10-01 22:31] #222 closed

[2018-10-02 00:29] raphlinus commented on #805
The existing behavior was a deliberate choice (mostly because I felt Sublime was a good model to follow), but if people have strong preferences I'm willing to change it.

[2018-10-02 15:16] Lacaranian commented on #197
I'll happily give this one a try!

[2018-10-02 15:51] cmyr commented on #197
@Lacaranian great! This is not a trivial issue, but very doable. The key to this is our concept of 'idle scheduling' essentially you can request that the runloop call you back at the next moment where there is no other active tasks.

The basic flow I imagine, then:

- open file, read an initial chunk, load it into a rope as we currently do
- as long as some part of the file is unread, stash our cu

[2018-10-02 16:37] cmyr opened #863 "core should send client a list of available languages on startup"
This will be the first step in letting clients manually specify or override the language for a file.

This involves adding a new core->client RPC, which will need to go in the documentation.

Implementation will be very similar to `available_themes`; indeed the language list is available in the `finish_init` fn in `tabs.rs`.

This should be sent as a list of 'LanguageId' `String`s.

[2018-10-02 16:56] mbStavola commented on #806
I'm interested in taking this on, but more for the "composing commands" portion rather than the command itself (seems weird to have a separate command when two other commands can do exactly that already). Is that something I can work on?

I figure we could do something like [vim's recording mode](http://vim.wikia.com/wiki/Recording_keys_for_repeated_jobs) to get the desired effect; have a command

[2018-10-02 17:19] cmyr opened #865 "Implement workspaces"
This is a medium-sized project for somebody, which will require a design document and discussion. I am happy to mentor somebody who is interested in taking this on.

Workspaces group a collection of open documents, and enable a variety of features:

- auto-save and session restoration: workspaces will passively track state, including window properties (probably an opaque blob of data updated as ne

[2018-10-02 17:42] cmyr commented on #806
Yea, so... there are a bunch of moving parts here, and you're welcome to investigate.

Currently, xi handles one command at a time. It makes sense to me that, at least for _edit_ commands, a client should be able to pass a sequence of them and get them applied together.

This has a number of implications:

currently, we render out changes after each command. This would need to change, in the 'batc

[2018-10-02 18:01] daubaris commented on #863
Would love to work on this :) any tips?

[2018-10-02 18:04] cmyr commented on #863
not much more than are in the original issue; take a look at how the `available_themes` RPC works, and maybe use that as a model? If you have any specific questions, you can ask them here or at irc.mozilla.org #xi. 😎

[2018-10-02 18:18] cmyr opened #866 "allow client to override a buffer's language"
This requires a new top-level RPC, which we might call `set_language`, which passes a `ViewId` and a `LanguageId`. When handling in `tabs.rs`, we'll need to call `config_manager.override_language(..)`.

I'm not sure if this is the approach we'll want to take long term, but I think it's a reasonable at this point and it isn't hard to change later.

Won't be useful until #863 is also finished, and s

[2018-10-02 19:46] unmellow commented on #439
since people aren't going to be hand editing the JSON
files would it make sense to use BSON instead
I'm no professional but I'm curious if there's any benefit
to using BSON in place of JSON

[2018-10-02 19:49] cmyr commented on #439
@unmellow to date, the RPC mechanism has not been a performance bottleneck for us, so we haven't spent too much time evaluating alternatives.

[2018-10-02 19:58] unmellow commented on #439
so you chose JSON because it's the first thing you thought of
and there's no problem in it worth fixing fair enough
(and sorry if I sound rude I really don't mean too)

[2018-10-02 20:06] cmyr commented on #833
@scholtzan not sure if you saw this?

[2018-10-02 20:11] cmyr commented on #439
@unmellow I mean more or less, except for the "first thing you thought of". JSON has the advantage that relatively high performance encoding/decoding is available on almost every platform, which is important when you want people to be able to write frontends.

In any case, here are some good issues for people to offer all of their opinions on transport protocols (these opinions will continue to be

[2018-10-02 20:18] unmellow commented on #439
yeah i know that part sounded rude but i couldn't think of a better way to say it and thanks for the links

[2018-10-02 21:53] lolgear commented on #816
@cmyr Please, do not close this issue. Better solution for this is header "This project in early stage. We do not offer simple installation instructions right now. Be patient and have fun with Rust :)" in Readme.

I think even first line would be great with Header1 style. ( # )

[2018-10-02 21:54] theptrk opened #867 "Deleting references to Google license"
The main `README.md` still refers to the Google license meaning Google ownership over this project. This news report `https://9to5google.com/2018/10/02/xi-code-editor-no-longer-google-project/` says that this project is now open source.

We should delete the references to the Google license on the main page so readers aren't driven away.

[2018-10-03 00:03] cmyr commented on #867
The project has always been open source, but yes contributors are no longer expected to sign the Google CLA. This change would be welcome. Thanks for the issue!

[2018-10-03 01:17] jansol commented on #867
I've actually been meaning to do this. Will get to it later today unless someone beats me to it.

[2018-10-03 03:59] unmellow commented on #867
i made that change but it won't let me push so here https://mega.nz/#!Bo5lyK6R!U2WQqR_pb0OABXiUVy_HvWMCszrRcAT-58EAgkt_0ZA

[2018-10-03 06:29] lencx opened #871 "build error: [E0599]: no method named `slice_to_string`"
OS: macOS 10.14
Version: rustc 1.29.1

run:
[code]
output:
[code]

Then I try to change `slice_to_string` to `slice_to_cow`, build success.

[2018-10-03 06:53] jansol commented on #816
Does #872 address this sufficiently?

[2018-10-03 07:35] mrjano commented on #871
I'm having the same issue
OS: macOS 10.13.6
Version: rustc 1.29.1

[2018-10-03 07:36] portstrom opened #874 "Commands to treat underscores as word boundary"
Emacs treats underscores as word boundaries when moving or deleting one word forwards or backwards. Atom can optionally treat underscores as a word boundary by holding either Alt or Ctrl. Xi currently never treats underscores as a word boundary. I think it would make sense for Xi to do like Atom and offer both variants, and the frontend can decide which one to use. Personally I would always have i

[2018-10-03 07:49] portstrom commented on #865
Be careful. Some editors that have workspaces make it really inconvenient to edit a file that is not part of a workspace. That's one big reason I switched back from Atom to Emacs, just so I don't have to bother with workspaces.

[2018-10-03 09:54] lolgear commented on #816
@jansol Yes and no. It doesn't contain "This project in early stage. We do not offer simple installation instructions right now. Be patient and have fun with Rust".
These words are necessary in the top of Readme.
Maybe in top of Readme of both core and front-end repositories.

[2018-10-03 14:00] #871 closed

[2018-10-03 15:17] cmyr commented on #874
Yea, more granularity in movement commands is something currently being discussed in #826.

I could definitely imagine a 'big word'/'small word' distinction, that would account for underscores, camelcase, brackets, etc; 'big word' would just look for the next space. Sublime has a reasonable approach to this, where the set of 'word dividing characters' is a per-language setting.

[2018-10-03 15:17] daubaris commented on #863
Hi again, I've made some progress with this issue, but I've found myself cornered with language_list.

As you've mentioned implementation should be very similar to `available_themes` fn.
So basically it should look like this:

[code]

Or should I pass a `Vec<LanguageId>`?

Also while looking into tabs.rs `finish_init` function I cant seem to find mentioned language list, because it's executed in t

[2018-10-03 15:19] cmyr commented on #865
Agree, workspaces should be a mostly transparent concept in the general case.

[2018-10-03 15:27] cmyr commented on #863
yea, so you can send `LanguageId`s, which are just strings. You may need to add `#[derive(Serialize)]` to `LanguageId`.

The fn in `tabs.rs` is actually called `finish_setup`.

[2018-10-03 15:37] jansol commented on #865
I think the issue is that all the workspace stuff (sidebar etc) should probably be disabled for "I just quickly want to fix up one line here" -like usecases. Also for use as Git's $EDITOR

[2018-10-03 15:43] terhechte commented on #807
I've added an implementation here: https://github.com/xi-editor/xi-editor/pull/877

[2018-10-03 17:15] #867 closed

[2018-10-03 20:49] mrandri19 commented on #866
I've started working on it

[2018-10-03 22:20] #866 closed

[2018-10-04 02:30] cmyr opened #883 "Followup work for improving themes"
Earlier this summer, thanks to some great work by @virattara, we quietly gained support for custom themes, in #675; however we have not really taken advantage of this work much, and there are some clear ways we can do so. This issue is a poorly structured braindump of some theming related things I've been thinking about. At some point maybe it should be broken into separate issues.

### fewer and

[2018-10-04 09:45] xeoneux commented on #51
I love the hexagon icon by @rkusa

[2018-10-04 14:58] 06kellyjac commented on #836
Looking into it 🙂

[2018-10-04 15:11] #863 closed

[2018-10-04 15:15] cmyr commented on #836
@06kellyjac great! I _think_ the way that we will want to do this is by passing an argument to xi-core at exec time; we need to know the log path in `rust/src/main.rs`, so it can't happen later like with config paths.

We'd want this argument to be optional, so that clients that don't specify a log path still work fine. I'd also suggest just handling arg parsing manually for now, it's probably not

[2018-10-04 18:32] 06kellyjac commented on #836
@cmyr I did a bit of digging before seeing your message so I went on a different route 😅. I found a crate that gets OS standard paths that can be the defaults (and I played around with it a bit); in this case for logs we'd want `XDG_DATA_DIRS` and other OS equivalents.

Technically there are two I looked at:

- <https://crates.io/crates/dirs>
- <https://crates.io/crates/directories>

They're both

[2018-10-04 20:08] akxcv commented on #865
Hello. I would _love_ to help with this. Do you think I could work on this feature considering I'm not very experienced at Rust (advanced beginner maybe)? I do understand that this feature is far from simple.

[2018-10-04 20:16] jansol commented on #865
Hello and welcome! The real challenge of this issue is in the design part, hence requirement of a design document. The actual implementation should be doable with a relatively basic understanding of Rust. And the solution does not have to be perfect/particularly elegant at first -- that can be fixed during PR review.

[2018-10-04 20:32] cmyr commented on #836
@06kellyjac I think we just one a single directory, and we'll put all log files there. `--log-dir` works. the `dirs` crate looks nice and light weight, so I'd go with that.

So: sounds good, basically!

the reason we want to pass in the logs dir is because xi-mac will want to use the log path associated with the main app bundle, at `Library/Logs/XiEditor`.

[2018-10-04 23:45] 06kellyjac commented on #836
One PR ready for review/merge. Still WIP though; going to do the other parts in 2 more steps:

* [ ] Accept argument override `--log-dir` for `xi-core.log`
* [ ] Share new functionality with `xi-lsp-plugin.log`

[2018-10-05 03:12] #411 closed

[2018-10-05 03:15] #824 closed

[2018-10-05 06:51] akxcv commented on #865
What's the best way to share and discuss a design document? Should we just use this issue for that or is it preferable to create a PR linked here?

[2018-10-05 07:04] LiHRaM commented on #865
Using this issue is fine AFAIK - we tend to do the same on other issues, at least.

[2018-10-05 14:40] cmyr commented on #865
@akxcv we don't have great processes in place for this right now, but my rough suggestion:

- use this thread to sort of hash out general ideas
- once you have a better sense of what the actual work will be, open a new issue that offers an overview of the design you're thinking of, and describes (roughly) the steps you expect to take to get there. For an example, maybe look at something like https

[2018-10-05 14:46] jansol commented on #865
(or, if that's more up your alley, a pull request -- we are not too picky about the distinction for now)

[2018-10-05 16:45] akxcv commented on #865
Okay, so what are the main questions right now that we need to answer?

I've come up with these so far (this is not very structured for now):

### **Q:** What data belongs to a workspace and how to structure it?
**A:** We could differentiate between two types of workspace data:
- Workspace config (`$CONFIG_PATH/workspaces.xiconfig`) where the user can specify workspace name, path, and editor confi

[2018-10-05 17:57] mwilliammyers commented on #743
Tree sitter now has official [rust bindings](https://github.com/tree-sitter/rust-tree-sitter).

[2018-10-05 19:32] LiHRaM commented on #865
Great input!

I've been really frustrated with how most editors handle language-based project files (think Rust `.toml` files, C# `.sln` or `.csproj` files, etc.) - I think we should provide some way for Xi-Editor to just open these files as workspaces. The implementation of the different types of files should be provided by plugins, but they should be able to use API exposed by the workspace impl

[2018-10-05 21:18] akxcv commented on #865
Personally, I've always preferred to just open directories, not project files, it just feels more intuitive. But yes, it makes sense to also support project files, although it might get tricky in particular multi-language setups. There's also a problem (in VScode at least) when dealing with a monorepo where Rust integration doesn't properly work if `Cargo.toml` is not in the root of the workspace

[2018-10-05 21:40] 06kellyjac opened #889 "Small fix to `README.md` to link correctly to the new location of `CONTRIBUTING.md`"
# Xi-Editor Issue Template
- [ N/A ] I have searched existing issues and could not find my issue.
- [ N/A ] I have studied the documentation.

## Details

`README.md`s link to `CONTRIBUTING.md` leads to a 404 error page since it was moved in `84d311a`

## Expected vs Actual

Expected: Markdown file, Actual: 404 page 😢

[2018-10-05 21:46] 06kellyjac commented on #889
PR opened: #890

[2018-10-05 23:56] #889 closed

[2018-10-06 02:17] cmyr commented on #743
we definitely wouldn't put tree-sitter in core, but I could very easily imagine using tree-sitter as an alternative to syntect. It's other features are also interesting; it's sort of sitting between just being a syntax highlighter and being something closer to a language server. Would be curious to see some performance details. :)

[2018-10-06 14:30] terhechte commented on #826
Wouldn't it make sense to optionally also take the selected language into account? I.e. have the config depend on the language, with an additional option to change it manually? In Clojure, for example, the "-" is a really bad word boundary (i.e. `(bit-shift-right 1)` `(take-nth 2 (range 10))`.

[2018-10-06 17:16] theptrk commented on #867
Thanks!

[2018-10-06 17:53] Lacaranian commented on #197
That's very helpful, thanks! Some thoughts (partly for my reference)

Considering the angles of attack, it seems like the obvious starting point is core-lib's file.rs, in the `try_load_file` function; instead of doing a `read_to_end` there, a plain `read` with a fixed chunk sized buffer (currently trying out an 4096 byte array), and as a result either returning either a fully loaded file for files

[2018-10-06 18:15] cmyr opened #891 "Have plugins use core-determined language identifiers"
Our use of the syntect plugin for syntax highlighting predates the existence of language identifiers in core. The syntect plugin current determines the syntax to use based on the path of the file, and updates it when the file has changed.

This is now redundant. Instead, the language identifier that is assigned in core (which may be guesed from the filename or the file's first line, or may be over

[2018-10-06 18:34] #807 closed

[2018-10-06 19:18] cmyr commented on #197
- `file.rs` is definitely the right place to start.
- invalid `utf-8` is definitely a reasonable concern, and your approach is sane. I think that `valid_up_to` is probably overkill; we can tell from the last byte itself whether it is a continuation byte, and if so we can just walk backwards find the previous char boundary. I just peaked at the stdlib's check in `String::is_char_boundary`, and it d

[2018-10-06 20:14] cmyr commented on #197
raph brings up a good point on IRC, which is that we'll also want to think about what 'save' means when a buffer is partially opened. We certainly don't want to save partially loaded documents.

[2018-10-07 23:35] timpbrenner commented on #328
I would like to take a swing at this. I think I have a handle on the source enough to try to make my first contribution.

[2018-10-08 18:59] dirkson opened #897 "Persistent Undo"
Vim has a feature that is calls 'persistent undo'. This feature allows you to save the undo state between runs of the program, such that you can press 'undo' on a newly opened file and undo the last edit done to it. This feature allows effortless rollbacks of any text-editor change to any file, which is so ridiculously useful from a user perspective that I can't imagine switching to an editor that

[2018-10-09 14:57] cmyr opened #898 "update to syntect 3.0"
There's a new release of [syntect](https://github.com/trishume/syntect/releases) which includes some breaking changes. We include syntect both in core (for theme handling) and as the basis of the syntect plugin, which provides syntax highlighting.

We should update both of these projects to use this new release.

[2018-10-09 18:55] pduzinki commented on #898
I can work on this one.

[2018-10-09 22:10] akxcv commented on #865
So I think we need to come up with something as simple as possible for the initial implementation.

Let's implement implicit workspaces only. No names or configs.

### Workspace metadata

- A list of states for each open file (cursor position, language, tab size, etc).
- A file tree of workspace directory.

*This needs to be described in detail.*

Metadata gets updated on text edit operations, fil

[2018-10-09 23:13] cmyr opened #900 "Only check whitespace when opening an existing file"
Currently, we check a file's whitespace when creating a new empty buffer, which will be a noop but causes spurious warnings in the  view. Instead we should only check whitespace when opening an existing buffer.

This should be a quick fix for someone; a good place to start is by searching for the text, "set_user_config failed to update config, no tables were returned" in `core-lib/src/tabs.rs`.

[2018-10-10 00:55] #891 closed

[2018-10-10 01:49] Lacaranian commented on #197
I've put together the first part of this (the chunked loads with split UTF-8 character handling) on branch with Lacaranian/xi-editor@706985ab5, though it is most certainly not done yet due to no addition of the idle task to complete loading more chunks.

I've also been reading up on all the things involved, and it seems like simply calling `Engine::edit_rev` with a priority of 0, an undo_group of

[2018-10-10 01:56] cmyr commented on #197
@Lacaranian feel free to open a WIP PR here, if you'd like interim feedback.

From a quick scan your overview sounds right. An interesting way to test this would be to sleep for a few seconds between loads, and make some edits between loads, and see how that's handled; we could also do something like this with quickcheck if we wanted to get Serious. In the back of my head I do think there might be

[2018-10-10 08:29] akxcv commented on #865
Not sure about separating the two issues quite yet, I think we need to come up with a plan first.

My thinking is that we should treat everything as a workspace. If a single file is opened, it's in a workspace. If a directory is opened, it's also in a workspace. When we just open xi-editor, there's an empty workspace with a single empty view. I think that this way our model will be much clearer th

[2018-10-10 09:06] portstrom commented on #865
Trying to understand what you mean with workspaces and why the Xi core should even have them is very confusing. From this thread I can make a lot of interpretations. For example according to one post, workspaces are a way to write INI files to tell Xi the tab size for use in Rust files, something no one would ever need to do. I wonder if there's an actual use case or if people are just trying to d

[2018-10-10 11:05] akxcv commented on #865
We're exploring here, so it's only natural to see conflicting suggestions in this thread.

Maybe you are right about the core not knowing anything about workspaces, but who should be responsible for watching the workspace directory, for example? Like when a `git pull` happens and new files are added. Imagine also that files might be on a different machine than the one the frontend is running on...

[2018-10-10 18:28] timpbrenner commented on #328
I just created the PR: https://github.com/xi-editor/xi-editor/pull/906 I look forward to feedback.

[2018-10-11 05:35] aavina commented on #813
Put up a PR as a proposal for this. Let me know what you think!

[2018-10-11 10:10] jansol commented on #865
I view "workspaces" as an amalgamation of "projects" and "groups". Because of that I really like the tag-based approach suggested in #374. That way we could group files opened together, by opening a directory or via the file browser sidebar, while not assigning a "workspace" tag to files opened by themselves. Additionally there could be plugins that find and parse project files for $toolset and ta

[2018-10-11 10:53] jansol commented on #865
Regarding earlier discussion in this thread:

A global list of all workspaces will grow boundlessly for no good reason. If xi wanted to be an IDE with full-blown multi-project management and "recent projects" (á la xcode's launch window) then this might make sense, but for "just" a text editor it IMHO doesn't. There may also be privacy arguments if you e.g. open a confidential remote project on a

[2018-10-11 12:47] akxcv commented on #865
Yeah, it's clear to me now that this is currently out of scope for now.

Yeah, I agree. Watching files could be a responsibility of a plugin; the core probably shouldn't concern itself with that.

[2018-10-11 14:27] #813 closed

[2018-10-11 15:40] #833 closed

[2018-10-11 16:00] #696 closed

[2018-10-11 20:48] cmyr opened #913 "State restoration"
Breaking this out from #865.

State restoration has two goals: preventing data loss and allowing the user to quit and reopen their client without losing their open documents and window positions, etc.

This is not a small feature! Off the top of my head it requires:

- [ ] keeping track of the _absolute_ delta between the current buffer state and the last saved state, for each open buffer; this is

[2018-10-11 21:08] raphlinus opened #914 "Remove Interval data structure"
The xi-editor codebase is complex. Some of the complexity is in service of important goals, for example the asynchronous design is in service of greater responsiveness and not blocking user input. Other sources of complexity are not pulling their weight. I think the best example of that is the `Interval` datatype. This issue contains a plan to remove it.

## Original motivation

The notion of "int

[2018-10-11 22:00] akxcv commented on #913
It would be nice not to bother with session restoration if Xi is opened by double-clicking a file, for instance. In case the user just runs Xi itself, we probably want to try to restore the last session. Requesting last session data explicitly will also allow us to put this behind a menu, for example.

I imagine the following scenario for how the session is restored:

1. The client explicitly asks

[2018-10-12 14:29] cmyr commented on #913
Okay, so there are at least two initial cases to think about; _crashes_ and _normal use_.

For normal use, I could imagine the client sending a `quit` RPC, (probably blocking) and receiving some message in response that could contain a _session token_ that client can then pass to core on the next launch. Core will bundle up the current state and save it somewhere, associated with this token. (mayb

[2018-10-12 14:38] cmyr opened #918 "Atomic save"
Inspired by #913, here's another 'don't lose user data' feature:

Currently, we save files in place. This is potentially dangerous; if there is a panic or a power failure while we're overwriting a file, we risk destroying user data.

What most editors do is to write the file first to a temporary path, and then move this file to the final path with `mv` or similar. You could also copy the original

[2018-10-13 04:09] crazycoder997 commented on #806
We do have the ability to transpose selection regions. One way we could think of transposing words is as a composition of the operations, 'select words' and 'transpose'.

That is: do we want to start thinking about every capability as an individual command, or do we want to create a vocabulary of command actions from which various capabilities can be composed?

To really reach the flexibility of a

[2018-10-13 05:51] aeosynth commented on #806
just chiming in to say that while emacs has commands to transpose two regions, kakoune has commands to rotate any number of regions; a transpose can be seen as a two region rotation. does the xi transpose command already - or can it be extended to - work on multiple regions?

see [ROTATING](https://github.com/mawww/kakoune/blob/master/contrib/TRAMPOLINE) in the kakoune intro

[2018-10-13 15:51] cmyr commented on #806
Our transpose as currently written will rotate any number of selected regions.

[2018-10-13 21:32] #748 closed

[2018-10-14 15:08] Aniq55 opened #921 "Word Count Plugin"
## Details
Feature request
- a plugin to count the words
- the feature can be combined with counting characters
- As a next step, only the highlighted text should be processed for the word count

[2018-10-14 16:04] cmyr commented on #921
A basic version of this is definitely possible right now if someone wanted to play around with it?

[2018-10-14 16:10] Aniq55 commented on #921
@cmyr I'm a beginner in RUST. If possible, could you please point me to the source file of any similar plugin, which I can study and understand to build on this feature?

[2018-10-14 16:12] cmyr commented on #921
@Aniq55 there's a `sample-plugin` project in this repo (`./rust/sample-plugin`) that should help!

[2018-10-14 21:35] sjoshid opened #922 "tail toggle?"
Often times I have felt the need to tail a file for some time and then stop and start again. Would it be possible for Xi core to support tailing a file on demand? Of course there are other ways to do this, like open a terminal within the editor and tail from there. But Im thinking of a tail mode in Xi which can be turned on/off.

[2018-10-15 02:07] cmyr commented on #922
This is actually something we've discussed; a very good use case for xi right now would be as a log viewer, and reading long log files is a good stress test.

[2018-10-15 03:28] jansol commented on #922
How far does our autoreload get us here? I imagine it'd work fine (minus staying scrolled to the bottom) until the file starts taking noticeable time to read.

[2018-10-15 03:31] cmyr commented on #922
Yea, our autoreload is doing a whole-file read, so it wouldn't be great in the huge-log case, but it's a reasonable place to start.

I could imagine a 'log mode', which would automatically adjust the scroll as new content arrived, but would disable itself if the user manually scrolled elsewhere (and re-enable itself if the user manually scrolled back to the bottom of the buffer?)

[2018-10-15 06:07] mrandri19 opened #923 "Add documentation for `measure_widths` rpc method"

[2018-10-15 12:06] sidsrvstv commented on #805
Are there any issues I can help out with?

[2018-10-15 15:12] cmyr commented on #923
Yep this should be added to `docs/docs/frontend-protocol.md`.

[2018-10-15 15:21] cmyr commented on #836
fixed in #888, thanks @06kellyjac!

[2018-10-15 15:21] #836 closed

[2018-10-15 17:02] cmyr opened #925 "Fix experimental/lang plugin"
There's a broken plugin sitting in /experimental/lang that it would be nice to try and get working again; it's a proof of concept for a high-performance parsing plugin that can be used as an alternative to syntect.

This was moved into experimental because it was annoying always trying to keep it updated while doing a bunch of refactoring on the plugin library, but as that has momentarily stabiliz

[2018-10-16 17:31] jansol commented on #865
Closing this as per roadmap discussion on IRC. TL;DR: The concept of "workspaces" is too hazy at the moment and it is possible to get a decent experience (including things like LSP) without really defining it, so let's do that first and then think again if workspaces still feel necessary.

[2018-10-16 17:31] #865 closed

[2018-10-16 23:42] sjoshid commented on #922
@cmyr Log mode behavior you are talking about is exactly what I had in mind.
I would like to give this a shot.

[2018-10-17 02:14] cmyr commented on #922
@sjoshid cool, feel free to ask questions here as they arise. 👍

[2018-10-17 14:52] cmyr opened #932 "Undo should restore selection (view?) state"
Currently, undo only effects the contents of the buffer. Ideally, undo should also restore selections to their state before the action to be undone.

We might also want to restore the viewport.

I'm not totally sure exactly how this should work, but my best guess is that every time a new undo group is created, we either query the view for state and associate it with a given revision in the engine,

[2018-10-17 14:53] cmyr commented on #932
oops this is a dupe of #765

[2018-10-17 14:53] #932 closed

[2018-10-17 14:58] cmyr commented on #639
fixed a while ago

[2018-10-17 14:58] #639 closed

[2018-10-17 15:00] cmyr commented on #558
Closing this, although certain things (the RPC refactor, plugin lifespan) remain unresolved.

[2018-10-17 15:00] #558 closed

[2018-10-17 15:02] cmyr commented on #206
this is now in the readme.

[2018-10-17 15:02] #206 closed

[2018-10-17 15:03] #170 closed

[2018-10-17 15:06] cmyr commented on #584
Fixed at some point, will reopen when I inevitably break this again 😕

[2018-10-17 15:06] #584 closed

[2018-10-17 17:44] unmellow commented on #845
ipfs or dat then? this might be stupid and I have no good reason to suggest them

[2018-10-17 18:02] cmyr opened #933 "Implement edit priority"
In certain instances, when applying a delta at a cursor location, the updated cursor location should _precede_ the inserted text. For instance, if the cursor is at EOL and the user types an open paren, a plugin should be able to insert a closing paren at the cursor location without it appearing _before_ the cursor.

I'm not sure what the actual implementation details of this are; @raphlinus will p

[2018-10-17 18:06] unmellow commented on #514
i found this article witch makes some interesting arguments on switching to a [binary format](https://www.theserverside.com/news/450413317/Pass-on-the-JSON-and-choose-binary-encoding-formats-instead)

[2018-10-17 18:08] jansol commented on #845
They are not really applicable to this.

Admittedly 'HTTP servers' is misleading, it's a problem with network sockets in general (both TCP and UDP).

[2018-10-17 18:35] SirWindfield commented on #845
Mind explaining why this would be a security concern? It doesn't sound any different from mpd which uses TCP for its communication iirc. And it seems to be used a lot.

As long as there's a predefined API that plugins use, malicious actions shouldn't be possible at all.

[2018-10-17 19:04] jansol commented on #845
Insofar as I'm aware MPD is not exactly known as the pinnacle of secure software.
Depends on what you consider "malicious actions" I guess. Remember, *any* process can connect to a TCP socket -- the best you can do wrt access control is limiting connections to localhost, which is still quite a lot of processes. And in this case they'd get fed essentially everything you type in any file in the edit

[2018-10-17 19:46] Gltv opened #934 "Teste"
# Xi-Editor Issue Template
- [ ] I have searched existing issues and could not find my issue.
- [ ] I have studied the documentation.

## Details

_If your issue is a build or runtime error, please include the following:_
- OS / platform (e.g. macOS 10.13.2)
- rust compiler version (`rustc --version`) (we test against the latest
  stable release)
- rust compiler installation method (e.g. rustup, h

[2018-10-17 19:47] cmyr commented on #934
test confirmed!

[2018-10-17 19:47] #934 closed

[2018-10-17 21:12] SirWindfield commented on #845
Ah I see. Makes sense now. But wouldn't keys just switch the attack point? Hiding the malicious code within a plugin would basically be the exact same outcome.

[2018-10-17 22:02] cmyr opened #937 "Roadmap (October 2018)"
The principal focus of the next batch of work is turning xi-mac into a viable (albeit _minimal_) editor for daily use. To that end, the following is what I anticipate working on for the next 3-6 months:

## Major Goals
### Width measurement and word wrap (overview/tracking at #565):
- [ ] remove Interval (#914): Not _directly_ related to width measurement, but it probably isn't worth doing word wr

[2018-10-18 01:31] mbStavola commented on #918
I'd like to take this!

[2018-10-18 01:40] cmyr commented on #918
@mbStavola sounds good! I was talking to someone on IRC the other day who had expressed interest in this issue, so I'll try and check in with them and see how concrete that interest was; you should feel free to start figuring out the approach you'd take and if they get back to me with strong feelings I'll let you know. 😎

[2018-10-18 06:29] jansol commented on #845
If the core generates the keys for each plugin when it spawns them it should be quite difficult for an external process to connect. No need to sign the plugins themselves, they just receive a key or unique shared secret when they are launched. A unix socket/named pipe would avoid the need for this to some extent overhead as it can have an unpredictable name + at least the unix socket can have simi

[2018-10-18 07:29] nangtrongvuon commented on #933
I'm interested in working on this, since it'll solve #849 nicely. I'll appreciate all the help I can get from @raphlinus!

[2018-10-18 12:05] Aniq55 commented on #921
@cmyr thanks (:

[2018-10-19 01:33] raphlinus commented on #933
Here are my thoughts. It turned out to be quite a document :)

## Overview

The "priority" mechanism is required for correctness when using a CRDT-style mechanism for edits. Essentially, when there are two concurrent insertions at the same location, priority breaks the tie. This idea of priority for tiebreaking dates back to early Operational Transformation Literature (see section "an unsolved dOP

[2018-10-19 02:54] nangtrongvuon commented on #933
@raphlinus That was a very informative (and quite easy, for me at least, to follow) post!

I'm going to base what I'm about to write on my little experience trying to implement a line move while working with the existing implementation of priorities. I think I agree with you that sending multiple edit RPCs with the same base rev would make the most sense, since it'd tie nicely to an undo for that

[2018-10-19 03:42] raphlinus commented on #933
Just a few quick thoughts while this is fresh in my mind.

Moving lines up and down is _very_ much like transpose. I think in this scheme, "move line up" is best implemented as deleting the line above, and inserting it at the caret with priority "after caret." I believe that would also work in the case where the selection is a block of lines - it would leave the selection untouched. So it sounds l

[2018-10-21 09:03] V1shvesh commented on #765
@afgomez Can I please work upon this issue?

[2018-10-21 09:08] jansol commented on #765
@V1shvesh OP has not made any indication that they are interested in fixing the issue so I'd say it is quite safe for you to work on it.

[2018-10-21 10:31] V1shvesh commented on #765
Hey @jansol, I just realized this issue is for Mac only.

Since I don't own one, I believe I can't help out.

Sorry for the trouble.

[2018-10-21 10:37] jansol commented on #765
@V1shvesh AFAIK cursor position is still handled by core so you should be able to reproduce (and fix) this issue with any other frontend. If you have a linux box around you might want to see if it happens in gxi.

[2018-10-21 10:39] V1shvesh commented on #765
@jansol Oh cool. I'll look into it.

[2018-10-22 18:09] V1shvesh commented on #765
@jansol I've reproduced the issue on my machine.

Will start working upon soon.

[2018-10-23 14:58] cmyr commented on #643
@scholtzan If you think it fits here well then that's fine, but if you think it makes more sense as a stand-alone issue that's good too! So, uh, sorry, no help. 😎

[2018-10-23 16:12] scholtzan commented on #643
As has been discussed before (https://github.com/xi-editor/xi-editor/issues/650, https://github.com/xi-editor/xi-editor/issues/643), it would instead be better to resolve all styles in the core. For this, the `update` protocol needs to be changed. Additionally, styles need to support focused and non-focused states, since, for example, selections are styled differently depending on whether the curr

[2018-10-24 17:18] cmyr commented on #914
Playing around more with this,  I think it makes sense to leave the (newly simplified) interval type in place, for the following reasons:

- we can't impl Debug/Display on `Range<usize>`
- `Range<usize>` isn't `Copy`
- we can't have a fn `is_empty` in a trait, without getting a warning, because it may be added to the stdlib at some point;
- By implementing `From<Range<usize>> for Interval`, `From<

[2018-10-25 01:38] #898 closed

[2018-10-25 16:47] scholtzan commented on #834
Added in https://github.com/xi-editor/xi-editor/pull/928

[2018-10-25 16:47] #834 closed

[2018-10-26 03:55] cmyr commented on #914
resolved in #941

[2018-10-26 03:55] #914 closed

[2018-10-26 14:14] cmyr opened #946 "improve memory efficiency of rope diffing"
#802 introduced the ability to compute efficient deltas between arbitrary ropes, but there's one pretty glaring TODO: currently we have allocate a new string for the contents of the target buffer, which we use to build a hashmap. This is just laziness; there are work arounds but they're a bit fiddly and I didn't get around to it.

Two options seem reasonable, to me. Raph suggests,

Alternatively,

[2018-10-26 18:56] lord commented on #647
I might try to take a stab at this!

[2018-10-26 21:10] lord commented on #647
A couple open design questions I'm thinking about:

Are there use cases for the list of autopairing characters to be different from bracket matching? In TextMate, [they are the same](https://macromates.com/manual/en/preferences_items#paired-characters), and in some aspects I think of them as the same feature, but also maybe there are reasons to keep them separate that I'm not thinking of.

Beyond

[2018-10-26 21:59] cmyr commented on #647
VSCode does something similar to this, so I might take a look [at that](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributeslanguages).

For the second bit: I think these are separate features.  What I'm thinking of right now is what VSCode calls `surroundingPairs`; that is, characters that will surround a selection when the leading character is typed.

For `autoclosingPai

[2018-10-27 18:37] #900 closed

[2018-10-27 22:31] cmyr opened #955 "Move word_boundaries into Rope crate?"
This is currently in `core-lib` and feels out of place. @raphlinus?

[2018-10-28 02:02] scholtzan commented on #643
Based on the discussions on IRC, to improve efficiency the protocol can be changed to the following:

[code]

The client would handle the active/inactive selection rendering so that `def_style` does not need to be changed.

I have also thought a bit about how we should handle invalidation but do not have a final answer to that yet. It would probably make sense to avoid sending all selections and f

[2018-10-28 06:03] mbStavola commented on #918
Awesome, I'll definitely drop by the IRC at some point. Never used zulip before, but it looks pretty sweet!

[2018-10-28 20:16] scholtzan commented on #883
Another thing I was looking into related to this:

### Customize themes for Xi

Currently, we are using [syntect](https://github.com/trishume/syntect) for parsing `.tmTheme` files. These files do not support theming of xi-specific features (like multiple find results, find indicators in the scroll bar, ...). Simply adding more attributes to the `.tmTheme` files is not possible, because [syntect is

[2018-10-29 14:56] cmyr commented on #883
My thinking: `.tmTheme` files do two things, they provide the colours for syntax highlighting and they also provide colors for UI elements. I think we can separate these, so that we still use `.tmTheme` files for the syntax colors but we use some custom format for the other stuff. (This is what VSCode does, I believe)

[2018-10-29 16:09] scholtzan commented on #883
Looks like VSCode generates theme files from `.tmTheme` files which then still include both UI and syntax coloring. Though it also allows overwriting colors in the preference file (which is neat).
But I guess having a separate file that overwrites/extends the UI coloring could be one way to go. It would be tempting to use a `.json` file for this (easier to write, parse, ...), but then it feels a b

[2018-10-29 16:56] jansol commented on #883
Seems like we should just go for a custom theme format. Using `.tmTheme` files as a starting point certainly has some merit so maybe allow *importing* them, automatically generate the rest of the colors from that and save in our custom format. Needs some documenting though, or it is bound to trip people up. (Or we could try setting missing colors to something like 0xFFFF00 and hope it annoys peopl

[2018-10-29 18:14] cmyr commented on #883
@scholtzan so VSCode doesn't use `.tmTheme` at all? I haven't really looked into it too much. Because we're using syntect, we have probably do need to keep using `.tmTheme`. Although if we wanted to do more work, we could look into that?

If you look at `styles.rs`, you'll see the types from syntect that we currently rely on. The important one is `Highlighter`, I think. If you dig into the syntect

[2018-10-29 18:36] scholtzan commented on #883
I am also not very familiar with VSCode. Looking at the [documentation for adding new themes](https://code.visualstudio.com/docs/extensions/themes-snippets-colorizers#_create-a-new-color-theme) it seems that it is also possible to reference/import to TextMate themes inside of VSCode specific theme files (`"tokenColors": "./Diner.tmTheme"`).

[2018-10-29 21:58] cmyr opened #961 "Add zulip info to readme / contributing.md, tell everyone to join zulip"
We're testing out using zulip for discussion and coordinate; signup is open to anyone with a github account at https://xi.zulipchat.com.

[2018-10-29 22:58] cmyr opened #962 "Crash on transpose at EOF"
On xi-mac:

- create a new document, with the contents `word\n`.
- put the cursor on the second (empty) line
- cmd + click the end of the first line (two cursors)
- ctrl + t to transpose

[code]

[2018-10-30 01:31] sjoshid commented on #922
Just an update. Nothing super important. I was able to setup notify feature and see how current autoreload works. Im still learning concepts widely used like Editor, View, Buffer, Ropes and so on.
Hopefully I will provide something substantial soon.

[2018-10-30 02:05] mbStavola commented on #925
I'd like to take this! Seems like a great starting point before https://github.com/xi-editor/xi-editor/issues/743.

[2018-10-30 02:51] cmyr commented on #925
Great, I think that's very true; this will give you an introduction to how styles/scopes work, which will be a prereq for #743.

[2018-10-30 09:19] ataulien commented on #962
I can confirm this also causes a panic on Ubuntu. To get a better understanding of how transpose works, I wrote a few test and found some cases which seem weird to me. The last case also causes the same panic as above.

[code]

(Since I'm not familiar with the codebase, I can only assume this goes into `event_context.rs`?)

What I found weird was that the transpose with the cursor at the `\n` func

[2018-10-30 13:23] cmyr commented on #962
The behaviour you're noticing of transpose at EOL working 'backwards' is intentional, more or less, and came out of #805 + #847; there's some backstory there.

I don't have a strong opinion about this behaviour either way, but given this behaviour I think it follows that if the cursor is on an empty line at EOF then transpose should be a noop?

The tests are good, and yea these all live in `event_

[2018-10-30 13:30] cmyr commented on #925
Thinking about this a bit more:

Your first step should be to get the new code to use the new plugin API; I'd maybe start by copying over the `sample_plugin` project, and adapting that? There's a makefile in there that will build the plugin, and you can run it by installing to (on macOS) `~/Library/Application Support/XiEditor/plugins`.

[2018-10-30 23:42] #805 closed

[2018-10-31 20:45] lord commented on #647
Ok, I'm not sure this is possible without edit priority? If I submit a normal edit that adds the two characters, the selection looks like this (between the bars):

    {|texthere}|
     ^         ^ selection

If we somehow were to disable `after`, we could get this output:

    |{texthere|}
    ^          ^ selection

We could also do `keep_selection`, which would give us:

    |{texthere}|
    ^

[2018-10-31 21:28] cmyr commented on #647
@lord this is interesting, and probably worth pinging @raphlinus over. I wasn't sure that you _could_ have a selection `|one|two|`; I thought the two regions might be merged. Seems not, although they _do_ get merged on transpose, which we'd have to call a bug.

It might be worth reading through #933 and see if that seems relevant; I haven't been following that issue too closely.

[2018-10-31 22:20] lord commented on #647
Yea, I thought they might get merged too, but I can definitely see the use case for adjacent selections?

In any case, I think I found a possible solution by extending `keep_selections`? See #968

[2018-11-01 02:08] ryanbloom commented on #883
I like the idea of a new `.xiTheme` format. Most of the time, a theme's UI colors and  syntax colors are designed to be used together, so it wouldn't make sense to mix and match 2 different files. I suppose we could use 2 formats under the hood, and group them in a folder or something. But ideally I'd favor an approach like @jansol's: one custom theme format, with backwards compatibility for TextM

[2018-11-01 02:53] cmyr commented on #883
Something else I'm thinking about quite a bit right now is how syntect is going to interoperate with, say, tree-sitter. I have a bunch of tabs open on my other computer, will share them in zulip when I get back there tomorrow.

It's true that our theme is going to have a lot in common with syntect themes. Something like a wrapper might make sense. I'm not sure if the plist format used in syntect i

[2018-11-01 05:02] scholtzan commented on #883
It looks like converting the plist format to json is relatively straight forward since it mostly consists of arrays, dictionaries, strings and numbers. I like how themes are handled in VSCode where you have a json file (which is easy to parse) which supports importing `.tmTheme` files (which could be parsed by syntect).

[2018-11-01 06:44] portstrom commented on #961
It doesn't seem to work. I just get to “Find your Zulip accounts…”.

[2018-11-01 15:12] cmyr commented on #883
Yea I think that approach is reasonable, and lets us not need a dependency for plist parsing.

[2018-11-01 19:46] raphlinus commented on #647
I have a bunch of responses, ranging from high level to granular.

I _don't_ think that bracket matching is a simple case of matching bracket characters. You have to do at least some level of syntax analysis of the input, because characters inside strings and comments don't match against those outside. My original high level conception is that you bundle basically _all_ operations that depend on s

[2018-11-01 19:56] portstrom commented on #961
@LiHRaM First I get a short description of Xi and “Log in with Github”. When authenticated with Github I get “Find your Zulip accounts” and “We will send you an email with the sign-in information for any Zulip organization(s) associated with the addresses you enter below.” and no other option than to enter email addresses to find accounts.

[2018-11-01 20:02] raphlinus commented on #961
@portstrom I can try sending you an invite if that would help. Otherwise I'm not sure what's going on. You can also ask support@zulipchat.com.

[2018-11-01 20:15] portstrom commented on #643
Then simply change the styles to be purely semantic and not include any presentational attributes. That way the frontend can manage anything it needs to manage.

From my personal notes implementing a frontend to Xi:

[2018-11-01 21:30] raphlinus commented on #647
I discussed this with @cmyr and @scholtzan. The example of trying to insert between two adjacent selections is a good one; this is not a case I'd considered, and it's not at all clear to me how priority would deal with it. The approach in #968 does seem like a pragmatic approach, and I'm ok going forward with that. I think we'll learn something from it, and if we do come up with a more principled

[2018-11-01 23:34] cmyr commented on #961
@portstrom I remember being confused as well by some step that was pre-loaded with my email; it's the email associated with your github account, but that isn't necessarily obvious? In any case it took me a bit of clicking around, not sure if you're having the same problem?

[2018-11-02 07:13] portstrom commented on #961
Now I tried the address associated with my Github account and got nothing. Why not try another chat service that works?

[2018-11-02 07:17] gr8Adakron opened #970 "How do I open the editor after installing"
![xi-screenshot](https://user-images.githubusercontent.com/16715364/47898807-6cb78b80-de9d-11e8-95df-d444cc870ec5.png)

Install using `cargo build` command but now how to open the editor?

[2018-11-02 07:33] LiHRaM commented on #970
Actually, `cargo install` installs it - if you just want to run the from source, though, you can use `cargo run`.

[2018-11-02 07:59] LiHRaM commented on #961
Could you share a screenshot of this screen? I feel like there's something I'm missing...

[2018-11-02 09:57] portstrom commented on #961
@LiHRaM
![zulip](https://user-images.githubusercontent.com/23269669/47908727-1ee75700-de8e-11e8-9d5d-068a391b3e49.png)

[2018-11-02 10:12] LiHRaM commented on #961
This is different from the screen that I saw - I had an option to register my account, and did so. Maybe you could try contacting them?

[2018-11-02 13:51] portstrom commented on #961
That screen that shows after authenticating with Github has the URL `https://auth.zulipchat.com/accounts/find/`.

[2018-11-02 14:50] cmyr commented on #250
@erlend-sh These two projects aren't particularly related, so I don't think it makes too much sense to think of compatibility; however my understanding is that Memo is designed to be a standalone system that exposes an API that can be used by any consumer, so supporting it in xi at some point in the future should definitely be possibly. It's certainly an interesting project, and I've been followin

[2018-11-02 14:54] cmyr commented on #961
@portstrom send an email to first.last@gmail.com (with the name in my github profile) and I'll send you an invite? Maybe that will be easier?

I'd also maybe try another browser or an incognito window or something in case there's something weird going on? It's working for ~40 other people so far with no complaints.

[2018-11-02 18:15] lord commented on #647
Definitely agree that auto pairing should have much better syntax info, but yea, just working on surrounding pairs for now. And yea, the adjacent selections thing is weird!

Since it sounds like InputDrift is something we'll try out for now, I'll clean up #968 with some tests and better comments, and ping that PR when it's ready for review.

[2018-11-03 12:12] portstrom commented on #961
I changed the primary email address for my Github account and removed the other address. Then I didn't get the “Find your Zulip accounts” screen, but another screen that let me register without problems.

[2018-11-03 21:11] cmyr commented on #752
this is fixed in #894

[2018-11-03 21:11] #752 closed

[2018-11-04 23:50] sjoshid commented on #922
@cmyr Thanks for offering to help.
One area of improvement I see is the method `reload` in editor.rs. I am wondering why this method reloads the entire text instead of just appending the last line to current buffer? How hard is it to extract last line from Rope (text of file being watched) and append it to current buffer?
Maybe the answer lies in the comment (method `handle_open_file_fs_event` of

[2018-11-05 18:18] euclio opened #974 "Provide an edit method to move to the next or previous blank line with and without selection"
# Xi-Editor Issue Template
- [x] I have searched existing issues and could not find my issue.
- [x] I have studied the documentation.

Such a method is needed to implement vi's `{` and `}` "paragraph" motions.

[2018-11-05 18:57] euclio commented on #467
This is a problem for terminal frontends in general, which would need to always display tabs as spaces to ensure the correct tab width.

[2018-11-06 00:53] jansol commented on #467
It also falls apart when using proportional fonts, where tabstops AFAIK usually have a width measured in pt, not characters. (At least that seems to be the case in the fancier word processors I've used)

[2018-11-06 13:30] eyelash commented on #467
@jansol good point. The core still needs to know about tabs, though, since it can't measure tabs using `measure_widths` because the width of a tab depends on its surroundings. So essentially the core needs to send tabs to the front-end but it still needs to know how exactly tabs are displayed by the front-end in order to measure everything correctly.

[2018-11-06 14:50] cmyr commented on #922
@sjoshid Currently, `reload` doesn't reload the entire text; it computes the delta between the new text and the old, and reloads just that.

The problem is that we don't necessarily know what part of the buffer has changed, so we have to figure that out.

the way that `tail` normally works (I believe) is that it keeps track of its position in the buffer, and then when the buffer changes it reads j

[2018-11-06 14:55] cmyr commented on #922
So basically, if a file is open in 'tail' mode, you want to note that somewhere, and then you want to have different logic in `handle_open_file_fs_event` that just reads the new bytes. Although to be honest, I think that the current `reload` performance should be good, and the behaviour will be more correct.

[2018-11-06 15:38] #918 closed

[2018-11-06 17:55] cmyr commented on #467
@eyelash also a good point, and something I don't think we currently handle, and which I'm not sure can be handled correctly by the current `measure_width` RPC, which assumes a given glyph run will always have the same rendered width for a given set of font/style information.

[2018-11-06 17:55] cmyr commented on #467
(cc @raphlinus)

[2018-11-07 18:58] euclio commented on #377
https://github.com/euclio/xi-aurelius is now available!

[2018-11-07 19:12] cmyr opened #975 "watch plugin dir for new files, load/reload new or changed plugins"
This is not high priority, but would be nice to have.

[2018-11-07 20:55] euclio commented on #796
Relevant: https://github.com/serde-rs/json/issues/465

[2018-11-08 02:00] sjoshid commented on #922
Great. That helps. Will focus on `handle_open_file_fs_event`.

[2018-11-09 21:37] brainkim commented on #933
I'm working on an independent implementation of the xi editor crdt and I'm wondering if it's better to panic if the engine encounters an equal priority in `Engine::edit_rev`? Currently there's just a comment saying this should never be the case. https://github.com/xi-editor/xi-editor/blob/master/rust/rope/src/engine.rs#L352

[2018-11-09 22:43] cmyr commented on #933
A panic would be completely reasonable, if two revs are equal we are in trouble. If you look at https://github.com/xi-editor/xi-editor/blob/master/rust/rope/src/engine.rs#L79 you can see some napkin math on the probabilities (tl dr: a collision is unlikely.)

[2018-11-09 23:01] brainkim commented on #933
@cmyr In my implementation I'm using uuids, so I'm not so much worried about the client id collisions as I am worried about plugins writing concurrent edits with the same priority on the same client (possibly due to an oversight by the plugin author). I've only really looked at the rope/crdt in this project so maybe there's some logic in the plugin code which prevents this?

[2018-11-10 16:05] cmyr commented on #933
mm, interesting, missed that. I'm not sure how much of a problem this is, but one option would be to use plugin id as a tiebreaker.

[2018-11-10 18:35] #728 closed

[2018-11-11 21:29] infosisio opened #985 "Syntax Highlighting Failure"
I would like to point out that there are no clear instructions on how to get syntax highlighting working.

I have tried to utilize the make file by redirecting it to the folder of xi and it seems to have been installed but some failure is reported in the logs (I don't have those messages around right now to report them)

Any plans to make it easy for users of popular distributions to install synta

[2018-11-11 21:29] #985 closed

[2018-11-11 21:30] infosisio commented on #985
I made a mistake in posting in the wrong repo, I wanted to post in one of the frontends. I apologize.

[2018-11-12 19:26] cmyr opened #987 "Add 'is_identity' or 'is_noop' fn to Delta"
This is a simple addition to the `Delta` data type in the rope crate.

Specifically, I would like a simple function that checks whether or not a given delta will cause no change when applied.

For this to be true, the delta must have a single `Copy(start, end)` element where `end == delta.base_len`.

[2018-11-12 21:16] #987 closed

[2018-11-12 22:34] cmyr opened #989 "word wrap ignores font face and size"
For word wrapping, we determine the widths of lines by asking the frontend to measure individual substrings. Because the width can depend on style information (whether the text is bold or italic, etc) we do this per-style. We do not, however, currently include font information, and we should.

This means that if you increase the font size of a document that has already been measured, the old sizes

[2018-11-13 00:30] lord commented on #933
@cmyr

So I spent some time thinking about how adjacent selections could possibly integrate with edit priority. The problem (from #647) looks like this, with two adjacent selections.

    |text|here|
    ^    ^       selection A
         ^    ^  selection B

Let's say two plugins both do a surround edit, one plugin wrapping `[]` with high priority, and the other wrapping `{}` with a low priority.

[2018-11-16 21:39] cmyr opened #992 "fix xi-trace clippy lints"
xi-trace is currently failing the clippy section of CI on windows. See [this job](https://travis-ci.com/xi-editor/xi-editor/jobs/159153709) for an example.

This should be as simple as making the changes suggested in the link above, and making sure that clippy passes on windows.

[2018-11-16 21:48] cmyr opened #993 "Be defensive when handling plugin edits"
Currently, malformed edits received from plugins can crash the editor, in at least two ways:

- by specifying an invalid revision
- by providing a delta with an incorrect length for a given revision

We should be more defensive when receiving plugin edits. More specifically, we should not crash if a plugin specifies an invalid revision; we should discard the edit and log an error. In the future we

[2018-11-17 00:34] #424 closed

[2018-11-17 01:11] ryanbloom commented on #826
The more I look at the code (and the more @cmyr helpfully explains things to me), the less my initial comment makes sense as a way to move forward. Every operation is *mostly* the same as some other operation, but also different enough to make merging them a pain. I'll try to summarize my current thinking here.

## Scope
These are the operations as they're currently represented:

### "Gestures"
*

[2018-11-18 06:43] scholtzan commented on #643
Brain dump of how I think annotations could be implemented:

I guess it makes sense to represent annotations as `Spans<Annotation>`. To differentiate between different annotation types, we would have different annotation `struct`, for example `SelectionAnnotation` and `HighlightAnnotation`, that implement the `Annotation` trait. These annotation types have fields which represent the type-related m

[2018-11-18 12:03] ThisisGurwinder commented on #992
@cmyr I am new to rust language and want to contribute.
Can I try my luck with this?

[2018-11-18 12:53] jansol commented on #992
Sure, go ahead. Feel free to ask if any questions arise.

[2018-11-18 13:38] ThisisGurwinder commented on #992
Can we fix this issue with following PR?

https://github.com/xi-editor/xi-editor/pull/997

[2018-11-18 23:19] #992 closed

[2018-11-20 02:30] cmyr commented on #922
yes, you will need to generate a delta with the newly loaded contents and apply that to the engine. If you have a `Rope` that contains the contents that you'll want to append, you'll want to do something like this:

[code]

[2018-11-21 01:59] nangtrongvuon commented on #962
Sublime behavior for this is transpose on empty final line is a noop, so maybe that could be a fix?

[2018-11-21 03:53] cmyr commented on #962
@nangtrongvuon this issue isn't about the behaviour of transpose on its own, I don't think; it's about the collision of two different transpose operations?

[2018-11-21 05:55] nangtrongvuon commented on #962
@cmyr Woops, I just tested this same scenario in Sublime, and it worked fine. You're right - I think this is more on how transpose is implemented.

[2018-11-21 14:43] cmyr opened #1001 "File syntax setting not correctly updated on save"
On commit a26d3c0, we do not seem to be setting syntax when the file is saved.

Reproduction:

- create a new file
- save it with a known file extension (tested with `.rs`, `.md`)
- insert some text that should get syntax highlighting
- there is no syntax highlighting.

The first place to look for this would be in `tabs::do_save` and `event_context::after_save`. I think this check used to happen i

[2018-11-21 14:50] cmyr opened #1002 "block reindent feature"
This would be follow-up to #971; it would be nice if we had the ability to recalculate the indentation of a series of lines, based on context.

This would need to also be implemented in the syntect plugin, likely as a custom command such as with comment toggling, in #991.

The basic algorithm for this is pretty straight forward; we take the indentation of the previous line as the reference, and th

[2018-11-21 15:13] cmyr opened #1003 "auto indent followup work"
There are a few pieces of followup to #991 that would be nice to do at some point:

- [ ] Only send a single delta per edit: currently, when adjusting indentation when there are multiple cursors, we will send a delta per cursor, which is less efficient. To correct this, we should create a single `DeltaBuilder` in the `consider_indentation` fn, and then pass that into the functions that compute the

[2018-11-21 15:20] cmyr opened #1004 "match indentation level on paste"
Another self-contained bit of followup to #991: it would be nice if (as an option? as a default behaviour?) we would match the indentation of pasted text to appropriate level for the paste location.

I think this can be as simple as computing the 'delta whitespace' for the first pasted line, and then adjusting each subsequent line by the same amount; that is, we assume that the pasted block is for

[2018-11-21 15:49] cmyr commented on #1004
yes, sorry if that was unclear; there would only be a single delta, 'delta whitespace' is probably a confusing term. I just mean the difference in 'whitespace units' between the source and the destination.

[2018-11-21 16:35] cmyr opened #1022 "Width for word wrap calculated incorrectly?"
It's possible this is a core bug, but my initial suspicion is that it's in xi-mac.

Sometimes, with `word_wrap = true` in the config, it seems that the width used when calculating the word wrap is too small, and we end up with lines wider than the view.

While this is possible when a single long line has no suitable break points, it should be impossible when a breakpoint is available.

![wrap_clip

[2018-11-21 16:53] cmyr opened #1005 "Allow font size (and face?) to be set per-view"
Currently font size is a global setting. We should allow it to be set per-view.

I'm not entirely prepared to think through all the implications of this. Some of them are detailed in #989.

This is definitely a "start exploring" sort of issue. 😁

[2018-11-21 17:16] #970 closed

[2018-11-21 17:29] cmyr commented on #974
Does `moveToEndOfParagraph` do what you want? The selection variants don't exist, but they could be added.

[2018-11-21 17:30] #961 closed

[2018-11-22 09:57] eyelash commented on #458
I don't think this is a duplicate of #326. This issue is about extending the functionality of the existing undo command whereas #326 is about implementing a new soft undo command.